.project-list .project {
	margin-bottom: 10px;
}

.project {
	position: relative;
	overflow: hidden;
	border-radius: 30px;
	min-height: 250px;

	@media(max-width:992px) {
		max-height: 506px;

		&::after {
			display: block;
			content: '';
			padding-bottom: 56.6%;
		}
	}

	&__link {
		position: absolute;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 4;
	}

	&__flex {
		padding: 50px;
		min-height: 606px;
		display: flex;
		flex-direction: column;
		z-index: 2;
		position: relative;
		color: #fff;
		pointer-events: none;

		.ours-project & {
			pointer-events: initial !important;
		}

		@media(max-width:992px) {
			padding: 20px;
			min-height: inherit;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;

		}
	}

	&__bg {
		position: absolute;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;

		&::after {
			display: block;
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			z-index: 3;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.4);
		}

		img {
			position: absolute;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__slider {
		position: absolute !important;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;

		&-nav {
			position: absolute;
			right: 50px;
			top: 90px;
			z-index: 30;
			display: flex;
			flex-direction: row;
			gap: 15px;

			@media (max-width: 992px) {
				top: 55px;
				right: 20px;
			}
		}

		&-prev {
			display: block;
			width: 22px;
			height: 15px;
			cursor: pointer;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url("data:image/svg+xml,%3Csvg width='22' height='15' viewBox='0 0 22 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.30005 7.50003L8.43338 1.3667M2.30005 7.50003L8.43338 13.6334M2.30005 7.50003H21.4667' stroke='%23fff' stroke-width='2'/%3E%3C/svg%3E%0A");
		}

		&-next {
			display: block;
			width: 22px;
			height: 15px;
			cursor: pointer;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url("data:image/svg+xml,%3Csvg width='22' height='15' viewBox='0 0 22 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.7 7.50003L13.5666 1.3667M19.7 7.50003L13.5666 13.6334M19.7 7.50003H0.533285' stroke='%23fff' stroke-width='2'/%3E%3C/svg%3E%0A");
		}

		&-paginator {
			position: absolute;
			right: 50px;
			top: 55px;
			z-index: 10;
			color: #fff;
			font-weight: 400;
			font-size: 16px;
			line-height: 26px;

			text-align: right;
			left: initial !important;

			@media(max-width:992px) {
				font-size: 14px;
				top: 25px;
				right: 20px;
			}

			&-divider {
				width: 44px;
				height: 1px;
				position: relative;
				margin: 0px 10px;
				display: inline-block;
				top: -4px;
				background: #fff;

				@media(max-width:992px) {
					width: 20px;
				}
			}
		}

		.swiper-slide {
			line-height: 0;

			img {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				z-index: 1;
			}

			picture {
				position: absolute;
				z-index: 1;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;

			}

			&::after {
				display: block;
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				z-index: 3;
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, 0.4);
			}
		}
	}

	&__tags {
		margin-bottom: auto;
		display: flex;
		flex-direction: row;
	}

	&__tag {
		font-weight: 700;
		padding: 6px 18px;
		font-size: 14px;
		line-height: 22px;
		background: rgba(255, 255, 255, 0.2);
		border: 1px solid #FFFFFF;
		box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
		border-radius: 50px;
		text-transform: uppercase;
	}

	&__date {
		font-weight: 400;
		font-size: 16px;
		margin-bottom: 10px;


		@media(max-width:992px) {
			font-size: 14px;
			padding-top: 20px;
		}
	}

	&__title {
		font-weight: 800;
		font-size: 32px;
		line-height: 140%;

		text-transform: uppercase;
		margin-bottom: 20px;

		@media(max-width:992px) {
			font-size: 24px
		}
	}

	&__body {
		p {
			max-width: 648px;
		}
	}
}