extends ../../layout/layout
block title
	title Салфокс
block content
	+breadcrumb(['Главная'], 'Сертификаты')
	.block
		.inner
			.block__head
				h1 Разрешительная документация
				a(href="#").btn._white Скачать все 
			.row._gap-22.gallery-popup
				.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-1','jpg')
					a(href="img/s-1.jpg",title='Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"').sertificate-it__text Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"
				.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-2','jpg')
					a(href="img/s-2.jpg",title='Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"').sertificate-it__text Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"
				.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-3','jpg')
					a(href="img/s-3.jpg",title="Диплом за второе место в номинации «Благоприятная среда обитания. Экология» выставки «Здоровье нации – основа процветания России»").sertificate-it__text Диплом за второе место в номинации «Благоприятная среда обитания. Экология» выставки «Здоровье нации – основа процветания России»
				.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-4','jpg')
					a(href="img/s-4.jpg",title=" Разъяснение положений СанПиН 2.1.3.2630-10 о системе очистки воздуха в медицинских учреждениях").sertificate-it__text Разъяснение положений СанПиН 2.1.3.2630-10 о системе очистки воздуха в медицинских учреждениях
	.block.sertificate-block
		.inner
			.block__head
				h2 Разрешительная документация
				a(href="#").btn._white Скачать все 
			.row._gap-22.gallery-popup
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-1','jpg')
					a(href="img/s-1.jpg",title='Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"').sertificate-it__text Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-2','jpg')
					a(href="img/s-2.jpg",title='Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"').sertificate-it__text Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-3','jpg')
					a(href="img/s-3.jpg",title="Диплом за второе место в номинации «Благоприятная среда обитания. Экология» выставки «Здоровье нации – основа процветания России»").sertificate-it__text Диплом за второе место в номинации «Благоприятная среда обитания. Экология» выставки «Здоровье нации – основа процветания России»
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-4','jpg')
					a(href="img/s-4.jpg",title=" Разъяснение положений СанПиН 2.1.3.2630-10 о системе очистки воздуха в медицинских учреждениях").sertificate-it__text Разъяснение положений СанПиН 2.1.3.2630-10 о системе очистки воздуха в медицинских учреждениях
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-1','jpg')
					a(href="img/s-1.jpg",title='Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"').sertificate-it__text Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-2','jpg')
					a(href="img/s-2.jpg",title='Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"').sertificate-it__text Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-3','jpg')
					a(href="img/s-3.jpg",title="Диплом за второе место в номинации «Благоприятная среда обитания. Экология» выставки «Здоровье нации – основа процветания России»").sertificate-it__text Диплом за второе место в номинации «Благоприятная среда обитания. Экология» выставки «Здоровье нации – основа процветания России»
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-4','jpg')
					a(href="img/s-4.jpg",title=" Разъяснение положений СанПиН 2.1.3.2630-10 о системе очистки воздуха в медицинских учреждениях").sertificate-it__text Разъяснение положений СанПиН 2.1.3.2630-10 о системе очистки воздуха в медицинских учреждениях
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-1','jpg')
					a(href="img/s-1.jpg",title='Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"').sertificate-it__text Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-2','jpg')
					a(href="img/s-2.jpg",title='Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"').sertificate-it__text Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-3','jpg')
					a(href="img/s-3.jpg",title="Диплом за второе место в номинации «Благоприятная среда обитания. Экология» выставки «Здоровье нации – основа процветания России»").sertificate-it__text Диплом за второе место в номинации «Благоприятная среда обитания. Экология» выставки «Здоровье нации – основа процветания России»
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-4','jpg')
					a(href="img/s-4.jpg",title=" Разъяснение положений СанПиН 2.1.3.2630-10 о системе очистки воздуха в медицинских учреждениях").sertificate-it__text Разъяснение положений СанПиН 2.1.3.2630-10 о системе очистки воздуха в медицинских учреждениях
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-1','jpg')
					a(href="img/s-1.jpg",title='Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"').sertificate-it__text Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-2','jpg')
					a(href="img/s-2.jpg",title='Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"').sertificate-it__text Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-3','jpg')
					a(href="img/s-3.jpg",title="Диплом за второе место в номинации «Благоприятная среда обитания. Экология» выставки «Здоровье нации – основа процветания России»").sertificate-it__text Диплом за второе место в номинации «Благоприятная среда обитания. Экология» выставки «Здоровье нации – основа процветания России»
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-4','jpg')
					a(href="img/s-4.jpg",title=" Разъяснение положений СанПиН 2.1.3.2630-10 о системе очистки воздуха в медицинских учреждениях").sertificate-it__text Разъяснение положений СанПиН 2.1.3.2630-10 о системе очистки воздуха в медицинских учреждениях
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-1','jpg')
					a(href="img/s-1.jpg",title='Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"').sertificate-it__text Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-2','jpg')
					a(href="img/s-2.jpg",title='Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"').sertificate-it__text Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-3','jpg')
					a(href="img/s-3.jpg",title="Диплом за второе место в номинации «Благоприятная среда обитания. Экология» выставки «Здоровье нации – основа процветания России»").sertificate-it__text Диплом за второе место в номинации «Благоприятная среда обитания. Экология» выставки «Здоровье нации – основа процветания России»
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-4','jpg')
					a(href="img/s-4.jpg",title=" Разъяснение положений СанПиН 2.1.3.2630-10 о системе очистки воздуха в медицинских учреждениях").sertificate-it__text Разъяснение положений СанПиН 2.1.3.2630-10 о системе очистки воздуха в медицинских учреждениях
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-1','jpg')
					a(href="img/s-1.jpg",title='Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"').sertificate-it__text Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-2','jpg')
					a(href="img/s-2.jpg",title='Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"').sertificate-it__text Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-3','jpg')
					a(href="img/s-3.jpg",title="Диплом за второе место в номинации «Благоприятная среда обитания. Экология» выставки «Здоровье нации – основа процветания России»").sertificate-it__text Диплом за второе место в номинации «Благоприятная среда обитания. Экология» выставки «Здоровье нации – основа процветания России»
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-4','jpg')
					a(href="img/s-4.jpg",title=" Разъяснение положений СанПиН 2.1.3.2630-10 о системе очистки воздуха в медицинских учреждениях").sertificate-it__text Разъяснение положений СанПиН 2.1.3.2630-10 о системе очистки воздуха в медицинских учреждениях
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-1','jpg')
					a(href="img/s-1.jpg",title='Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"').sertificate-it__text Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-2','jpg')
					a(href="img/s-2.jpg",title='Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"').sertificate-it__text Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-3','jpg')
					a(href="img/s-3.jpg",title="Диплом за второе место в номинации «Благоприятная среда обитания. Экология» выставки «Здоровье нации – основа процветания России»").sertificate-it__text Диплом за второе место в номинации «Благоприятная среда обитания. Экология» выставки «Здоровье нации – основа процветания России»
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-4','jpg')
					a(href="img/s-4.jpg",title=" Разъяснение положений СанПиН 2.1.3.2630-10 о системе очистки воздуха в медицинских учреждениях").sertificate-it__text Разъяснение положений СанПиН 2.1.3.2630-10 о системе очистки воздуха в медицинских учреждениях
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-1','jpg')
					a(href="img/s-1.jpg",title='Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"').sertificate-it__text Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-2','jpg')
					a(href="img/s-2.jpg",title='Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"').sertificate-it__text Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-3','jpg')
					a(href="img/s-3.jpg",title="Диплом за второе место в номинации «Благоприятная среда обитания. Экология» выставки «Здоровье нации – основа процветания России»").sertificate-it__text Диплом за второе место в номинации «Благоприятная среда обитания. Экология» выставки «Здоровье нации – основа процветания России»
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-4','jpg')
					a(href="img/s-4.jpg",title=" Разъяснение положений СанПиН 2.1.3.2630-10 о системе очистки воздуха в медицинских учреждениях").sertificate-it__text Разъяснение положений СанПиН 2.1.3.2630-10 о системе очистки воздуха в медицинских учреждениях
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-1','jpg')
					a(href="img/s-1.jpg",title='Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"').sertificate-it__text Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-2','jpg')
					a(href="img/s-2.jpg",title='Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"').sertificate-it__text Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-3','jpg')
					a(href="img/s-3.jpg",title="Диплом за второе место в номинации «Благоприятная среда обитания. Экология» выставки «Здоровье нации – основа процветания России»").sertificate-it__text Диплом за второе место в номинации «Благоприятная среда обитания. Экология» выставки «Здоровье нации – основа процветания России»
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-4','jpg')
					a(href="img/s-4.jpg",title=" Разъяснение положений СанПиН 2.1.3.2630-10 о системе очистки воздуха в медицинских учреждениях").sertificate-it__text Разъяснение положений СанПиН 2.1.3.2630-10 о системе очистки воздуха в медицинских учреждениях
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-1','jpg')
					a(href="img/s-1.jpg",title='Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"').sertificate-it__text Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-2','jpg')
					a(href="img/s-2.jpg",title='Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"').sertificate-it__text Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-3','jpg')
					a(href="img/s-3.jpg",title="Диплом за второе место в номинации «Благоприятная среда обитания. Экология» выставки «Здоровье нации – основа процветания России»").sertificate-it__text Диплом за второе место в номинации «Благоприятная среда обитания. Экология» выставки «Здоровье нации – основа процветания России»
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-4','jpg')
					a(href="img/s-4.jpg",title=" Разъяснение положений СанПиН 2.1.3.2630-10 о системе очистки воздуха в медицинских учреждениях").sertificate-it__text Разъяснение положений СанПиН 2.1.3.2630-10 о системе очистки воздуха в медицинских учреждениях
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-1','jpg')
					a(href="img/s-1.jpg",title='Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"').sertificate-it__text Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-2','jpg')
					a(href="img/s-2.jpg",title='Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"').sertificate-it__text Институт вирусологии им. Д.И.Ивановского. ФГБУ "НИЦЭМ им. Н.Ф. Гамалеи"
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-3','jpg')
					a(href="img/s-3.jpg",title="Диплом за второе место в номинации «Благоприятная среда обитания. Экология» выставки «Здоровье нации – основа процветания России»").sertificate-it__text Диплом за второе место в номинации «Благоприятная среда обитания. Экология» выставки «Здоровье нации – основа процветания России»
				.col-6.col-lg-3.sertificate-it
					.sertificate-it__img 
						+picture('s-4','jpg')
					a(href="img/s-4.jpg",title=" Разъяснение положений СанПиН 2.1.3.2630-10 о системе очистки воздуха в медицинских учреждениях").sertificate-it__text Разъяснение положений СанПиН 2.1.3.2630-10 о системе очистки воздуха в медицинских учреждениях
			.sertificate-block__more(data-pagelenght='9')
				span
					<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M9 0V18M0 9H18" stroke="#0A2973" stroke-width="2"/>
					</svg>
					| Показать еще

