extends ../../layout/layout
block title
	title Салфокс
block content
	.text
		h1 h1  Muller extrabold 50/60 кернинг -4% 
		p Например: запах табачного дыма – аэрозольное загрязнение, запах пепельницы с потухшими окурками – газовое загрязнение, а запах плесени – биоаэрозоль с адсорбированными молекулами запаха. Чтобы очистить воздух от всех классов загрязнителей, в современных воздухоочистителях, как правило, применяются несколько типов фильтров.
		h2 h2  muller bold 40/50 кернинг -4% 
		p Например: запах табачного дыма – аэрозольное загрязнение, запах пепельницы с потухшими окурками – газовое загрязнение, а запах плесени – биоаэрозоль с адсорбированными молекулами запаха. Чтобы очистить воздух от всех классов загрязнителей, в современных воздухоочистителях, как правило, применяются несколько типов фильтров.
		h3 h3  muler bold 20/28 кернинг 
		p 
			big  Muller Regular 20/28 кернинг -4% 
		p  Muller light 16/28 кернинг -4% 
		ul
			li Загрязнители воздуха делятся на газообразные, аэрозольные и микробиологические. Все они либо сами являются источниками запахов, либо способны переносить (распространять) как запахи, так и токсичные вещества
			li Загрязнители воздуха делятся на газообразные, аэрозольные и микробиологические. Все они либо сами являются источниками запахов, либо способны переносить (распространять) как запахи, так и токсичные вещества
			li Загрязнители воздуха делятся на газообразные, аэрозольные и микробиологические. Все они либо сами являются источниками запахов, либо способны переносить (распространять) как запахи, так и токсичные вещества
			li Загрязнители воздуха делятся на газообразные, аэрозольные и микробиологические. Все они либо сами являются источниками запахов, либо способны переносить (распространять) как запахи, так и токсичные вещества
			li Загрязнители воздуха делятся на газообразные, аэрозольные и микробиологические. Все они либо сами являются источниками запахов, либо способны переносить (распространять) как запахи, так и токсичные вещества
	div(style="margin-bottom:10px")
		a(href="#").btn  Бесплатная доставка
		a(href="#").btn._white  Бесплатная доставка
		a(href="#").btn._big  Бесплатная доставка
	.b(style="background: #0A2973; padding:50px;")
		a(href="#").btn._invert  Бесплатная доставка