extends ../../layout/layout
block title
	title Салфокс
block content
	+breadcrumb(['Главная','О компании'], 'Новости и статьи')
	.inner.block.news-page
		.news-page__head 
			.news-page__left 
				h1 Статьи 
				a.news-page__head-link(href="#") Новости
			.news-page__filters
					button(type="button",data-filter='all').news-page__filter.btn._white._active Все
					button(type="button",data-filter='КНС').news-page__filter.btn._white КНС
					button(type="button",data-filter='Нефтепром').news-page__filter.btn._white Нефтепром
		.news-page__row.row._gap-22(data-pagelength="9")
			.col-lg-4.article-item(data-filter="КНС")
				.article-item__head 
					a(href="#") статьи
					span.article-item__divider
					| 13.09.2022
					span.article-item__divider
					| 10:34
				.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
				a(href="#").article-item__more читать целиком 
					<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
					</svg>
			.col-lg-4.article-item(data-filter="Нефтепром")
				.article-item__head 
					a(href="#") статьи
					span.article-item__divider
					| 13.09.2022
					span.article-item__divider
					| 10:34
				.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
				a(href="#").article-item__more читать целиком 
					<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
					</svg>
		
			.col-lg-4.article-item(data-filter="КНС")
				.article-item__head 
					a(href="#") статьи
					span.article-item__divider
					| 13.09.2022
					span.article-item__divider
					| 10:34
				.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
				a(href="#").article-item__more читать целиком 
					<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
					</svg>
			.col-lg-4.article-item(data-filter="Нефтепром")
				.article-item__head 
					a(href="#") статьи
					span.article-item__divider
					| 13.09.2022
					span.article-item__divider
					| 10:34
				.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
				a(href="#").article-item__more читать целиком 
					<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
					</svg>
		
			.col-lg-4.article-item(data-filter="КНС")
				.article-item__head 
					a(href="#") статьи
					span.article-item__divider
					| 13.09.2022
					span.article-item__divider
					| 10:34
				.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
				a(href="#").article-item__more читать целиком 
					<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
					</svg>
			.col-lg-4.article-item(data-filter="Нефтепром")
				.article-item__head 
					a(href="#") статьи
					span.article-item__divider
					| 13.09.2022
					span.article-item__divider
					| 10:34
				.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
				a(href="#").article-item__more читать целиком 
					<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
					</svg>
		
			.col-lg-4.article-item(data-filter="КНС")
				.article-item__head 
					a(href="#") статьи
					span.article-item__divider
					| 13.09.2022
					span.article-item__divider
					| 10:34
				.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
				a(href="#").article-item__more читать целиком 
					<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
					</svg>
			.col-lg-4.article-item(data-filter="Нефтепром")
				.article-item__head 
					a(href="#") статьи
					span.article-item__divider
					| 13.09.2022
					span.article-item__divider
					| 10:34
				.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
				a(href="#").article-item__more читать целиком 
					<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
					</svg>
		
			.col-lg-4.article-item(data-filter="КНС")
				.article-item__head 
					a(href="#") статьи
					span.article-item__divider
					| 13.09.2022
					span.article-item__divider
					| 10:34
				.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
				a(href="#").article-item__more читать целиком 
					<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
					</svg>
			.col-lg-4.article-item(data-filter="Нефтепром")
				.article-item__head 
					a(href="#") статьи
					span.article-item__divider
					| 13.09.2022
					span.article-item__divider
					| 10:34
				.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
				a(href="#").article-item__more читать целиком 
					<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
					</svg>
		
			.col-lg-4.article-item(data-filter="КНС")
				.article-item__head 
					a(href="#") статьи
					span.article-item__divider
					| 13.09.2022
					span.article-item__divider
					| 10:34
				.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
				a(href="#").article-item__more читать целиком 
					<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
					</svg>
			.col-lg-4.article-item(data-filter="Нефтепром")
				.article-item__head 
					a(href="#") статьи
					span.article-item__divider
					| 13.09.2022
					span.article-item__divider
					| 10:34
				.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
				a(href="#").article-item__more читать целиком 
					<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
					</svg>
		
			.col-lg-4.article-item(data-filter="КНС")
				.article-item__head 
					a(href="#") статьи
					span.article-item__divider
					| 13.09.2022
					span.article-item__divider
					| 10:34
				.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
				a(href="#").article-item__more читать целиком 
					<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
					</svg>
			.col-lg-4.article-item(data-filter="Нефтепром")
				.article-item__head 
					a(href="#") статьи
					span.article-item__divider
					| 13.09.2022
					span.article-item__divider
					| 10:34
				.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
				a(href="#").article-item__more читать целиком 
					<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
					</svg>
		
			.col-lg-4.article-item(data-filter="КНС")
				.article-item__head 
					a(href="#") статьи
					span.article-item__divider
					| 13.09.2022
					span.article-item__divider
					| 10:34
				.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
				a(href="#").article-item__more читать целиком 
					<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
					</svg>
			.col-lg-4.article-item(data-filter="Нефтепром")
				.article-item__head 
					a(href="#") статьи
					span.article-item__divider
					| 13.09.2022
					span.article-item__divider
					| 10:34
				.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
				a(href="#").article-item__more читать целиком 
					<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
					</svg>
		
			.col-lg-4.article-item(data-filter="КНС")
				.article-item__head 
					a(href="#") статьи
					span.article-item__divider
					| 13.09.2022
					span.article-item__divider
					| 10:34
				.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
				a(href="#").article-item__more читать целиком 
					<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
					</svg>
			.col-lg-4.article-item(data-filter="Нефтепром")
				.article-item__head 
					a(href="#") статьи
					span.article-item__divider
					| 13.09.2022
					span.article-item__divider
					| 10:34
				.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
				a(href="#").article-item__more читать целиком 
					<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
					</svg>
		
			.col-lg-4.article-item(data-filter="КНС")
				.article-item__head 
					a(href="#") статьи
					span.article-item__divider
					| 13.09.2022
					span.article-item__divider
					| 10:34
				.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
				a(href="#").article-item__more читать целиком 
					<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
					</svg>
			.col-lg-4.article-item(data-filter="Нефтепром")
				.article-item__head 
					a(href="#") статьи
					span.article-item__divider
					| 13.09.2022
					span.article-item__divider
					| 10:34
				.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
				a(href="#").article-item__more читать целиком 
					<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
					</svg>
		
			.col-lg-4.article-item(data-filter="КНС")
				.article-item__head 
					a(href="#") статьи
					span.article-item__divider
					| 13.09.2022
					span.article-item__divider
					| 10:34
				.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
				a(href="#").article-item__more читать целиком 
					<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
					</svg>
			.col-lg-4.article-item(data-filter="Нефтепром")
				.article-item__head 
					a(href="#") статьи
					span.article-item__divider
					| 13.09.2022
					span.article-item__divider
					| 10:34
				.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
				a(href="#").article-item__more читать целиком 
					<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
					</svg>
		
			.col-lg-4.article-item(data-filter="КНС")
				.article-item__head 
					a(href="#") статьи
					span.article-item__divider
					| 13.09.2022
					span.article-item__divider
					| 10:34
				.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
				a(href="#").article-item__more читать целиком 
					<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
					</svg>
			.col-lg-4.article-item(data-filter="Нефтепром")
				.article-item__head 
					a(href="#") статьи
					span.article-item__divider
					| 13.09.2022
					span.article-item__divider
					| 10:34
				.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
				a(href="#").article-item__more читать целиком 
					<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
					</svg>
		
			.col-lg-4.article-item(data-filter="КНС")
				.article-item__head 
					a(href="#") статьи
					span.article-item__divider
					| 13.09.2022
					span.article-item__divider
					| 10:34
				.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
				a(href="#").article-item__more читать целиком 
					<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
					</svg>
			.col-lg-4.article-item(data-filter="Нефтепром")
				.article-item__head 
					a(href="#") статьи
					span.article-item__divider
					| 13.09.2022
					span.article-item__divider
					| 10:34
				.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
				a(href="#").article-item__more читать целиком 
					<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
					</svg>
		
			.col-lg-4.article-item(data-filter="КНС")
				.article-item__head 
					a(href="#") статьи
					span.article-item__divider
					| 13.09.2022
					span.article-item__divider
					| 10:34
				.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
				a(href="#").article-item__more читать целиком 
					<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
					</svg>
			.col-lg-4.article-item(data-filter="Нефтепром")
				.article-item__head 
					a(href="#") статьи
					span.article-item__divider
					| 13.09.2022
					span.article-item__divider
					| 10:34
				.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
				a(href="#").article-item__more читать целиком 
					<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
					</svg>
		
			.col-lg-4.article-item(data-filter="КНС")
				.article-item__head 
					a(href="#") статьи
					span.article-item__divider
					| 13.09.2022
					span.article-item__divider
					| 10:34
				.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
				a(href="#").article-item__more читать целиком 
					<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
					</svg>
			.col-lg-4.article-item(data-filter="Нефтепром")
				.article-item__head 
					a(href="#") статьи
					span.article-item__divider
					| 13.09.2022
					span.article-item__divider
					| 10:34
				.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
				a(href="#").article-item__more читать целиком 
					<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
					</svg>
		
			.col-lg-4.article-item(data-filter="КНС")
				.article-item__head 
					a(href="#") статьи
					span.article-item__divider
					| 13.09.2022
					span.article-item__divider
					| 10:34
				.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
				a(href="#").article-item__more читать целиком 
					<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
					</svg>
			.col-lg-4.article-item(data-filter="Нефтепром")
				.article-item__head 
					a(href="#") статьи
					span.article-item__divider
					| 13.09.2022
					span.article-item__divider
					| 10:34
				.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
				a(href="#").article-item__more читать целиком 
					<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
					</svg>
		
			.col-lg-4.article-item(data-filter="КНС")
				.article-item__head 
					a(href="#") статьи
					span.article-item__divider
					| 13.09.2022
					span.article-item__divider
					| 10:34
				.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
				a(href="#").article-item__more читать целиком 
					<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
					</svg>
			.col-lg-4.article-item(data-filter="Нефтепром")
				.article-item__head 
					a(href="#") статьи
					span.article-item__divider
					| 13.09.2022
					span.article-item__divider
					| 10:34
				.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
				a(href="#").article-item__more читать целиком 
					<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
					</svg>
		
			.col-lg-4.article-item(data-filter="КНС")
				.article-item__head 
					a(href="#") статьи
					span.article-item__divider
					| 13.09.2022
					span.article-item__divider
					| 10:34
				.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
				a(href="#").article-item__more читать целиком 
					<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
					</svg>
			.col-lg-4.article-item(data-filter="Нефтепром")
				.article-item__head 
					a(href="#") статьи
					span.article-item__divider
					| 13.09.2022
					span.article-item__divider
					| 10:34
				.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
				a(href="#").article-item__more читать целиком 
					<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
					</svg>
		
		.news-page__more
			span
				<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M9 0V18M0 9H18" stroke="#0A2973" stroke-width="2"/>
				</svg>
				| Показать еще


