extends ../../layout/layout
block title
	title Салфокс
block content
	+breadcrumb(['Главная'], 'Канализационно-насосные станции')
	.front-main.block
		.front-main__air
		img(src="img/kns-main-bg.svg", alt="").front-main__bg
		h1 Очистка газовоздушных смесей 
			br
			| от сероводорода
		p
			big Эффективные решения по удалению сероводорода в системах дыхания нефтехранилищ.

		.nefteprom.front-main__main
					//- img(src="img/nefteprom-2.svg", alt="").nefteprom__bg
					img(src="img/nefteprom-1.svg", alt="").nefteprom__anim
					img(src="img/fire.gif", alt="").nefteprom__fire
					.nefteprom__left
					.nefteprom__leftb
					.nefteprom__right
					.nefteprom__rightb
					<svg viewBox="0 0 970 520" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g clip-path="url(#clip0_736_5626)">
						<path d="M930.091 518.944H39.9087V499.852L116.442 491.688H854.43L930.11 499.852V518.944H930.091Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M645.869 518.907H460.37V491.559H645.869V518.907Z" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M115.886 518.944H0.927734V491.688H115.886V518.944Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M854.133 518.944H969.091V491.688H854.133V518.944V518.944Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M650.934 445.973V382.779C650.934 373.874 658.151 366.656 667.076 366.656H734.203C743.108 366.656 750.326 373.874 750.326 382.779V445.973C750.326 454.879 743.108 462.096 734.203 462.096H667.076C658.17 462.096 650.934 454.879 650.934 445.973Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M756.987 448.125L766.338 491.54L727.189 448.125" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M644.255 448.125L634.904 491.54L674.052 448.125" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M674.052 448.125L700.045 491.54L727.171 448.125" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M650.934 350.255V287.061C650.934 278.155 658.151 270.938 667.076 270.938H734.203C743.108 270.938 750.326 278.155 750.326 287.061V350.255C750.326 359.16 743.108 366.378 734.203 366.378H667.076C658.17 366.378 650.934 359.16 650.934 350.255Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M644.255 295.707V284.909H756.968V295.707H644.255Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M644.255 352.407V341.609H756.968V352.407H644.255Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M534.881 384.709H565.179V400.22H534.881V384.709V384.709Z" fill="#BED5E5"/>
						<path d="M576.571 232.606H544.511L546.515 184.979H574.586L576.59 232.606H576.571Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M574.568 184.979H546.496L548.055 147.909H573.009L574.568 184.979V184.979Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M582.935 384.709H538.11L541.821 296.041H579.206L582.935 384.709V384.709Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M579.224 296.041H541.839L544.511 232.606H576.571L579.224 296.041Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M590.895 400.22H530.188V384.709H590.895V400.22V400.22Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M544.511 154.273H576.571" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M544.511 162.808H576.571" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M510.354 468.756H610.71V491.558H510.354V468.756V468.756Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M508.739 414.654H612.324C616.406 414.654 619.708 417.957 619.708 422.038V461.353C619.708 465.435 616.406 468.738 612.324 468.738H508.739C504.658 468.738 501.355 465.435 501.355 461.353V422.038C501.355 417.957 504.658 414.654 508.739 414.654Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M510.354 414.654L534.789 400.201H586.275L610.71 414.654H510.354V414.654Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M629.968 447.104V462.133H592.564V447.104H629.968Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M586.405 463.765V444.655H592.305V463.765H586.405Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M629.709 463.765V444.655H635.609V463.765H629.709Z" fill="#0A2973" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M562.081 410.98V400.071C562.081 387.158 551.617 376.693 538.703 376.693H531.913C527.738 376.693 524.361 380.07 524.361 384.245C524.361 388.419 527.738 391.796 531.913 391.796H538.703C543.267 391.796 546.96 395.488 546.96 400.052V410.962" fill="white"/>
						<path d="M562.081 410.98V400.071C562.081 387.158 551.617 376.693 538.703 376.693H531.913C527.738 376.693 524.361 380.07 524.361 384.245C524.361 388.419 527.738 391.796 531.913 391.796H538.703C543.267 391.796 546.96 395.488 546.96 400.052V410.962" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M547.498 422.781V438.403C547.498 451.279 557.98 461.78 570.875 461.78H580.504V446.678H570.875C566.311 446.678 562.619 442.967 562.619 438.421V422.799" fill="white"/>
						<path d="M547.498 422.781V438.403C547.498 451.279 557.98 461.78 570.875 461.78H580.504V446.678H570.875C566.311 446.678 562.619 442.967 562.619 438.421V422.799" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M580.504 463.765V444.674H586.404V463.765H580.504Z" fill="#0A2973" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M564.345 422.78H545.253V416.88H564.345V422.78Z" fill="white"/>
						<path d="M674.516 485.659V470.036C674.516 457.16 664.033 446.659 651.138 446.659H641.509V461.762H651.138C655.702 461.762 659.394 465.472 659.394 470.018V485.64" fill="white"/>
						<path d="M674.516 485.659V470.036C674.516 457.16 664.033 446.659 651.138 446.659H641.509V461.762H651.138C655.702 461.762 659.394 465.472 659.394 470.018V485.64" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M641.508 444.655V463.765H635.608V444.655H641.508Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M657.669 485.659H676.779V491.559H657.669V485.659Z" fill="#0A2973" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M803.686 149.245H894.876V376.508H803.686V149.245Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M22.8262 482.839H150.122L199.939 242.533C197.694 242.087 195.987 239.694 195.987 237.338V210L261.722 209V237.319C261.722 239.694 260.164 242.069 257.937 242.514L307.939 482.82H396.199L401.078 446.585H415.346L429.391 446.604H444.104L448.984 482.839H539.432V491.707H7V482.839H22.8262Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M797.377 140.599H901.185V149.245H797.377V140.599Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M876.545 51.7642H822.054C811.923 51.7642 803.704 59.9834 803.704 70.1137V140.599H894.895V70.1137C894.895 59.9834 886.676 51.7642 876.545 51.7642Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M810.625 473.988H887.937V491.559H810.625V473.988Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M803.686 385.154H894.876V473.989H803.686V385.154Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M797.377 376.508H901.185V385.154H797.377V376.508Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M797.377 43.0999H901.185V51.7458H797.377V43.0999Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M201.993 316.246L218.635 300.865L207.466 290.512L201.993 316.265V316.246Z" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M197.521 340.829L232.087 383.094L264.314 343.687L264.147 342.926C263.962 342.777 263.795 342.648 263.628 342.481L229.693 311.088L197.521 340.829V340.829Z" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M242.755 242.532H217.708L211.084 273.61L229.675 290.679L249.193 272.812L242.755 242.532Z" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M252.83 289.659L240.714 300.865L258.748 317.545L252.83 289.659Z" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M782.924 213.237H767.896V47.9983H782.924V213.237Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M766.078 42.0979H785.169V47.9979H766.078V42.0979Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M766.078 213.236H785.169V219.136H766.078V213.236Z" fill="#0A2973" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M856.582 37.2001V26.2906C856.582 13.4144 846.099 2.91309 833.204 2.91309H818.862V18.0343H833.204C837.768 18.0343 841.461 21.745 841.461 26.2906V37.2001" fill="white"/>
						<path d="M268.674 364.263L242.662 396.045L286.894 450.129L268.674 364.263Z" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M283.963 472.485L232.068 409.032L180.192 472.485H283.963Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M221.474 396.045L192.568 360.681L172.289 456.214L221.474 396.045Z" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M856.582 37.2001V26.2906C856.582 13.4144 846.099 2.91309 833.204 2.91309H818.862V18.0343H833.204C837.768 18.0343 841.461 21.745 841.461 26.2906V37.2001" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M818.862 0.927734V20.0379H812.962V0.927734H818.862Z" fill="#0A2973" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M839.735 37.2H858.846V43.1H839.735V37.2Z" fill="#0A2973" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M807.063 3.19116H791.441C778.564 3.19116 768.063 13.6739 768.063 26.5687V36.198H783.166V26.5687C783.166 22.0045 786.876 18.3123 791.422 18.3123H807.044" fill="white"/>
						<path d="M807.063 3.19116H791.441C778.564 3.19116 768.063 13.6739 768.063 26.5687V36.198H783.166V26.5687C783.166 22.0045 786.876 18.3123 791.422 18.3123H807.044" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M766.078 36.198H785.169V42.098H766.078V36.198Z" fill="#0A2973" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M807.062 20.0379V0.927734H812.963V20.0379H807.062Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M625.608 438.848H759.825C772.701 438.848 783.203 428.365 783.203 415.47V402.075H768.1V415.47C768.1 420.035 764.389 423.727 759.844 423.727H625.627" fill="white"/>
						<path d="M625.608 438.848H759.825C772.701 438.848 783.203 428.365 783.203 415.47V402.075H768.1V415.47C768.1 420.035 764.389 423.727 759.844 423.727H625.627" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M785.188 402.075H766.096V396.175H785.188V402.075Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M625.609 422.02V441.13H619.708V422.02H625.609Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M782.924 390.275H767.896V225.036H782.924V390.275V390.275Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M766.078 219.136H785.169V225.037H766.078V219.136Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M766.078 390.275H785.169V396.175H766.078V390.275Z" fill="#BED5E5"/>
						<path d="M766.078 390.275H785.169V396.175H766.078V390.275Z" fill="#0A2973" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M924.934 380.645H939.943V215.407H924.934V380.645Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M941.762 215.407H922.67V209.507H941.762V215.407Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M941.762 386.545H922.67V380.645H941.762V386.545Z" fill="#0A2973" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M900.795 170.6H916.417C929.293 170.6 939.795 181.083 939.795 193.978V203.607H924.692V193.978C924.692 189.413 920.981 185.721 916.436 185.721H900.813" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M941.762 209.507H922.67V203.607H941.762V209.507Z" fill="#0A2973" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M894.895 187.447V168.337H900.795V187.447H894.895Z" fill="#0A2973" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M924.934 485.659H939.943V392.464H924.934V485.659Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M941.762 392.464H922.67V386.564H941.762V392.464Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M941.762 491.559H922.67V485.659H941.762V491.559Z" fill="#0A2973" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M822.647 446.918V461.947H785.243V446.918H822.647Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M779.343 463.765V444.674H785.243V463.765H779.343Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M822.666 463.765V444.674H828.566V463.765H822.666Z" fill="#0A2973" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M717.319 384.245H731.457C740.455 384.245 747.747 391.536 747.747 400.535L747.209 410.981H739.917V400.071C739.917 395.507 736.225 391.815 731.661 391.815H724.87C720.696 391.815 717.319 388.438 717.319 384.263V384.245Z" fill="white"/>
						<path d="M755.02 410.98V400.071C755.02 387.158 744.556 376.693 731.642 376.693H724.852C720.677 376.693 717.3 380.07 717.3 384.245C717.3 388.419 720.677 391.796 724.852 391.796H731.642C736.206 391.796 739.899 395.488 739.899 400.052V410.962" fill="white"/>
						<path d="M755.02 410.98V400.071C755.02 387.158 744.556 376.693 731.642 376.693H724.852C720.677 376.693 717.3 380.07 717.3 384.245C717.3 388.419 720.677 391.796 724.852 391.796H731.642C736.206 391.796 739.899 395.488 739.899 400.052V410.962" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M738.191 410.98H757.302V416.881H738.191V410.98Z" fill="#0A2973" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M740.455 422.781V438.403C740.455 451.279 750.938 461.78 763.833 461.78H773.462V446.678H763.833C759.268 446.678 755.576 442.967 755.576 438.421V422.799" fill="white"/>
						<path d="M740.455 422.781V438.403C740.455 451.279 750.938 461.78 763.833 461.78H773.462V446.678H763.833C759.268 446.678 755.576 442.967 755.576 438.421V422.799" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M773.443 463.765V444.674H779.343V463.765H773.443Z" fill="#0A2973" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M757.283 422.78H738.173V416.88H757.283V422.78Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M867.454 485.659V470.036C867.454 457.16 856.971 446.659 844.077 446.659H834.447V461.762H844.077C848.641 461.762 852.333 465.472 852.333 470.018V485.64" fill="white"/>
						<path d="M867.454 485.659V470.036C867.454 457.16 856.971 446.659 844.077 446.659H834.447V461.762H844.077C848.641 461.762 852.333 465.472 852.333 470.018V485.64" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M834.447 444.674V463.765H828.547V444.674H834.447Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M850.607 485.659H869.718V491.559H850.607V485.659Z" fill="#0A2973" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M545.253 410.98H564.345V416.881H545.253V410.98Z" fill="#0A2973" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M564.345 422.78H545.253V416.88H564.345V422.78Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M843.78 188.319V176.741H846.433V181.12H850.905V176.741H853.558V188.319H850.905V183.847H846.433V188.319H843.78ZM844.856 208.728V197.15H852.797V199.544H847.509V201.77H852.463V204.089H847.509V206.316H852.797V208.709H844.856V208.728ZM847.342 229.471V227.652C845.728 227.652 844.448 227.244 843.52 226.409C842.593 225.574 842.129 224.498 842.129 223.181C842.129 221.864 842.593 220.806 843.52 219.971C844.448 219.136 845.728 218.71 847.342 218.71V217.225H849.996V218.71C851.61 218.71 852.89 219.136 853.818 219.971C854.745 220.806 855.209 221.864 855.209 223.181C855.209 224.498 854.745 225.574 853.818 226.409C852.89 227.244 851.61 227.652 849.996 227.652V229.471H847.342ZM847.342 225.333V221.029C846.545 221.029 845.914 221.233 845.45 221.623C845.005 222.012 844.764 222.532 844.764 223.181C844.764 223.83 844.986 224.331 845.45 224.74C845.895 225.129 846.526 225.333 847.342 225.333ZM849.996 221.029V225.333C850.793 225.333 851.424 225.129 851.888 224.74C852.333 224.35 852.556 223.83 852.556 223.181C852.556 222.532 852.333 222.031 851.888 221.623C851.443 221.233 850.812 221.029 849.996 221.029ZM847.342 249.546V240.529H844.114V237.968H853.205V240.529H849.977V249.546H847.324H847.342ZM844.856 269.955V258.377H852.797V260.771H847.509V262.997H852.463V265.316H847.509V267.543H852.797V269.936H844.856V269.955ZM843.854 290.364V278.786H853.447V290.364H850.793V281.347H846.489V290.364H843.836H843.854ZM844.355 310.773V299.195H849.736C850.868 299.195 851.777 299.566 852.482 300.308C853.187 301.05 853.539 302.034 853.539 303.258C853.539 304.483 853.187 305.466 852.482 306.208C851.777 306.951 850.868 307.322 849.736 307.322H847.008V310.791H844.355V310.773ZM847.008 304.724H849.569C849.959 304.724 850.274 304.594 850.515 304.334C850.775 304.056 850.886 303.704 850.886 303.24C850.886 302.776 850.756 302.423 850.515 302.164C850.274 301.885 849.959 301.756 849.569 301.756H847.008V304.724V304.724ZM852.667 329.642C851.591 330.773 850.255 331.33 848.66 331.33C847.064 331.33 845.747 330.773 844.652 329.642C843.576 328.51 843.038 327.1 843.038 325.374C843.038 323.649 843.576 322.239 844.652 321.107C845.728 319.975 847.064 319.419 848.66 319.419C850.255 319.419 851.591 319.975 852.667 321.107C853.743 322.239 854.282 323.649 854.282 325.374C854.282 327.1 853.743 328.51 852.667 329.642ZM846.526 327.842C847.101 328.454 847.806 328.77 848.66 328.77C849.513 328.77 850.218 328.454 850.775 327.842C851.35 327.211 851.628 326.395 851.628 325.374C851.628 324.354 851.35 323.537 850.775 322.925C850.218 322.294 849.513 321.979 848.66 321.979C847.806 321.979 847.101 322.294 846.526 322.925C845.97 323.537 845.691 324.354 845.691 325.374C845.691 326.395 845.97 327.211 846.526 327.842ZM842.129 351.572V339.994H846.174L848.493 347.193H848.827L851.146 339.994H855.191V351.572H852.537V344.466H852.204L849.884 351.572H847.398L845.079 344.466H844.745V351.572H842.092H842.129Z"  class="svg-text "/>
						<circle cx="229" cy="203" r="10.07" fill="white" stroke="#0A2973" stroke-width="1.86"/>
						<circle cx="229" cy="203" r="4" fill="#0A2973"/>
						</g>
						<defs>
						<clipPath id="clip0_736_5626">
						<rect width="970" height="519.871" fill="white"/>
						</clipPath>
						</defs>
					</svg>
			
	.inner.block
		h2  Задачи, которые решает Салфокс 
		.row.cards
			.col-lg-6.card-st-1
				h4 Исполнение национальных проектов России 
				p Исполнение национальных проектов России «Экология» и «Комфортное жильё» —  снижение выбросов загрязняющих веществ в атмосферу, а также кардинальное повышение комфортности городской среды.

				.card-st-1__icon 
					<svg width="28" height="27" viewBox="0 0 28 27" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M4.03956 13.3306C2.08072 12.0337 0.730932 9.95433 1.87222 7.43331C3.01899 4.9123 7.75423 4.4707 9.9106 2C11.8694 4.27506 11.9737 8.05378 10.2234 11.0276C9.04366 13.0287 6.89278 13.3026 5.77344 13.297" stroke="#F35F42" stroke-width="1.5"/>
						<path d="M12.6267 3.67684C13.5211 3.44207 14.4538 3.31909 15.4195 3.31909C21.5594 3.31909 26.5416 8.38906 26.5416 14.6497C26.5416 20.9103 21.5649 25.9803 15.4195 25.9803C9.27416 25.9803 4.30298 20.9047 4.30298 14.6441C4.30298 11.1225 5.87773 7.98101 8.35235 5.90159" stroke="#F35F42" stroke-width="1.5"/>
						<path d="M26.5416 15.354H24.8955L23.7981 13.6771H22.7008L22.1521 14.2361H20.506L17.7625 11.4411H13.9216V10.3232C13.9216 9.08783 14.9038 8.08725 16.1164 8.08725H17.2138L18.3112 6.96928H21.0547L22.1521 5.85132" stroke="#F35F42" stroke-width="1.5"/>
						<path d="M18.3113 22.0617H16.6652V18.1489L15.5678 17.0309H13.373V15.354L15.0191 13.677H17.7626L20.5061 16.4719V19.8258L18.3113 22.0617Z" stroke="#F35F42" stroke-width="1.5"/>
					</svg>


			.col-lg-6.card-st-1
				h4 Уменьшение санитарно-защитной зоны
				p Согласно СанПиН 2.2.1/2.1.1.1200-03 «Санитарно-защитные зоны  и санитарная классификация предприятий, сооружений и иных объектов», при снижении уровня загрязнения, размер СЗЗ может   быть уменьшен.
				.card-st-1__icon 
					<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M11.6667 11.6667L16.3333 11.6667M11.6667 11.6667L11.6667 16.3333M11.6667 11.6667L17 17M16.3333 6.33333L11.6667 6.33333M11.6667 6.33333V1.66667M11.6667 6.33333L17 1M1.66666 6.33334L6.33333 6.33334M6.33333 6.33334L6.33333 1.66667M6.33333 6.33334L1 1M6.33333 16.3333L6.33333 11.6667M6.33333 11.6667L1.66667 11.6667M6.33333 11.6667L1 17" stroke="#F35F42" stroke-width="2"/>
					</svg>



			.col-lg-6.card-st-1
				h4 Создание комфорта
				p Чистый воздух без резкого запаха сероводорода помогает создать комфортную и безопасную  атмосферу для сотрудников предприятия, а также снизить число жалоб от жильцов близлежащих домов.
				.card-st-1__icon 
					<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M20.134 22.3997C20.134 22.1178 20.0504 21.7053 20.5046 21.2564C20.9588 20.8074 24.1748 17.0172 24.629 16.563C25.0414 16.1505 25.031 11.6346 24.9997 11.0238C24.9683 10.4391 24.8691 7.36408 24.4149 6.22596C23.9138 6.15287 23.0941 6.49222 22.5668 7.33275C22.0656 8.13674 22.1492 8.98771 22.5668 10.2877L21.7524 12.8563" stroke="#F35F42" stroke-width="1.5" stroke-linejoin="round"/>
						<path d="M19.7632 17.5652C19.7632 17.5652 21.8254 15.4561 22.196 15.0854C23.6735 13.6079 21.8254 11.765 20.3479 13.2373C19.9772 13.6079 19.9459 13.6862 18.9174 14.7147C18.6094 15.0227 18.1865 14.8609 17.6958 15.3464C17.4818 15.5605 16.3228 16.6934 15.8216 17.1946C15.3204 17.6957 15.0854 18.719 15.0854 19.4081V22.3996" stroke="#F35F42" stroke-width="1.5" stroke-linejoin="round"/>
						<path d="M21.3556 25.01V22.3997H14.0466V25.01" stroke="#F35F42" stroke-width="1.5" stroke-linejoin="round"/>
						<path d="M15.6128 23.9658H16.6569" stroke="#F35F42" stroke-width="1.5" stroke-linejoin="round"/>
						<path d="M5.87096 22.3997C5.87096 22.1178 5.95449 21.7053 5.50029 21.2564C5.04608 20.8074 1.83013 17.0119 1.38115 16.563C0.968715 16.1505 0.979156 11.6346 1.01048 11.0238C1.0418 10.4391 1.141 7.36408 1.5952 6.22596C2.09639 6.15287 2.91604 6.49222 3.44333 7.33275C3.94452 8.13674 3.86098 8.98771 3.44333 10.2877L4.25776 12.8563" stroke="#F35F42" stroke-width="1.5" stroke-linejoin="round"/>
						<path d="M6.24167 17.5652C6.24167 17.5652 4.17949 15.4561 3.80882 15.0854C2.33137 13.6079 4.17949 11.765 5.65695 13.2373C6.02762 13.6079 6.05895 13.6862 7.08743 14.7147C7.39545 15.0227 7.81832 14.8609 8.30907 15.3464C8.52312 15.5605 9.68212 16.6934 10.1833 17.1946C10.6845 17.6957 10.8985 18.719 10.9194 19.4081V22.3996" stroke="#F35F42" stroke-width="1.5" stroke-linejoin="round"/>
						<path d="M4.64917 25.01V22.3997H11.9582V25.01" stroke="#F35F42" stroke-width="1.5" stroke-linejoin="round"/>
						<path d="M10.392 23.9658H9.3479" stroke="#F35F42" stroke-width="1.5" stroke-linejoin="round"/>
						<path d="M12.0418 12.4386C9.97958 11.6659 8.96155 9.08165 9.29567 7.7086C10.178 4.02801 13.6811 3.673 15.1742 1C17.4347 2.65496 18.2909 6.04842 17.2781 9.09731C16.5942 11.149 14.6678 11.833 13.6341 12.0575" stroke="#F35F42" stroke-width="1.5" stroke-linejoin="round"/>
						<path d="M12.5587 15.597C11.0029 11.1019 13.3105 7.69282 14.6209 4.75879" stroke="#F35F42" stroke-width="1.5" stroke-linejoin="round"/>
					</svg>



			.col-lg-6.card-st-1._orange
				h4 Очистка воздуха
				p Оборудование Салфокс удаляет сероводород из газовоздушной смеси в системе дыхания нефтехранилищ. 

				.card-st-1__icon 
					<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M9 18V8.62069M9 9.2069V12.7241M9 9.2069C9 6.61687 6.9533 4.51724 4.42857 4.51724H1V8.03448C1 10.6245 3.0467 12.7241 5.57143 12.7241H9M9 9.2069H12.4286C14.9533 9.2069 17 7.10727 17 4.51724V1H13.5714C11.0467 1 9 3.09963 9 5.68966V9.2069ZM9 9.2069L13.5714 4.51724M9 12.7241L4.42857 8.03448" stroke="white" stroke-width="2"/>
					</svg>

	.inner.block
		.center 
			h2 Мы поможем вам подобрать решение
		.quiz
			form.swiper.quiz-slider(action="/",method="GET")
				.quiz-slider__paginator
					.quiz-slider__progress
						span.quiz-slider__progress-line
			
				.swiper-wrapper
					.swiper-slide
						h2.quiz-slider__title Выберете направление
						label.quiz-radio
							input(type="radio",name="quiz-1").quiz-radio__input
							span.quiz-radio__indicator 
							span.quiz-radio__text Канализационные насосные станции и очистные сооружения
						label.quiz-radio
							input(type="radio",name="quiz-1").quiz-radio__input
							span.quiz-radio__indicator 
							span.quiz-radio__text Нефтедобывающая или нефтеперерабатывающая отрасль
						button(type='button',disabled).quiz-slider__next.btn-arrow  Далее
					.swiper-slide
						h2.quiz-slider__title Где необходимо очистить воздух 2?
						label.quiz-radio
							input(type="radio",name="quiz-2").quiz-radio__input
							span.quiz-radio__indicator 
							span.quiz-radio__text Канализационные насосные станции и очистные сооружения
						label.quiz-radio
							input(type="radio",name="quiz-2").quiz-radio__input
							span.quiz-radio__indicator 
							span.quiz-radio__text Очистные сооружения
						label.quiz-radio
							input(type="radio",name="quiz-2").quiz-radio__input
							span.quiz-radio__indicator 
							span.quiz-radio__text Небольшая канализационная насосная станция
						button(type='button',disabled).quiz-slider__next.btn-arrow  Далее
					.swiper-slide
						h2.quiz-slider__title Где необходимо очистить воздух 3?
						label.quiz-radio
							input(type="radio",name="quiz-3").quiz-radio__input
							span.quiz-radio__indicator 
							span.quiz-radio__text Канализационные насосные станции и очистные сооружения
						label.quiz-radio
							input(type="radio",name="quiz-3").quiz-radio__input
							span.quiz-radio__indicator 
							span.quiz-radio__text Очистные сооружения
						label.quiz-radio
							input(type="radio",name="quiz-3").quiz-radio__input
							span.quiz-radio__indicator 
							span.quiz-radio__text Небольшая канализационная насосная станция
						button(type='submit',disabled).quiz-slider__next.btn-arrow  Далее
	
	.inner.block 
		.row._gap-22 
			.col-lg-6.card-arrow-link
				a(href="@").card-arrow-link__title  технология очистки
				p Базовая технология Салфокс — двухступенчатая очистка воздушных выбросов по схеме: скруббер + адсорбер.
				
			.col-lg-6.card-arrow-link
				a(href="@").card-arrow-link__title сертификаты
				p Оборудование и реагенты сертифицированы  и имеют всю необходимую разрешительную документацию.
	.block.front-about 
		.front-about__row
			.front-about__left
				.front-about__sub-title.h3 о компании
				.front-about__title.h2  
					color Салфокс — российская компания,  
					| которая 
					color разрабатывает и производит системы очистки воздуха 
					br
					| от дурнопахнущих 
					br
					| и токсичных веществ, таких 
					br
					| как сероводород, меркаптаны, аммиак.
				a(href="@").btn._invert._big  Подробнее о компании
			.front-about__right
				.front-about__slider.swiper 
					.swiper-wrapper 
						.swiper-slide 
							+picture('g-1','jpg')
						.swiper-slide 
							+picture('g-2','jpg')
						.swiper-slide 
							+picture('g-3','jpg')
						.swiper-slide 
							+picture('g-4','jpg')
					.front-about__slider-nav
						.front-about__slider-prev
							<svg width="22" height="15" viewBox="0 0 22 15" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M2.30005 7.50003L8.43338 13.6334M2.30005 7.50003H21.4667M2.30005 7.50003L8.43338 1.3667" stroke="" stroke-width="2"/>
							</svg>
						.front-about__slider-next
							<svg width="21" height="15" viewBox="0 0 21 15" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M19.4668 7.49997L13.3335 1.36663M19.4668 7.49997L0.300131 7.49997M19.4668 7.49997L13.3335 13.6333" stroke="" stroke-width="2"/>
							</svg>

	.inner.block.news 
			.block__head
				h2 Новости и статьи 
				.news__filters
					button(type='button',data-slide='0')._white.news__filter.btn._active ВСЕ
					button(type='button',data-slide='1')._white.news__filter.btn КНС
					button(type='button',data-slide='2')._white.news__filter.btn Нефтепром
			.news-slider.swiper 
				.swiper-wrapper 
					.swiper-slide
						.news__row.row._gap-22
							.col-lg-6.news-item
								.news-item__img-wrap 
									+picture('news-1','jpg').news-item__img
									.news-item__tags 
										.news-item__tag КНС
								.news-item__head 
									a(href="#") НОВОСТИ
									span.news-item__divider
									| 13.09.2022
									span.news-item__divider
									| 10:34
								.news-item__title Почему он используется? 
								.news-item__body
									p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона
								a(href="#").news-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
							.col-lg-6.news-item
								.news-item__img-wrap 
									+picture('news-2','jpg').news-item__img
									.news-item__tags 
										.news-item__tag нефтепром
								.news-item__head 
									a(href="#") НОВОСТИ
									span.news-item__divider
									| 13.09.2022
									span.news-item__divider
									| 10:34
								.news-item__title Почему он используется? 
								.news-item__body
									p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона
								a(href="#").news-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
							.col-lg-4.article-item
								.article-item__head 
									a(href="#") статьи
									span.article-item__divider
									| 13.09.2022
									span.article-item__divider
									| 10:34
								.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
								a(href="#").article-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
							.col-lg-4.article-item
								.article-item__head 
									a(href="#") статьи
									span.article-item__divider
									| 13.09.2022
									span.article-item__divider
									| 10:34
								.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
								a(href="#").article-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
							.col-lg-4.article-item
								.article-item__head 
									a(href="#") статьи
									span.article-item__divider
									| 13.09.2022
									span.article-item__divider
									| 10:34
								.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
								a(href="#").article-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
						.news__btn-wrap 
							a(href="#")._white.btn._big Все новости 
							a(href="#")._white.btn._big Все статьи 
					.swiper-slide
						.news__row.row._gap-22
							.col-lg-6.news-item
								.news-item__img-wrap 
									+picture('news-1','jpg').news-item__img
									.news-item__tags 
										.news-item__tag КНС
								.news-item__head 
									a(href="#") НОВОСТИ
									span.news-item__divider
									| 13.09.2022
									span.news-item__divider
									| 10:34
								.news-item__title Почему он используется? 
								.news-item__body
									p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона
								a(href="#").news-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
							.col-lg-6.news-item
								.news-item__img-wrap 
									+picture('news-2','jpg').news-item__img
									.news-item__tags 
										.news-item__tag нефтепром
								.news-item__head 
									a(href="#") НОВОСТИ
									span.news-item__divider
									| 13.09.2022
									span.news-item__divider
									| 10:34
								.news-item__title Почему он используется? 
								.news-item__body
									p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона
								a(href="#").news-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
							.col-lg-4.article-item
								.article-item__head 
									a(href="#") статьи
									span.article-item__divider
									| 13.09.2022
									span.article-item__divider
									| 10:34
								.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
								a(href="#").article-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
							.col-lg-4.article-item
								.article-item__head 
									a(href="#") статьи
									span.article-item__divider
									| 13.09.2022
									span.article-item__divider
									| 10:34
								.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
								a(href="#").article-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
							.col-lg-4.article-item
								.article-item__head 
									a(href="#") статьи
									span.article-item__divider
									| 13.09.2022
									span.article-item__divider
									| 10:34
								.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
								a(href="#").article-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
						.news__btn-wrap 
							a(href="#")._white.btn._big Все новости 
							a(href="#")._white.btn._big Все статьи 
					.swiper-slide
						.news__row.row._gap-22
							.col-lg-6.news-item
								.news-item__img-wrap 
									+picture('news-1','jpg').news-item__img
									.news-item__tags 
										.news-item__tag КНС
								.news-item__head 
									a(href="#") НОВОСТИ
									span.news-item__divider
									| 13.09.2022
									span.news-item__divider
									| 10:34
								.news-item__title Почему он используется? 
								.news-item__body
									p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона
								a(href="#").news-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
							.col-lg-6.news-item
								.news-item__img-wrap 
									+picture('news-2','jpg').news-item__img
									.news-item__tags 
										.news-item__tag нефтепром
								.news-item__head 
									a(href="#") НОВОСТИ
									span.news-item__divider
									| 13.09.2022
									span.news-item__divider
									| 10:34
								.news-item__title Почему он используется? 
								.news-item__body
									p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона
								a(href="#").news-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
							.col-lg-4.article-item
								.article-item__head 
									a(href="#") статьи
									span.article-item__divider
									| 13.09.2022
									span.article-item__divider
									| 10:34
								.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
								a(href="#").article-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
							.col-lg-4.article-item
								.article-item__head 
									a(href="#") статьи
									span.article-item__divider
									| 13.09.2022
									span.article-item__divider
									| 10:34
								.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
								a(href="#").article-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
							.col-lg-4.article-item
								.article-item__head 
									a(href="#") статьи
									span.article-item__divider
									| 13.09.2022
									span.article-item__divider
									| 10:34
								.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
								a(href="#").article-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
						.news__btn-wrap 
							a(href="#")._white.btn._big Все новости 
							a(href="#")._white.btn._big Все статьи