extends ../../layout/layout
block title
	title Салфокс
block content
	+breadcrumb(['Главная'], 'Канализационно-насосные станции')
	.front-main.block
		.front-main__air
		img(src="img/kns-main-bg.svg", alt="").front-main__bg
		h1 Очистка выбрасываемого воздуха
		p
			big на канализационных насосных станциях и очистных сооружениях
		.kns.front-main__main
			img.kns__gear-big(src="img/kns-gear-big.svg", alt="")
			img.kns__gear-small(src="img/kns-gear-small.svg", alt="")
			img.kns__tooth-1(src="img/kns-tooth-1.svg", alt="")
			img.kns__tooth-2(src="img/kns-tooth-2.svg", alt="")
			img.kns__p.kns__p-1._del-15(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-2._del-2(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-3._del-15(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-4._del-45(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-1._del-3(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-2._del-35(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-3._del-4(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-4._del-4(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-11._del-3(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-12._del-35(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-13._del-3(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-14._del-25(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-11._del-2(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-12._del-15(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-13._del-2(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-14._del-3(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-4(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-5(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-6(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-7(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-8(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-9(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-10(src="img/kns-p.svg", alt="")
			<svg  viewBox="0 0 656 217" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M111.037 173.164H20.2037V93.2523L65.622 76.8104L111.037 93.2523V173.164Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M76.476 137.548H54.7681V173.016H76.476V137.548Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M45.8543 101.247H35.0004V120.767H45.8543V101.247Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M62.6152 101.247H51.7612V120.766H62.6152V101.247Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M79.376 101.247H68.5221V120.766H79.376V101.247Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M96.1369 101.247H85.283V120.766H96.1369V101.247Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M452.057 120.217H240.433V172.824H452.057V120.217Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M213.772 92.8033L183.118 97.1006V173.049H213.982V92.8329L213.772 92.8033Z" fill="#C5DDEF"/>
				<path d="M213.982 92.8329V173.049H226.239V94.5518L213.982 92.8329Z" fill="white"/>
				<path d="M243.073 96.9114L226.239 94.5516V173.049H243.073V96.9114Z" fill="url(#paint0_linear_239_907)"/>
				<path d="M166.159 99.4781V173.049H183.118V97.1006L166.159 99.4781Z" fill="#90ADC6"/>
				<path d="M261.385 99.4782L243.073 96.9116V173.049H261.385V99.4782Z" fill="#90ADC6"/>
				<path d="M261.385 99.4782L213.772 92.8033L166.159 99.4782V173.049H261.385V99.4782Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M478.715 92.3781L448.061 96.6753V172.623H478.925V92.4076L478.715 92.3781Z" fill="#C5DDEF"/>
				<path d="M478.925 92.4076V172.623H491.181V94.1236L478.925 92.4076Z" fill="white"/>
				<path d="M508.016 96.4833L491.181 94.1235V172.623H508.016V96.4833Z" fill="url(#paint1_linear_239_907)"/>
				<path d="M526.328 99.0529L508.016 96.4834V172.623H526.328V99.0529Z" fill="#90ADC6"/>
				<path d="M526.422 99.1467L478.724 92.4399L431.025 99.1467V173.069H526.422V99.1467Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M403.883 15.9999L346.244 1L288.604 15.9999V173.049H403.883V15.9999Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M394 97H298V152H394V97Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M346 47L298 55.7857V97H346V47Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M394 97H346V152H394V97Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M394 55.5034L346 47V97H394V55.5034Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M169.352 56.1156H203.538C209.888 56.1156 215.045 61.2723 215.045 67.6223V149.953H157.842V67.6223C157.842 61.2723 162.999 56.1156 169.349 56.1156H169.352Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M215.048 155.381H157.845V173.049H215.048V155.381Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M219.112 150.032H153.991V155.458H219.112V150.032Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M219.006 38.593H153.885V56.1155H219.006V38.593Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M201.941 38.5928V33.0049C201.941 31.0881 203.494 29.5345 205.411 29.5345C207.328 29.5345 208.881 31.0881 208.881 33.0049V164.227H198.839V33.0049C198.839 31.0881 197.286 29.5345 195.369 29.5345C193.452 29.5345 191.899 31.0881 191.899 33.0049V38.5928" fill="white"/>
				<path d="M201.941 38.5928V33.0049C201.941 31.0881 203.494 29.5345 205.411 29.5345C207.328 29.5345 208.881 31.0881 208.881 33.0049V164.227H198.839V33.0049C198.839 31.0881 197.286 29.5345 195.369 29.5345C193.452 29.5345 191.899 31.0881 191.899 33.0049V38.5928" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M219.006 50.6901H153.885V56.1156H219.006V50.6901Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M152.42 38.5928H220.47" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M219.006 50.69V38.5927" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M153.885 50.69V38.5927" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M471.222 192.013V196.355V201.435H574.156V196.355V192.013H471.222Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M577.857 202.575V190.593H574.156V202.575H577.857Z" fill="#0A2973" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M471.222 202.575V190.593H467.521V202.575H471.222Z" fill="#0A2973" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M602.258 176.865V186.665C602.258 194.748 595.684 201.323 587.6 201.323H581.557V191.845H587.6C590.456 191.845 592.783 189.521 592.783 186.662V176.862" fill="white"/>
				<path d="M602.258 176.865V186.665C602.258 194.748 595.684 201.323 587.6 201.323H581.557V191.845H587.6C590.456 191.845 592.783 189.521 592.783 186.662V176.862" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M581.557 202.575V190.593H577.857V202.575H581.557Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M591.697 176.865H603.679V173.165H591.697V176.865Z" fill="#0A2973" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M588.15 96.8136C588.15 100.76 584.91 103.959 580.914 103.959C576.917 103.959 573.678 100.76 573.678 96.8136C573.678 92.8674 580.914 85.6471 580.914 85.6471C580.914 85.6471 588.15 92.8674 588.15 96.8136Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M593.117 169.463V159.664C593.117 151.58 599.692 145.006 607.775 145.006H613.818V154.483H607.775C604.919 154.483 602.592 156.808 602.592 159.667V169.466" fill="white"/>
				<path d="M593.117 169.463V159.664C593.117 151.58 599.692 145.006 607.775 145.006H613.818V154.483H607.775C604.919 154.483 602.592 156.808 602.592 159.667V169.466" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M613.818 143.753V155.736H617.519V143.753H613.818Z" fill="#0A2973" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M603.679 169.463H591.697V173.164H603.679V169.463Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M621.219 145.171H631.019C639.102 145.171 645.677 151.746 645.677 159.829V169.121H636.199V159.829C636.199 156.973 633.875 154.646 631.016 154.646H621.216" fill="white"/>
				<path d="M621.219 145.171H631.019C639.102 145.171 645.677 151.746 645.677 159.829V169.121H636.199V159.829C636.199 156.973 633.875 154.646 631.016 154.646H621.216" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M646.929 169.124H634.947V172.824H646.929V169.124Z" fill="#0A2973" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M621.219 155.733V143.75H617.519V155.733H621.219Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M122.733 128.223V132.423V137.337H146.656V132.423V128.223H122.733Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M150.621 138.809V126.827H146.92V138.809H150.621Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M122.636 138.809V126.827H118.935V138.809H122.636Z" fill="#0A2973" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M165.881 105.698V98.8522C165.881 90.7568 172.444 84.1942 180.539 84.1942H184.798C187.415 84.1942 189.536 86.3148 189.536 88.9316C189.536 91.5483 187.415 93.6689 184.798 93.6689H180.539C177.678 93.6689 175.356 95.9903 175.356 98.8522V105.698" fill="white"/>
				<path d="M165.881 105.698V98.8522C165.881 90.7568 172.444 84.1942 180.539 84.1942H184.798C187.415 84.1942 189.536 86.3148 189.536 88.9316C189.536 91.5483 187.415 93.6689 184.798 93.6689H180.539C177.678 93.6689 175.356 95.9903 175.356 98.8522V105.698" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M176.443 105.698H164.461V109.399H176.443V105.698Z" fill="#0A2973" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M175.025 113.1V122.899C175.025 130.983 168.451 137.557 160.367 137.557H154.325V128.079H160.367C163.223 128.079 165.551 125.755 165.551 122.896V113.097" fill="white"/>
				<path d="M175.025 113.1V122.899C175.025 130.983 168.451 137.557 160.367 137.557H154.325V128.079H160.367C163.223 128.079 165.551 125.755 165.551 122.896V113.097" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M154.322 138.809V126.827H150.621V138.809H154.322Z" fill="#0A2973" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M164.464 113.099H176.446V109.399H164.464V113.099Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M94.531 169.372V142.737C94.531 134.654 101.105 128.079 109.189 128.079H115.232V137.557H109.189C106.333 137.557 104.006 139.881 104.006 142.74V169.375" fill="white"/>
				<path d="M94.531 169.372V142.737C94.531 134.654 101.105 128.079 109.189 128.079H115.232V137.557H109.189C106.333 137.557 104.006 139.881 104.006 142.74V169.375" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M115.235 126.827V138.809H118.935V126.827H115.235Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M105.095 169.372H93.1133V173.072H105.095V169.372Z" fill="#0A2973" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M1.00029 173.5C274.606 172.449 381.393 173.408 655 173" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M550.889 144.385V104.49C550.889 98.8642 546.328 94.3036 540.702 94.3036H498.326C492.7 94.3036 488.14 98.8642 488.14 104.49V144.385C488.14 150.011 492.7 154.572 498.326 154.572H540.702C546.328 154.572 550.889 150.011 550.889 144.385Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M555.097 109.945V103.126H483.931V109.945H555.097Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M483.931 145.75L478.024 173.164L502.741 145.75" fill="white"/>
				<path d="M483.931 145.75L478.024 173.164L502.741 145.75" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M555.097 145.75L561.004 173.164L536.284 145.75" fill="white"/>
				<path d="M555.097 145.75L561.004 173.164L536.284 145.75" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M536.999 145.75L519.872 173.164L502.741 145.75" fill="white"/>
				<path d="M536.999 145.75L519.872 173.164L502.741 145.75" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M550.889 83.9518V44.0566C550.889 38.4308 546.328 33.8701 540.702 33.8701H498.326C492.7 33.8701 488.14 38.4308 488.14 44.0566V83.9518C488.14 89.5777 492.7 94.1383 498.326 94.1383H540.702C546.328 94.1383 550.889 89.5777 550.889 83.9518Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M555.097 49.5115V42.692L483.931 42.692V49.5115L555.097 49.5115Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M555.097 85.3133V78.4938H483.931V85.3133H555.097Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M450.161 168.636C450.161 171.035 448.218 172.981 445.817 172.981H445.081C442.683 172.981 440.737 171.037 440.737 168.636V36.9358H450.158V168.636H450.161Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M439.599 36.9358H451.582V33.2351H439.599V36.9358Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M512.907 30.1693V23.3232C512.907 15.2396 506.333 8.66516 498.249 8.66516H489.253V18.1428H498.249C501.105 18.1428 503.432 20.4672 503.432 23.3261V30.1722" fill="white"/>
				<path d="M512.907 30.1693V23.3232C512.907 15.2396 506.333 8.66516 498.249 8.66516H489.253V18.1428H498.249C501.105 18.1428 503.432 20.4672 503.432 23.3261V30.1722" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M485.549 7.41315V19.3953H489.25V7.41315H485.549Z" fill="#0A2973" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M502.346 33.87H514.328V30.1693H502.346V33.87Z" fill="#0A2973" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M481.848 8.83069H455.51C447.426 8.83069 440.852 15.4051 440.852 23.4887V29.5315H450.329V23.4887C450.329 20.6327 452.654 18.3054 455.512 18.3054H481.851" fill="white"/>
				<path d="M481.848 8.83069H455.51C447.426 8.83069 440.852 15.4051 440.852 23.4887V29.5315H450.329V23.4887C450.329 20.6327 452.654 18.3054 455.512 18.3054H481.851" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M439.599 33.2351H451.582V29.5344H439.599V33.2351Z" fill="#0A2973" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M485.549 19.3952V7.41309H481.849V19.3952H485.549Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M457.633 190.536H234.857V206.526H457.633V190.536Z" fill="#0A2973" fill-opacity="0.5"/>
				<path d="M457.633 190.536V137.383C451.481 143.18 441.507 143.18 435.355 137.383C429.203 143.18 419.229 143.18 413.077 137.383C406.925 143.18 396.951 143.18 390.799 137.383C384.647 143.18 374.673 143.18 368.521 137.383C362.369 143.18 352.395 143.18 346.243 137.383C340.091 143.18 330.118 143.18 323.966 137.383C317.813 143.18 307.84 143.18 301.688 137.383C295.536 143.18 285.562 143.18 279.41 137.383C273.258 143.18 263.284 143.18 257.132 137.383C250.98 143.18 241.006 143.18 234.854 137.383V190.536H457.63H457.633Z" fill="url(#paint2_linear_239_907)"/>
				<path d="M457.633 190.536V137.383C451.481 143.18 441.507 143.18 435.355 137.383C429.203 143.18 419.229 143.18 413.077 137.383C406.925 143.18 396.951 143.18 390.799 137.383C384.647 143.18 374.673 143.18 368.521 137.383C362.369 143.18 352.395 143.18 346.243 137.383C340.091 143.18 330.118 143.18 323.966 137.383C317.813 143.18 307.84 143.18 301.688 137.383C295.536 143.18 285.562 143.18 279.41 137.383C273.258 143.18 263.284 143.18 257.132 137.383C250.98 143.18 241.006 143.18 234.854 137.383V190.536H457.63H457.633Z" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M457.633 198.144H234.857V206.526H457.633V198.144Z" fill="#0A2973"/>
				<path d="M457.633 122.772V206.526H234.857V122.772H224.969V206.526C224.969 211.987 229.396 216.414 234.857 216.414H457.633C463.094 216.414 467.521 211.987 467.521 206.526V122.772H457.633Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
			
				<path d="M555.097 145.747V138.927H483.931V145.747H555.097Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path class="svg-text"  d="M325.755 33.001L323.022 29.394H322.547V33.001H320.446V24.3102H322.547V27.6838H322.882L325.572 24.3102H328.199L324.851 28.4137L328.373 33.001H325.755Z" fill="black"/>
				<path class="svg-text" d="M328.901 33.001V24.3102H331.002V27.7984H334.426V24.3102H336.523V33.001H334.426V29.5086H331.002V33.001H328.901Z" fill="black"/>
				<path class="svg-text" d="M345.49 27.4589H343.368C343.34 27.2411 343.282 27.0445 343.194 26.8691C343.107 26.6937 342.991 26.5437 342.846 26.4193C342.702 26.2948 342.531 26.2 342.333 26.1349C342.138 26.067 341.921 26.0331 341.684 26.0331C341.262 26.0331 340.898 26.1364 340.593 26.3429C340.29 26.5494 340.057 26.8479 339.893 27.2383C339.731 27.6287 339.651 28.1011 339.651 28.6556C339.651 29.2327 339.733 29.7165 339.897 30.1069C340.064 30.4945 340.297 30.7873 340.597 30.9853C340.9 31.1805 341.258 31.2781 341.671 31.2781C341.903 31.2781 342.114 31.2484 342.303 31.189C342.495 31.1296 342.664 31.0433 342.808 30.9301C342.955 30.8141 343.075 30.6741 343.169 30.51C343.265 30.3431 343.331 30.155 343.368 29.9456L345.49 29.9584C345.453 30.3431 345.341 30.7222 345.155 31.0956C344.971 31.4691 344.718 31.81 344.395 32.1183C344.073 32.4239 343.679 32.6672 343.215 32.8482C342.754 33.0293 342.225 33.1198 341.628 33.1198C340.842 33.1198 340.137 32.9472 339.515 32.6021C338.896 32.2541 338.406 31.7477 338.047 31.0829C337.688 30.4181 337.508 29.609 337.508 28.6556C337.508 27.6994 337.69 26.8889 338.055 26.2241C338.42 25.5592 338.914 25.0543 339.536 24.7091C340.159 24.364 340.856 24.1914 341.628 24.1914C342.155 24.1914 342.641 24.265 343.088 24.4121C343.535 24.5563 343.928 24.7685 344.268 25.0486C344.607 25.3258 344.883 25.6667 345.095 26.0713C345.307 26.4758 345.439 26.9384 345.49 27.4589Z" fill="black"/>
				<path class="svg-text" d="M348.781 24.3102H350.878V29.3176H350.95L354.37 24.3102H356.178V33.001H354.077V27.9851H354.022L350.559 33.001H348.781V24.3102Z" fill="black"/>
				<path class="svg-text" d="M367.791 28.6556C367.791 29.6118 367.607 30.4223 367.239 31.0871C366.871 31.752 366.373 32.2569 365.745 32.6021C365.12 32.9472 364.418 33.1198 363.64 33.1198C362.86 33.1198 362.157 32.9458 361.531 32.5978C360.906 32.2499 360.41 31.7449 360.042 31.0829C359.677 30.4181 359.495 29.609 359.495 28.6556C359.495 27.6994 359.677 26.8889 360.042 26.2241C360.41 25.5592 360.906 25.0543 361.531 24.7091C362.157 24.364 362.86 24.1914 363.64 24.1914C364.418 24.1914 365.12 24.364 365.745 24.7091C366.373 25.0543 366.871 25.5592 367.239 26.2241C367.607 26.8889 367.791 27.6994 367.791 28.6556ZM365.643 28.6556C365.643 28.0898 365.563 27.6117 365.402 27.2213C365.243 26.8309 365.014 26.5352 364.714 26.3344C364.417 26.1335 364.059 26.0331 363.64 26.0331C363.225 26.0331 362.867 26.1335 362.567 26.3344C362.267 26.5352 362.036 26.8309 361.875 27.2213C361.717 27.6117 361.638 28.0898 361.638 28.6556C361.638 29.2214 361.717 29.6995 361.875 30.0899C362.036 30.4803 362.267 30.776 362.567 30.9768C362.867 31.1777 363.225 31.2781 363.64 31.2781C364.059 31.2781 364.417 31.1777 364.714 30.9768C365.014 30.776 365.243 30.4803 365.402 30.0899C365.563 29.6995 365.643 29.2214 365.643 28.6556Z" fill="black"/>
				<path class="svg-text" d="M376.667 27.4589H374.545C374.517 27.2411 374.459 27.0445 374.371 26.8691C374.283 26.6937 374.167 26.5437 374.023 26.4193C373.879 26.2948 373.708 26.2 373.51 26.1349C373.314 26.067 373.098 26.0331 372.86 26.0331C372.439 26.0331 372.075 26.1364 371.77 26.3429C371.467 26.5494 371.234 26.8479 371.07 27.2383C370.908 27.6287 370.828 28.1011 370.828 28.6556C370.828 29.2327 370.91 29.7165 371.074 30.1069C371.241 30.4945 371.474 30.7873 371.774 30.9853C372.077 31.1805 372.435 31.2781 372.848 31.2781C373.08 31.2781 373.29 31.2484 373.48 31.189C373.672 31.1296 373.841 31.0433 373.985 30.9301C374.132 30.8141 374.252 30.6741 374.346 30.51C374.442 30.3431 374.508 30.155 374.545 29.9456L376.667 29.9584C376.63 30.3431 376.518 30.7222 376.332 31.0956C376.148 31.4691 375.894 31.81 375.572 32.1183C375.249 32.4239 374.856 32.6672 374.392 32.8482C373.931 33.0293 373.402 33.1198 372.805 33.1198C372.019 33.1198 371.314 32.9472 370.692 32.6021C370.072 32.2541 369.583 31.7477 369.224 31.0829C368.864 30.4181 368.685 29.609 368.685 28.6556C368.685 27.6994 368.867 26.8889 369.232 26.2241C369.597 25.5592 370.091 25.0543 370.713 24.7091C371.335 24.364 372.033 24.1914 372.805 24.1914C373.331 24.1914 373.818 24.265 374.265 24.4121C374.712 24.5563 375.105 24.7685 375.445 25.0486C375.784 25.3258 376.06 25.6667 376.272 26.0713C376.484 26.4758 376.616 26.9384 376.667 27.4589Z" fill="black"/>
				<defs>
				<linearGradient id="paint0_linear_239_907" x1="234.381" y1="146.4" x2="235.563" y2="92.056" gradientUnits="userSpaceOnUse">
				<stop stop-color="#C5DDEF"/>
				<stop offset="0.95" stop-color="white"/>
				</linearGradient>
				<linearGradient id="paint1_linear_239_907" x1="499.324" y1="145.974" x2="500.505" y2="91.6308" gradientUnits="userSpaceOnUse">
				<stop stop-color="#C5DDEF"/>
				<stop offset="0.95" stop-color="white"/>
				</linearGradient>
				<linearGradient id="paint2_linear_239_907" x1="346.243" y1="135.891" x2="346.243" y2="191.824" gradientUnits="userSpaceOnUse">
				<stop stop-color="#D4D8E2"/>
				<stop offset="1" stop-color="white"/>
				</linearGradient>
				</defs>
			</svg>
		
	.inner.block
			h2  Задачи, которые решает Салфокс 
			.row.cards
				.col-lg-4.card-st-1
					h4 Исполнение национальных проектов России
					p Исполнение национальных проектов России «Экология» и «Комфортное жильё» — снижение выбросов загрязняющих веществ в атмосферу, а также кардинальное повышение комфортности городской среды.
					.card-st-1__icon 
						<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1 5.44967V15.4497M4 5.94967L6.69761 1.71058C7.14413 1.0089 8.06839 0.790706 8.78158 1.21862C9.4691 1.63113 9.72312 2.50343 9.36455 3.22057L8 5.94967H13C14.1046 5.94967 15 6.8451 15 7.94967V10.9497L12.6 14.1497C12.2223 14.6533 11.6295 14.9497 11 14.9497H6C4.89543 14.9497 4 14.0542 4 12.9497V5.94967Z"  stroke-width="2"/>
						</svg>
				.col-lg-4.card-st-1
					h4 Создание комфорта
					p Чистый воздух без резких запахов помогает создать комфортную и безопасную атмосферу  для сотрудников, а также снизить число жалоб от жильцов близлежащих домов.
					.card-st-1__icon 
						<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M5.5 7.42857H7.5M12.5 7.42857H14.5M6.14286 11.9286C8.07143 14.5 11.9286 14.5 13.8571 11.9286M10 19C5.02944 19 1 14.9706 1 10C1 5.02944 5.02944 1 10 1C14.9706 1 19 5.02944 19 10C19 14.9706 14.9706 19 10 19Z" stroke="" stroke-width="2"/>
						</svg>

				.col-lg-4.card-st-1
					h4 Уменьшение санитарно защитной зоны
					p Согласно СанПиН 2.2.1/2.1.1.1200-03 «Санитарно-защитные зоны и санитарная классификация предприятий, сооружений и иных объектов», при снижении уровня загрязнения, размер СЗЗ может быть уменьшен.
					.card-st-1__icon 
						<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M11.6667 11.6667L16.3333 11.6667M11.6667 11.6667L11.6667 16.3333M11.6667 11.6667L17 17M16.3333 6.33333L11.6667 6.33333M11.6667 6.33333V1.66667M11.6667 6.33333L17 1M1.66666 6.33334L6.33333 6.33334M6.33333 6.33334L6.33333 1.66667M6.33333 6.33334L1 1M6.33333 16.3333L6.33333 11.6667M6.33333 11.6667L1.66667 11.6667M6.33333 11.6667L1 17" stroke="" stroke-width="2"/>
						</svg>

				.col-lg-4.card-st-1
					h4 Защита от коррозии
					p Защита металлических и железо-бетонных конструкций от коррозии за счёт уменьшения концентрации сероводорода в воздухе под перекрытиями и в цеху.
					.card-st-1__icon 
						<svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M5 10L8.42857 12.8571L13 7.14286M9 2L1 6.57143V7.39416C1 12.3189 4.2647 16.6471 9 18C13.7353 16.6471 17 12.3189 17 7.39416V6.57143L9 2Z" stroke="" stroke-width="2"/>
						</svg>

				.col-lg-8.card-st-1._orange
					h4 Очистка воздуха 
					p Оборудование Салфокс удаляет из воздуха неприятный запах канализационных насосных станций и очистных сооружений, а также минимизирует выбросы опасных химических загрязнителей, таких как сероводород, меркаптаны, аммиак. 
					p При этом высокая эффективность его работы сохраняется даже при залповых выбросах загрязнителей.
					.card-st-1__icon 
						<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M9 18V8.62069M9 9.2069V12.7241M9 9.2069C9 6.61687 6.9533 4.51724 4.42857 4.51724H1V8.03448C1 10.6245 3.0467 12.7241 5.57143 12.7241H9M9 9.2069H12.4286C14.9533 9.2069 17 7.10727 17 4.51724V1H13.5714C11.0467 1 9 3.09963 9 5.68966V9.2069ZM9 9.2069L13.5714 4.51724M9 12.7241L4.42857 8.03448" stroke="" stroke-width="2"/>
						</svg>
	
	.inner.block
			.center 
				h2 Мы поможем вам подобрать решение
			.quiz
				form.swiper.quiz-slider(action="/",method="GET",data-length='4')
					.quiz-slider__paginator
						.quiz-slider__progress
							span.quiz-slider__progress-line
				
					.swiper-wrapper
						.swiper-slide
							h2.quiz-slider__title Где необходимо очистить воздух?
							label.quiz-radio
								input(type="radio",name="quiz-1",value="Канализационные насосные станции и очистные сооружения").quiz-radio__input
								span.quiz-radio__indicator 
								span.quiz-radio__text Канализационные насосные станции и очистные сооружения
							label.quiz-radio
								input(type="radio",name="quiz-1",value="Очистные сооружения").quiz-radio__input
								span.quiz-radio__indicator 
								span.quiz-radio__text Очистные сооружения
							label.quiz-radio
								input(type="radio",name="quiz-1",value="Небольшая канализационная насосная станция").quiz-radio__input
								span.quiz-radio__indicator 
								span.quiz-radio__text Небольшая канализационная насосная станция
							button(type='button',disabled,status="step",step="1",url="json/step-2.json",method='GET').quiz-slider__next.btn-arrow  Далее
						.swiper-slide
						.swiper-slide
						.swiper-slide

	.inner.block 
			.row._gap-22 
				.col-lg-6.card-arrow-link
					a(href="@").card-arrow-link__title  технология очистки
					p Базовая технология Салфокс — двухступенчатая очистка воздушных выбросов по схеме: скруббер + адсорбер.
					
				.col-lg-6.card-arrow-link
					a(href="@").card-arrow-link__title сертификаты
					p Оборудование и реагенты сертифицированы  и имеют всю необходимую разрешительную документацию.
	.block.front-about 
		.front-about__row
			.front-about__left
				.front-about__sub-title.h3 о компании
				.front-about__title.h2  
					color Салфокс — российская компания,  
					| которая 
					color разрабатывает и производит системы очистки воздуха 
				
					| от дурнопахнущих 
				
					| и токсичных веществ, таких 
				
					| как сероводород, меркаптаны, аммиак.
				a(href="@").btn._invert._big  Подробнее о компании
			.front-about__right
				.h4.front-about__right-title О компании
				.front-about__slider.swiper 
					.swiper-wrapper 
						.swiper-slide 
							+picture('g-1','jpg')
						.swiper-slide 
							+picture('g-2','jpg')
						.swiper-slide 
							+picture('g-3','jpg')
						.swiper-slide 
							+picture('g-4','jpg')
					.front-about__slider-nav
						.front-about__slider-prev
							<svg width="22" height="15" viewBox="0 0 22 15" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M2.30005 7.50003L8.43338 13.6334M2.30005 7.50003H21.4667M2.30005 7.50003L8.43338 1.3667" stroke="" stroke-width="2"/>
							</svg>
						.front-about__slider-next
							<svg width="21" height="15" viewBox="0 0 21 15" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M19.4668 7.49997L13.3335 1.36663M19.4668 7.49997L0.300131 7.49997M19.4668 7.49997L13.3335 13.6333" stroke="" stroke-width="2"/>
							</svg>

	.inner.block.news 
			.block__head
				h2 Новости и статьи 
				.news__filters
					button(type='button',data-slide='0')._white.news__filter.btn._active ВСЕ
					button(type='button',data-slide='1')._white.news__filter.btn КНС
					button(type='button',data-slide='2')._white.news__filter.btn Нефтепром
			.news-slider.swiper 
				.swiper-wrapper 
					.swiper-slide
						.news__row.row._gap-22
							.col-lg-6.news-item
								.news-item__img-wrap 
									+picture('news-1','jpg').news-item__img
									.news-item__tags 
										.news-item__tag КНС
								.news-item__head 
									a(href="#") НОВОСТИ
									span.news-item__divider
									| 13.09.2022
									span.news-item__divider
									| 10:34
								.news-item__title Почему он используется? 
								.news-item__body
									p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона
								a(href="#").news-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
							.col-lg-6.news-item
								.news-item__img-wrap 
									+picture('news-2','jpg').news-item__img
									.news-item__tags 
										.news-item__tag нефтепром
								.news-item__head 
									a(href="#") НОВОСТИ
									span.news-item__divider
									| 13.09.2022
									span.news-item__divider
									| 10:34
								.news-item__title Почему он используется? 
								.news-item__body
									p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона
								a(href="#").news-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
							.col-lg-4.article-item
								.article-item__head 
									a(href="#") статьи
									span.article-item__divider
									| 13.09.2022
									span.article-item__divider
									| 10:34
								.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
								a(href="#").article-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
							.col-lg-4.article-item
								.article-item__head 
									a(href="#") статьи
									span.article-item__divider
									| 13.09.2022
									span.article-item__divider
									| 10:34
								.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
								a(href="#").article-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
							.col-lg-4.article-item
								.article-item__head 
									a(href="#") статьи
									span.article-item__divider
									| 13.09.2022
									span.article-item__divider
									| 10:34
								.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
								a(href="#").article-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
						.news__btn-wrap 
							a(href="#")._white.btn._big Все новости 
							a(href="#")._white.btn._big Все статьи 
					.swiper-slide
						.news__row.row._gap-22
							.col-lg-6.news-item
								.news-item__img-wrap 
									+picture('news-1','jpg').news-item__img
									.news-item__tags 
										.news-item__tag КНС
								.news-item__head 
									a(href="#") НОВОСТИ
									span.news-item__divider
									| 13.09.2022
									span.news-item__divider
									| 10:34
								.news-item__title Почему он используется? 
								.news-item__body
									p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона
								a(href="#").news-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
							.col-lg-6.news-item
								.news-item__img-wrap 
									+picture('news-2','jpg').news-item__img
									.news-item__tags 
										.news-item__tag нефтепром
								.news-item__head 
									a(href="#") НОВОСТИ
									span.news-item__divider
									| 13.09.2022
									span.news-item__divider
									| 10:34
								.news-item__title Почему он используется? 
								.news-item__body
									p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона
								a(href="#").news-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
							.col-lg-4.article-item
								.article-item__head 
									a(href="#") статьи
									span.article-item__divider
									| 13.09.2022
									span.article-item__divider
									| 10:34
								.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
								a(href="#").article-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
							.col-lg-4.article-item
								.article-item__head 
									a(href="#") статьи
									span.article-item__divider
									| 13.09.2022
									span.article-item__divider
									| 10:34
								.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
								a(href="#").article-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
							.col-lg-4.article-item
								.article-item__head 
									a(href="#") статьи
									span.article-item__divider
									| 13.09.2022
									span.article-item__divider
									| 10:34
								.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
								a(href="#").article-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
						.news__btn-wrap 
							a(href="#")._white.btn._big Все новости 
							a(href="#")._white.btn._big Все статьи 
					.swiper-slide
						.news__row.row._gap-22
							.col-lg-6.news-item
								.news-item__img-wrap 
									+picture('news-1','jpg').news-item__img
									.news-item__tags 
										.news-item__tag КНС
								.news-item__head 
									a(href="#") НОВОСТИ
									span.news-item__divider
									| 13.09.2022
									span.news-item__divider
									| 10:34
								.news-item__title Почему он используется? 
								.news-item__body
									p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона
								a(href="#").news-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
							.col-lg-6.news-item
								.news-item__img-wrap 
									+picture('news-2','jpg').news-item__img
									.news-item__tags 
										.news-item__tag нефтепром
								.news-item__head 
									a(href="#") НОВОСТИ
									span.news-item__divider
									| 13.09.2022
									span.news-item__divider
									| 10:34
								.news-item__title Почему он используется? 
								.news-item__body
									p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона
								a(href="#").news-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
							.col-lg-4.article-item
								.article-item__head 
									a(href="#") статьи
									span.article-item__divider
									| 13.09.2022
									span.article-item__divider
									| 10:34
								.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
								a(href="#").article-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
							.col-lg-4.article-item
								.article-item__head 
									a(href="#") статьи
									span.article-item__divider
									| 13.09.2022
									span.article-item__divider
									| 10:34
								.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
								a(href="#").article-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
							.col-lg-4.article-item
								.article-item__head 
									a(href="#") статьи
									span.article-item__divider
									| 13.09.2022
									span.article-item__divider
									| 10:34
								.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
								a(href="#").article-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
						.news__btn-wrap 
							a(href="#")._white.btn._big Все новости 
							a(href="#")._white.btn._big Все статьи 