extends ../../layout/layout
block title
	title Салфокс
block content
	+breadcrumb(['Главная'], 'Канализационно-насосные станции')
	.front-main.block
		.front-main__air
		img(src="img/kns-main-bg.svg", alt="").front-main__bg
		h1 Очистка выбрасываемого воздуха
		p
			big на канализационных насосных станциях и очистных сооружениях
		.kns.front-main__main
			img.kns__gear-big(src="img/kns-gear-big.svg", alt="")
			img.kns__gear-small(src="img/kns-gear-small.svg", alt="")
			img.kns__tooth-1(src="img/kns-tooth-1.svg", alt="")
			img.kns__tooth-2(src="img/kns-tooth-2.svg", alt="")
			img.kns__p.kns__p-1._del-15(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-2._del-2(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-3._del-15(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-4._del-45(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-1._del-3(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-2._del-35(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-3._del-4(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-4._del-4(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-11._del-3(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-12._del-35(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-13._del-3(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-14._del-25(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-11._del-2(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-12._del-15(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-13._del-2(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-14._del-3(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-4(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-5(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-6(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-7(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-8(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-9(src="img/kns-p.svg", alt="")
			img.kns__p.kns__p-10(src="img/kns-p.svg", alt="")
			<svg  viewBox="0 0 656 217" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M111.037 173.164H20.2037V93.2523L65.622 76.8104L111.037 93.2523V173.164Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M76.476 137.548H54.7681V173.016H76.476V137.548Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M45.8543 101.247H35.0004V120.767H45.8543V101.247Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M62.6152 101.247H51.7612V120.766H62.6152V101.247Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M79.376 101.247H68.5221V120.766H79.376V101.247Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M96.1369 101.247H85.283V120.766H96.1369V101.247Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M452.057 120.217H240.433V172.824H452.057V120.217Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M213.772 92.8033L183.118 97.1006V173.049H213.982V92.8329L213.772 92.8033Z" fill="#C5DDEF"/>
				<path d="M213.982 92.8329V173.049H226.239V94.5518L213.982 92.8329Z" fill="white"/>
				<path d="M243.073 96.9114L226.239 94.5516V173.049H243.073V96.9114Z" fill="url(#paint0_linear_239_907)"/>
				<path d="M166.159 99.4781V173.049H183.118V97.1006L166.159 99.4781Z" fill="#90ADC6"/>
				<path d="M261.385 99.4782L243.073 96.9116V173.049H261.385V99.4782Z" fill="#90ADC6"/>
				<path d="M261.385 99.4782L213.772 92.8033L166.159 99.4782V173.049H261.385V99.4782Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M478.715 92.3781L448.061 96.6753V172.623H478.925V92.4076L478.715 92.3781Z" fill="#C5DDEF"/>
				<path d="M478.925 92.4076V172.623H491.181V94.1236L478.925 92.4076Z" fill="white"/>
				<path d="M508.016 96.4833L491.181 94.1235V172.623H508.016V96.4833Z" fill="url(#paint1_linear_239_907)"/>
				<path d="M526.328 99.0529L508.016 96.4834V172.623H526.328V99.0529Z" fill="#90ADC6"/>
				<path d="M526.422 99.1467L478.724 92.4399L431.025 99.1467V173.069H526.422V99.1467Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M403.883 15.9999L346.244 1L288.604 15.9999V173.049H403.883V15.9999Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M394 97H298V152H394V97Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M346 47L298 55.7857V97H346V47Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M394 97H346V152H394V97Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M394 55.5034L346 47V97H394V55.5034Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M169.352 56.1156H203.538C209.888 56.1156 215.045 61.2723 215.045 67.6223V149.953H157.842V67.6223C157.842 61.2723 162.999 56.1156 169.349 56.1156H169.352Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M215.048 155.381H157.845V173.049H215.048V155.381Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M219.112 150.032H153.991V155.458H219.112V150.032Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M219.006 38.593H153.885V56.1155H219.006V38.593Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M201.941 38.5928V33.0049C201.941 31.0881 203.494 29.5345 205.411 29.5345C207.328 29.5345 208.881 31.0881 208.881 33.0049V164.227H198.839V33.0049C198.839 31.0881 197.286 29.5345 195.369 29.5345C193.452 29.5345 191.899 31.0881 191.899 33.0049V38.5928" fill="white"/>
				<path d="M201.941 38.5928V33.0049C201.941 31.0881 203.494 29.5345 205.411 29.5345C207.328 29.5345 208.881 31.0881 208.881 33.0049V164.227H198.839V33.0049C198.839 31.0881 197.286 29.5345 195.369 29.5345C193.452 29.5345 191.899 31.0881 191.899 33.0049V38.5928" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M219.006 50.6901H153.885V56.1156H219.006V50.6901Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M152.42 38.5928H220.47" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M219.006 50.69V38.5927" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M153.885 50.69V38.5927" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M471.222 192.013V196.355V201.435H574.156V196.355V192.013H471.222Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M577.857 202.575V190.593H574.156V202.575H577.857Z" fill="#0A2973" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M471.222 202.575V190.593H467.521V202.575H471.222Z" fill="#0A2973" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M602.258 176.865V186.665C602.258 194.748 595.684 201.323 587.6 201.323H581.557V191.845H587.6C590.456 191.845 592.783 189.521 592.783 186.662V176.862" fill="white"/>
				<path d="M602.258 176.865V186.665C602.258 194.748 595.684 201.323 587.6 201.323H581.557V191.845H587.6C590.456 191.845 592.783 189.521 592.783 186.662V176.862" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M581.557 202.575V190.593H577.857V202.575H581.557Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M591.697 176.865H603.679V173.165H591.697V176.865Z" fill="#0A2973" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M588.15 96.8136C588.15 100.76 584.91 103.959 580.914 103.959C576.917 103.959 573.678 100.76 573.678 96.8136C573.678 92.8674 580.914 85.6471 580.914 85.6471C580.914 85.6471 588.15 92.8674 588.15 96.8136Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M593.117 169.463V159.664C593.117 151.58 599.692 145.006 607.775 145.006H613.818V154.483H607.775C604.919 154.483 602.592 156.808 602.592 159.667V169.466" fill="white"/>
				<path d="M593.117 169.463V159.664C593.117 151.58 599.692 145.006 607.775 145.006H613.818V154.483H607.775C604.919 154.483 602.592 156.808 602.592 159.667V169.466" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M613.818 143.753V155.736H617.519V143.753H613.818Z" fill="#0A2973" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M603.679 169.463H591.697V173.164H603.679V169.463Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M621.219 145.171H631.019C639.102 145.171 645.677 151.746 645.677 159.829V169.121H636.199V159.829C636.199 156.973 633.875 154.646 631.016 154.646H621.216" fill="white"/>
				<path d="M621.219 145.171H631.019C639.102 145.171 645.677 151.746 645.677 159.829V169.121H636.199V159.829C636.199 156.973 633.875 154.646 631.016 154.646H621.216" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M646.929 169.124H634.947V172.824H646.929V169.124Z" fill="#0A2973" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M621.219 155.733V143.75H617.519V155.733H621.219Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M122.733 128.223V132.423V137.337H146.656V132.423V128.223H122.733Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M150.621 138.809V126.827H146.92V138.809H150.621Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M122.636 138.809V126.827H118.935V138.809H122.636Z" fill="#0A2973" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M165.881 105.698V98.8522C165.881 90.7568 172.444 84.1942 180.539 84.1942H184.798C187.415 84.1942 189.536 86.3148 189.536 88.9316C189.536 91.5483 187.415 93.6689 184.798 93.6689H180.539C177.678 93.6689 175.356 95.9903 175.356 98.8522V105.698" fill="white"/>
				<path d="M165.881 105.698V98.8522C165.881 90.7568 172.444 84.1942 180.539 84.1942H184.798C187.415 84.1942 189.536 86.3148 189.536 88.9316C189.536 91.5483 187.415 93.6689 184.798 93.6689H180.539C177.678 93.6689 175.356 95.9903 175.356 98.8522V105.698" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M176.443 105.698H164.461V109.399H176.443V105.698Z" fill="#0A2973" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M175.025 113.1V122.899C175.025 130.983 168.451 137.557 160.367 137.557H154.325V128.079H160.367C163.223 128.079 165.551 125.755 165.551 122.896V113.097" fill="white"/>
				<path d="M175.025 113.1V122.899C175.025 130.983 168.451 137.557 160.367 137.557H154.325V128.079H160.367C163.223 128.079 165.551 125.755 165.551 122.896V113.097" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M154.322 138.809V126.827H150.621V138.809H154.322Z" fill="#0A2973" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M164.464 113.099H176.446V109.399H164.464V113.099Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M94.531 169.372V142.737C94.531 134.654 101.105 128.079 109.189 128.079H115.232V137.557H109.189C106.333 137.557 104.006 139.881 104.006 142.74V169.375" fill="white"/>
				<path d="M94.531 169.372V142.737C94.531 134.654 101.105 128.079 109.189 128.079H115.232V137.557H109.189C106.333 137.557 104.006 139.881 104.006 142.74V169.375" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M115.235 126.827V138.809H118.935V126.827H115.235Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M105.095 169.372H93.1133V173.072H105.095V169.372Z" fill="#0A2973" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M1.00029 173.5C274.606 172.449 381.393 173.408 655 173" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M550.889 144.385V104.49C550.889 98.8642 546.328 94.3036 540.702 94.3036H498.326C492.7 94.3036 488.14 98.8642 488.14 104.49V144.385C488.14 150.011 492.7 154.572 498.326 154.572H540.702C546.328 154.572 550.889 150.011 550.889 144.385Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M555.097 109.945V103.126H483.931V109.945H555.097Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M483.931 145.75L478.024 173.164L502.741 145.75" fill="white"/>
				<path d="M483.931 145.75L478.024 173.164L502.741 145.75" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M555.097 145.75L561.004 173.164L536.284 145.75" fill="white"/>
				<path d="M555.097 145.75L561.004 173.164L536.284 145.75" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M536.999 145.75L519.872 173.164L502.741 145.75" fill="white"/>
				<path d="M536.999 145.75L519.872 173.164L502.741 145.75" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M550.889 83.9518V44.0566C550.889 38.4308 546.328 33.8701 540.702 33.8701H498.326C492.7 33.8701 488.14 38.4308 488.14 44.0566V83.9518C488.14 89.5777 492.7 94.1383 498.326 94.1383H540.702C546.328 94.1383 550.889 89.5777 550.889 83.9518Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M555.097 49.5115V42.692L483.931 42.692V49.5115L555.097 49.5115Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M555.097 85.3133V78.4938H483.931V85.3133H555.097Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M450.161 168.636C450.161 171.035 448.218 172.981 445.817 172.981H445.081C442.683 172.981 440.737 171.037 440.737 168.636V36.9358H450.158V168.636H450.161Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M439.599 36.9358H451.582V33.2351H439.599V36.9358Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M512.907 30.1693V23.3232C512.907 15.2396 506.333 8.66516 498.249 8.66516H489.253V18.1428H498.249C501.105 18.1428 503.432 20.4672 503.432 23.3261V30.1722" fill="white"/>
				<path d="M512.907 30.1693V23.3232C512.907 15.2396 506.333 8.66516 498.249 8.66516H489.253V18.1428H498.249C501.105 18.1428 503.432 20.4672 503.432 23.3261V30.1722" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M485.549 7.41315V19.3953H489.25V7.41315H485.549Z" fill="#0A2973" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M502.346 33.87H514.328V30.1693H502.346V33.87Z" fill="#0A2973" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M481.848 8.83069H455.51C447.426 8.83069 440.852 15.4051 440.852 23.4887V29.5315H450.329V23.4887C450.329 20.6327 452.654 18.3054 455.512 18.3054H481.851" fill="white"/>
				<path d="M481.848 8.83069H455.51C447.426 8.83069 440.852 15.4051 440.852 23.4887V29.5315H450.329V23.4887C450.329 20.6327 452.654 18.3054 455.512 18.3054H481.851" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M439.599 33.2351H451.582V29.5344H439.599V33.2351Z" fill="#0A2973" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M485.549 19.3952V7.41309H481.849V19.3952H485.549Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M457.633 190.536H234.857V206.526H457.633V190.536Z" fill="#0A2973" fill-opacity="0.5"/>
				<path d="M457.633 190.536V137.383C451.481 143.18 441.507 143.18 435.355 137.383C429.203 143.18 419.229 143.18 413.077 137.383C406.925 143.18 396.951 143.18 390.799 137.383C384.647 143.18 374.673 143.18 368.521 137.383C362.369 143.18 352.395 143.18 346.243 137.383C340.091 143.18 330.118 143.18 323.966 137.383C317.813 143.18 307.84 143.18 301.688 137.383C295.536 143.18 285.562 143.18 279.41 137.383C273.258 143.18 263.284 143.18 257.132 137.383C250.98 143.18 241.006 143.18 234.854 137.383V190.536H457.63H457.633Z" fill="url(#paint2_linear_239_907)"/>
				<path d="M457.633 190.536V137.383C451.481 143.18 441.507 143.18 435.355 137.383C429.203 143.18 419.229 143.18 413.077 137.383C406.925 143.18 396.951 143.18 390.799 137.383C384.647 143.18 374.673 143.18 368.521 137.383C362.369 143.18 352.395 143.18 346.243 137.383C340.091 143.18 330.118 143.18 323.966 137.383C317.813 143.18 307.84 143.18 301.688 137.383C295.536 143.18 285.562 143.18 279.41 137.383C273.258 143.18 263.284 143.18 257.132 137.383C250.98 143.18 241.006 143.18 234.854 137.383V190.536H457.63H457.633Z" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M457.633 198.144H234.857V206.526H457.633V198.144Z" fill="#0A2973"/>
				<path d="M457.633 122.772V206.526H234.857V122.772H224.969V206.526C224.969 211.987 229.396 216.414 234.857 216.414H457.633C463.094 216.414 467.521 211.987 467.521 206.526V122.772H457.633Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
			
				<path d="M555.097 145.747V138.927H483.931V145.747H555.097Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
				<path class="svg-text" d="M315.77 23V18.8H316.73V20.6L317.96 18.8H319.13L317.69 20.87L319.25 23H318.08L316.73 21.11V23H315.77ZM318.95 23L320.39 18.8H321.77L323.21 23H322.16L321.89 22.16H320.27L320 23H318.95ZM320.54 21.32H321.62L321.14 19.82H321.02L320.54 21.32ZM323.481 23V18.8H324.441V20.39H326.061V18.8H327.021V23H326.061V21.38H324.441V23H323.481ZM327.294 23L328.734 18.8H330.114L331.554 23H330.504L330.234 22.16H328.614L328.344 23H327.294ZM328.884 21.32H329.964L329.484 19.82H329.364L328.884 21.32ZM331.435 23.03V22.1H331.555C331.843 22.1 332.003 21.94 332.035 21.62L332.275 18.8H335.215V23H334.255V19.73H333.145L332.965 21.86C332.933 22.24 332.813 22.53 332.605 22.73C332.397 22.93 332.107 23.03 331.735 23.03H331.435ZM335.935 23V18.8H336.895V21.32H337.015L338.335 18.8H339.475V23H338.515V20.48H338.395L337.075 23H335.935ZM339.958 21.65H340.918C340.918 21.794 340.98 21.916 341.104 22.016C341.232 22.112 341.41 22.16 341.638 22.16C341.866 22.16 342.038 22.118 342.154 22.034C342.27 21.946 342.328 21.838 342.328 21.71C342.328 21.582 342.274 21.476 342.166 21.392C342.058 21.304 341.902 21.26 341.698 21.26H341.248V20.51H341.668C341.852 20.51 341.998 20.468 342.106 20.384C342.214 20.3 342.268 20.202 342.268 20.09C342.268 19.962 342.212 19.856 342.1 19.772C341.988 19.684 341.824 19.64 341.608 19.64C341.404 19.64 341.248 19.686 341.14 19.778C341.032 19.866 340.978 19.98 340.978 20.12H340.018C340.018 19.716 340.162 19.386 340.45 19.13C340.742 18.87 341.138 18.74 341.638 18.74C342.13 18.74 342.518 18.86 342.802 19.1C343.086 19.34 343.228 19.64 343.228 20C343.228 20.276 343.132 20.498 342.94 20.666C342.852 20.742 342.758 20.8 342.658 20.84V20.87C342.778 20.922 342.882 20.988 342.97 21.068C343.182 21.256 343.288 21.5 343.288 21.8C343.288 22.164 343.142 22.466 342.85 22.706C342.562 22.942 342.158 23.06 341.638 23.06C341.11 23.06 340.698 22.93 340.402 22.67C340.106 22.41 339.958 22.07 339.958 21.65ZM343.261 23L344.701 18.8H346.081L347.521 23H346.471L346.201 22.16H344.581L344.311 23H343.261ZM344.851 21.32H345.931L345.451 19.82H345.331L344.851 21.32ZM347.792 23V18.8H348.752V22.07H350.252V18.8H351.212V22.07H351.662V23.84H350.702V23H347.792ZM352.084 23V18.8H353.044V21.32H353.164L354.484 18.8H355.624V23H354.664V20.48H354.544L353.224 23H352.084ZM359.659 22.448C359.267 22.856 358.783 23.06 358.207 23.06C357.631 23.06 357.147 22.856 356.755 22.448C356.363 22.04 356.167 21.524 356.167 20.9C356.167 20.276 356.363 19.76 356.755 19.352C357.147 18.944 357.631 18.74 358.207 18.74C358.783 18.74 359.267 18.944 359.659 19.352C360.051 19.76 360.247 20.276 360.247 20.9C360.247 21.524 360.051 22.04 359.659 22.448ZM357.433 21.794C357.641 22.018 357.899 22.13 358.207 22.13C358.515 22.13 358.771 22.018 358.975 21.794C359.183 21.566 359.287 21.268 359.287 20.9C359.287 20.532 359.183 20.236 358.975 20.012C358.771 19.784 358.515 19.67 358.207 19.67C357.899 19.67 357.641 19.784 357.433 20.012C357.229 20.236 357.127 20.532 357.127 20.9C357.127 21.268 357.229 21.566 357.433 21.794ZM360.786 23V18.8H361.746V20.39H363.366V18.8H364.326V23H363.366V21.38H361.746V23H360.786ZM365.048 23V18.8H366.008V20.39H367.628V18.8H368.588V23H367.628V21.38H366.008V23H365.048ZM372.911 23V18.8H373.871V23H372.911ZM369.311 23V18.8H370.271V20.12H371.141C371.549 20.12 371.881 20.252 372.137 20.516C372.393 20.78 372.521 21.128 372.521 21.56C372.521 21.992 372.393 22.34 372.137 22.604C371.881 22.868 371.549 23 371.141 23H369.311ZM370.271 22.07H371.081C371.217 22.07 371.331 22.024 371.423 21.932C371.515 21.836 371.561 21.712 371.561 21.56C371.561 21.408 371.515 21.286 371.423 21.194C371.331 21.098 371.217 21.05 371.081 21.05H370.271V22.07ZM374.593 23V18.8H377.473V19.67H375.553V20.48H377.353V21.32H375.553V22.13H377.473V23H374.593ZM314.668 30V25.8H315.628V27.39H317.248V25.8H318.208V30H317.248V28.38H315.628V30H314.668ZM318.481 30L319.921 25.8H321.301L322.741 30H321.691L321.421 29.16H319.801L319.531 30H318.481ZM320.071 28.32H321.151L320.671 26.82H320.551L320.071 28.32ZM325.715 28.41H326.675C326.611 28.718 326.497 28.994 326.333 29.238C325.977 29.786 325.451 30.06 324.755 30.06C324.179 30.06 323.695 29.856 323.303 29.448C322.911 29.04 322.715 28.524 322.715 27.9C322.715 27.276 322.911 26.76 323.303 26.352C323.695 25.944 324.179 25.74 324.755 25.74C325.435 25.74 325.957 26.01 326.321 26.55C326.477 26.782 326.595 27.052 326.675 27.36H325.715C325.671 27.228 325.609 27.114 325.529 27.018C325.337 26.786 325.079 26.67 324.755 26.67C324.447 26.67 324.189 26.784 323.981 27.012C323.777 27.236 323.675 27.532 323.675 27.9C323.675 28.268 323.777 28.566 323.981 28.794C324.189 29.018 324.447 29.13 324.755 29.13C325.099 29.13 325.361 29.01 325.541 28.77C325.621 28.666 325.679 28.546 325.715 28.41ZM330.47 29.448C330.078 29.856 329.594 30.06 329.018 30.06C328.442 30.06 327.958 29.856 327.566 29.448C327.174 29.04 326.978 28.524 326.978 27.9C326.978 27.276 327.174 26.76 327.566 26.352C327.958 25.944 328.442 25.74 329.018 25.74C329.594 25.74 330.078 25.944 330.47 26.352C330.862 26.76 331.058 27.276 331.058 27.9C331.058 28.524 330.862 29.04 330.47 29.448ZM328.244 28.794C328.452 29.018 328.71 29.13 329.018 29.13C329.326 29.13 329.582 29.018 329.786 28.794C329.994 28.566 330.098 28.268 330.098 27.9C330.098 27.532 329.994 27.236 329.786 27.012C329.582 26.784 329.326 26.67 329.018 26.67C328.71 26.67 328.452 26.784 328.244 27.012C328.04 27.236 327.938 27.532 327.938 27.9C327.938 28.268 328.04 28.566 328.244 28.794ZM334.416 28.41H335.376C335.312 28.718 335.198 28.994 335.034 29.238C334.678 29.786 334.152 30.06 333.456 30.06C332.88 30.06 332.396 29.856 332.004 29.448C331.612 29.04 331.416 28.524 331.416 27.9C331.416 27.276 331.612 26.76 332.004 26.352C332.396 25.944 332.88 25.74 333.456 25.74C334.136 25.74 334.658 26.01 335.022 26.55C335.178 26.782 335.296 27.052 335.376 27.36H334.416C334.372 27.228 334.31 27.114 334.23 27.018C334.038 26.786 333.78 26.67 333.456 26.67C333.148 26.67 332.89 26.784 332.682 27.012C332.478 27.236 332.376 27.532 332.376 27.9C332.376 28.268 332.478 28.566 332.682 28.794C332.89 29.018 333.148 29.13 333.456 29.13C333.8 29.13 334.062 29.01 334.242 28.77C334.322 28.666 334.38 28.546 334.416 28.41ZM335.859 30V25.8H336.819V27.39H338.439V25.8H339.399V30H338.439V28.38H336.819V30H335.859ZM343.722 30V25.8H344.682V30H343.722ZM340.122 30V25.8H341.082V27.12H341.952C342.36 27.12 342.692 27.252 342.948 27.516C343.204 27.78 343.332 28.128 343.332 28.56C343.332 28.992 343.204 29.34 342.948 29.604C342.692 29.868 342.36 30 341.952 30H340.122ZM341.082 29.07H341.892C342.028 29.07 342.142 29.024 342.234 28.932C342.326 28.836 342.372 28.712 342.372 28.56C342.372 28.408 342.326 28.286 342.234 28.194C342.142 28.098 342.028 28.05 341.892 28.05H341.082V29.07ZM344.894 30L346.304 27.84L344.984 25.8H346.124L346.874 27.06H346.994L347.744 25.8H348.884L347.564 27.84L348.974 30H347.834L346.994 28.65H346.874L346.034 30H344.894ZM353.504 28.41H354.464C354.4 28.718 354.286 28.994 354.122 29.238C353.766 29.786 353.24 30.06 352.544 30.06C351.968 30.06 351.484 29.856 351.092 29.448C350.7 29.04 350.504 28.524 350.504 27.9C350.504 27.276 350.7 26.76 351.092 26.352C351.484 25.944 351.968 25.74 352.544 25.74C353.224 25.74 353.746 26.01 354.11 26.55C354.266 26.782 354.384 27.052 354.464 27.36H353.504C353.46 27.228 353.398 27.114 353.318 27.018C353.126 26.786 352.868 26.67 352.544 26.67C352.236 26.67 351.978 26.784 351.77 27.012C351.566 27.236 351.464 27.532 351.464 27.9C351.464 28.268 351.566 28.566 351.77 28.794C351.978 29.018 352.236 29.13 352.544 29.13C352.888 29.13 353.15 29.01 353.33 28.77C353.41 28.666 353.468 28.546 353.504 28.41ZM355.699 30V26.73H354.529V25.8H357.829V26.73H356.659V30H355.699ZM357.441 30L358.881 25.8H360.261L361.701 30H360.651L360.381 29.16H358.761L358.491 30H357.441ZM359.031 28.32H360.111L359.631 26.82H359.511L359.031 28.32ZM361.972 30V25.8H362.932V27.39H364.552V25.8H365.512V30H364.552V28.38H362.932V30H361.972ZM366.235 30V25.8H367.195V29.07H368.695V25.8H369.655V29.07H370.105V30.84H369.145V30H366.235ZM370.527 30V25.8H371.487V28.32H371.607L372.927 25.8H374.067V30H373.107V27.48H372.987L371.667 30H370.527ZM374.79 30V25.8H375.75V28.32H375.87L377.19 25.8H378.33V30H377.37V27.48H377.25L375.93 30H374.79ZM305.681 37V32.8H306.641V35.32H306.761L308.081 32.8H309.221V37H308.261V34.48H308.141L306.821 37H305.681ZM314.753 36.448C314.361 36.856 313.877 37.06 313.301 37.06C312.725 37.06 312.241 36.856 311.849 36.448C311.457 36.04 311.261 35.524 311.261 34.9C311.261 34.276 311.457 33.76 311.849 33.352C312.241 32.944 312.725 32.74 313.301 32.74C313.877 32.74 314.361 32.944 314.753 33.352C315.145 33.76 315.341 34.276 315.341 34.9C315.341 35.524 315.145 36.04 314.753 36.448ZM312.527 35.794C312.735 36.018 312.993 36.13 313.301 36.13C313.609 36.13 313.865 36.018 314.069 35.794C314.277 35.566 314.381 35.268 314.381 34.9C314.381 34.532 314.277 34.236 314.069 34.012C313.865 33.784 313.609 33.67 313.301 33.67C312.993 33.67 312.735 33.784 312.527 34.012C312.323 34.236 312.221 34.532 312.221 34.9C312.221 35.268 312.323 35.566 312.527 35.794ZM318.22 37V35.53C318.124 35.598 318.038 35.648 317.962 35.68C317.746 35.78 317.512 35.83 317.26 35.83C316.8 35.83 316.444 35.698 316.192 35.434C315.944 35.166 315.82 34.778 315.82 34.27V32.8H316.78V34.18C316.78 34.66 317.01 34.9 317.47 34.9C317.678 34.9 317.866 34.856 318.034 34.768C318.11 34.724 318.172 34.678 318.22 34.63V32.8H319.18V37H318.22ZM319.902 37V32.8H320.862V35.32H320.982L322.302 32.8H323.442V37H322.482V34.48H322.362L321.042 37H319.902ZM326.985 35.41H327.945C327.881 35.718 327.767 35.994 327.603 36.238C327.247 36.786 326.721 37.06 326.025 37.06C325.449 37.06 324.965 36.856 324.573 36.448C324.181 36.04 323.985 35.524 323.985 34.9C323.985 34.276 324.181 33.76 324.573 33.352C324.965 32.944 325.449 32.74 326.025 32.74C326.705 32.74 327.227 33.01 327.591 33.55C327.747 33.782 327.865 34.052 327.945 34.36H326.985C326.941 34.228 326.879 34.114 326.799 34.018C326.607 33.786 326.349 33.67 326.025 33.67C325.717 33.67 325.459 33.784 325.251 34.012C325.047 34.236 324.945 34.532 324.945 34.9C324.945 35.268 325.047 35.566 325.251 35.794C325.459 36.018 325.717 36.13 326.025 36.13C326.369 36.13 326.631 36.01 326.811 35.77C326.891 35.666 326.949 35.546 326.985 35.41ZM329.181 37V33.73H328.011V32.8H331.311V33.73H330.141V37H329.181ZM331.73 37V32.8H332.69V34.39H334.31V32.8H335.27V37H334.31V35.38H332.69V37H331.73ZM339.592 37V32.8H340.552V37H339.592ZM335.992 37V32.8H336.952V34.12H337.822C338.23 34.12 338.562 34.252 338.818 34.516C339.074 34.78 339.202 35.128 339.202 35.56C339.202 35.992 339.074 36.34 338.818 36.604C338.562 36.868 338.23 37 337.822 37H335.992ZM336.952 36.07H337.762C337.898 36.07 338.012 36.024 338.104 35.932C338.196 35.836 338.242 35.712 338.242 35.56C338.242 35.408 338.196 35.286 338.104 35.194C338.012 35.098 337.898 35.05 337.762 35.05H336.952V36.07ZM341.275 37V32.8H344.155V33.67H342.235V34.48H344.035V35.32H342.235V36.13H344.155V37H341.275ZM349.07 35.41H350.03C349.966 35.718 349.852 35.994 349.688 36.238C349.332 36.786 348.806 37.06 348.11 37.06C347.534 37.06 347.05 36.856 346.658 36.448C346.266 36.04 346.07 35.524 346.07 34.9C346.07 34.276 346.266 33.76 346.658 33.352C347.05 32.944 347.534 32.74 348.11 32.74C348.79 32.74 349.312 33.01 349.676 33.55C349.832 33.782 349.95 34.052 350.03 34.36H349.07C349.026 34.228 348.964 34.114 348.884 34.018C348.692 33.786 348.434 33.67 348.11 33.67C347.802 33.67 347.544 33.784 347.336 34.012C347.132 34.236 347.03 34.532 347.03 34.9C347.03 35.268 347.132 35.566 347.336 35.794C347.544 36.018 347.802 36.13 348.11 36.13C348.454 36.13 348.716 36.01 348.896 35.77C348.976 35.666 349.034 35.546 349.07 35.41ZM353.824 36.448C353.432 36.856 352.948 37.06 352.372 37.06C351.796 37.06 351.312 36.856 350.92 36.448C350.528 36.04 350.332 35.524 350.332 34.9C350.332 34.276 350.528 33.76 350.92 33.352C351.312 32.944 351.796 32.74 352.372 32.74C352.948 32.74 353.432 32.944 353.824 33.352C354.216 33.76 354.412 34.276 354.412 34.9C354.412 35.524 354.216 36.04 353.824 36.448ZM351.598 35.794C351.806 36.018 352.064 36.13 352.372 36.13C352.68 36.13 352.936 36.018 353.14 35.794C353.348 35.566 353.452 35.268 353.452 34.9C353.452 34.532 353.348 34.236 353.14 34.012C352.936 33.784 352.68 33.67 352.372 33.67C352.064 33.67 351.806 33.784 351.598 34.012C351.394 34.236 351.292 34.532 351.292 34.9C351.292 35.268 351.394 35.566 351.598 35.794ZM358.263 36.448C357.871 36.856 357.387 37.06 356.811 37.06C356.235 37.06 355.751 36.856 355.359 36.448C354.967 36.04 354.771 35.524 354.771 34.9C354.771 34.276 354.967 33.76 355.359 33.352C355.751 32.944 356.235 32.74 356.811 32.74C357.387 32.74 357.871 32.944 358.263 33.352C358.655 33.76 358.851 34.276 358.851 34.9C358.851 35.524 358.655 36.04 358.263 36.448ZM356.037 35.794C356.245 36.018 356.503 36.13 356.811 36.13C357.119 36.13 357.375 36.018 357.579 35.794C357.787 35.566 357.891 35.268 357.891 34.9C357.891 34.532 357.787 34.236 357.579 34.012C357.375 33.784 357.119 33.67 356.811 33.67C356.503 33.67 356.245 33.784 356.037 34.012C355.833 34.236 355.731 34.532 355.731 34.9C355.731 35.268 355.833 35.566 356.037 35.794ZM359.39 37V32.8H361.34C361.748 32.8 362.08 32.934 362.336 33.202C362.592 33.47 362.72 33.826 362.72 34.27C362.72 34.714 362.592 35.07 362.336 35.338C362.08 35.606 361.748 35.74 361.34 35.74H360.35V37H359.39ZM360.35 34.81H361.28C361.42 34.81 361.534 34.762 361.622 34.666C361.714 34.566 361.76 34.434 361.76 34.27C361.76 34.106 361.714 33.976 361.622 33.88C361.534 33.78 361.42 33.73 361.28 33.73H360.35V34.81ZM363.381 37V36.13H363.951C364.023 36.13 364.077 36.116 364.113 36.088C364.149 36.06 364.185 36.014 364.221 35.95L364.263 35.86L362.721 32.8H363.801L364.701 34.69H364.821L365.661 32.8H366.711L365.091 36.31C364.979 36.554 364.843 36.73 364.683 36.838C364.523 36.946 364.283 37 363.963 37H363.381ZM366.439 37L367.699 34.87L366.559 32.8H367.699L368.659 34.63V32.8H369.619V34.63L370.579 32.8H371.719L370.579 34.87L371.839 37H370.699L369.619 35.08V37H368.659V35.08L367.579 37H366.439ZM372.078 37V32.8H374.958V33.67H373.038V34.48H374.838V35.32H373.038V36.13H374.958V37H372.078ZM375.556 37V32.8H376.516V34.39H378.136V32.8H379.096V37H378.136V35.38H376.516V37H375.556ZM379.819 37V32.8H380.779V35.32H380.899L382.219 32.8H383.359V37H382.399V34.48H382.279L380.959 37H379.819ZM383.842 37L385.072 35.59C384.86 35.554 384.674 35.482 384.514 35.374C384.146 35.114 383.962 34.736 383.962 34.24C383.962 33.808 384.09 33.46 384.346 33.196C384.602 32.932 384.934 32.8 385.342 32.8H387.322V37H386.362V35.65H386.182L385.042 37H383.842ZM385.402 34.78H386.362V33.7H385.402C385.262 33.7 385.146 33.75 385.054 33.85C384.966 33.946 384.922 34.076 384.922 34.24C384.922 34.404 384.966 34.536 385.054 34.636C385.146 34.732 385.262 34.78 385.402 34.78Z" fill="#0A2973"/>
				<defs>
				<linearGradient id="paint0_linear_239_907" x1="234.381" y1="146.4" x2="235.563" y2="92.056" gradientUnits="userSpaceOnUse">
				<stop stop-color="#C5DDEF"/>
				<stop offset="0.95" stop-color="white"/>
				</linearGradient>
				<linearGradient id="paint1_linear_239_907" x1="499.324" y1="145.974" x2="500.505" y2="91.6308" gradientUnits="userSpaceOnUse">
				<stop stop-color="#C5DDEF"/>
				<stop offset="0.95" stop-color="white"/>
				</linearGradient>
				<linearGradient id="paint2_linear_239_907" x1="346.243" y1="135.891" x2="346.243" y2="191.824" gradientUnits="userSpaceOnUse">
				<stop stop-color="#D4D8E2"/>
				<stop offset="1" stop-color="white"/>
				</linearGradient>
				</defs>
			</svg>
		
	.inner.block
			h2  Задачи, которые решает Салфокс 
			.row.cards
				.col-lg-4.card-st-1
					h4 Исполнение национальных проектов России
					p Исполнение национальных проектов России «Экология» и «Комфортное жильё» — снижение выбросов загрязняющих веществ в атмосферу, а также кардинальное повышение комфортности городской среды.
					.card-st-1__icon 
						<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1 5.44967V15.4497M4 5.94967L6.69761 1.71058C7.14413 1.0089 8.06839 0.790706 8.78158 1.21862C9.4691 1.63113 9.72312 2.50343 9.36455 3.22057L8 5.94967H13C14.1046 5.94967 15 6.8451 15 7.94967V10.9497L12.6 14.1497C12.2223 14.6533 11.6295 14.9497 11 14.9497H6C4.89543 14.9497 4 14.0542 4 12.9497V5.94967Z"  stroke-width="2"/>
						</svg>
				.col-lg-4.card-st-1
					h4 Создание комфорта
					p Чистый воздух без резких запахов помогает создать комфортную и безопасную атмосферу  для сотрудников, а также снизить число жалоб от жильцов близлежащих домов.
					.card-st-1__icon 
						<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M5.5 7.42857H7.5M12.5 7.42857H14.5M6.14286 11.9286C8.07143 14.5 11.9286 14.5 13.8571 11.9286M10 19C5.02944 19 1 14.9706 1 10C1 5.02944 5.02944 1 10 1C14.9706 1 19 5.02944 19 10C19 14.9706 14.9706 19 10 19Z" stroke="" stroke-width="2"/>
						</svg>

				.col-lg-4.card-st-1
					h4 Уменьшение санитарно защитной зоны
					p Согласно СанПиН 2.2.1/2.1.1.1200-03 «Санитарно-защитные зоны и санитарная классификация предприятий, сооружений и иных объектов», при снижении уровня загрязнения, размер СЗЗ может быть уменьшен.
					.card-st-1__icon 
						<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M11.6667 11.6667L16.3333 11.6667M11.6667 11.6667L11.6667 16.3333M11.6667 11.6667L17 17M16.3333 6.33333L11.6667 6.33333M11.6667 6.33333V1.66667M11.6667 6.33333L17 1M1.66666 6.33334L6.33333 6.33334M6.33333 6.33334L6.33333 1.66667M6.33333 6.33334L1 1M6.33333 16.3333L6.33333 11.6667M6.33333 11.6667L1.66667 11.6667M6.33333 11.6667L1 17" stroke="" stroke-width="2"/>
						</svg>

				.col-lg-4.card-st-1
					h4 Защита от коррозии
					p Защита металлических и железо-бетонных конструкций от коррозии за счёт уменьшения концентрации сероводорода в воздухе под перекрытиями и в цеху.
					.card-st-1__icon 
						<svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M5 10L8.42857 12.8571L13 7.14286M9 2L1 6.57143V7.39416C1 12.3189 4.2647 16.6471 9 18C13.7353 16.6471 17 12.3189 17 7.39416V6.57143L9 2Z" stroke="" stroke-width="2"/>
						</svg>

				.col-lg-8.card-st-1._orange
					h4 Очистка воздуха 
					p Оборудование Салфокс удаляет из воздуха неприятный запах канализационных насосных станций и очистных сооружений, а также минимизирует выбросы опасных химических загрязнителей, таких как сероводород, меркаптаны, аммиак. 
					p При этом высокая эффективность его работы сохраняется даже при залповых выбросах загрязнителей.
					.card-st-1__icon 
						<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M9 18V8.62069M9 9.2069V12.7241M9 9.2069C9 6.61687 6.9533 4.51724 4.42857 4.51724H1V8.03448C1 10.6245 3.0467 12.7241 5.57143 12.7241H9M9 9.2069H12.4286C14.9533 9.2069 17 7.10727 17 4.51724V1H13.5714C11.0467 1 9 3.09963 9 5.68966V9.2069ZM9 9.2069L13.5714 4.51724M9 12.7241L4.42857 8.03448" stroke="" stroke-width="2"/>
						</svg>
	
	.inner.block
			.center 
				h2 Мы поможем вам подобрать решение
			.quiz
				form.swiper.quiz-slider(action="/",method="GET")
					.quiz-slider__paginator
						.quiz-slider__progress
							span.quiz-slider__progress-line
				
					.swiper-wrapper
						.swiper-slide
							h2.quiz-slider__title Где необходимо очистить воздух?
							label.quiz-radio
								input(type="radio",name="quiz-1").quiz-radio__input
								span.quiz-radio__indicator 
								span.quiz-radio__text Канализационные насосные станции и очистные сооружения
							label.quiz-radio
								input(type="radio",name="quiz-1").quiz-radio__input
								span.quiz-radio__indicator 
								span.quiz-radio__text Очистные сооружения
							label.quiz-radio
								input(type="radio",name="quiz-1").quiz-radio__input
								span.quiz-radio__indicator 
								span.quiz-radio__text Небольшая канализационная насосная станция
							button(type='button',disabled).quiz-slider__next.btn-arrow  Далее
						.swiper-slide
							h2.quiz-slider__title Где необходимо очистить воздух 2?
							label.quiz-radio
								input(type="radio",name="quiz-2").quiz-radio__input
								span.quiz-radio__indicator 
								span.quiz-radio__text Канализационные насосные станции и очистные сооружения
							label.quiz-radio
								input(type="radio",name="quiz-2").quiz-radio__input
								span.quiz-radio__indicator 
								span.quiz-radio__text Очистные сооружения
							label.quiz-radio
								input(type="radio",name="quiz-2").quiz-radio__input
								span.quiz-radio__indicator 
								span.quiz-radio__text Небольшая канализационная насосная станция
							button(type='button',disabled).quiz-slider__next.btn-arrow  Далее
						.swiper-slide
							h2.quiz-slider__title Где необходимо очистить воздух 3?
							label.quiz-radio
								input(type="radio",name="quiz-3").quiz-radio__input
								span.quiz-radio__indicator 
								span.quiz-radio__text Канализационные насосные станции и очистные сооружения
							label.quiz-radio
								input(type="radio",name="quiz-3").quiz-radio__input
								span.quiz-radio__indicator 
								span.quiz-radio__text Очистные сооружения
							label.quiz-radio
								input(type="radio",name="quiz-3").quiz-radio__input
								span.quiz-radio__indicator 
								span.quiz-radio__text Небольшая канализационная насосная станция
							button(type='button',disabled).quiz-slider__next.btn-arrow  Далее
						.swiper-slide
							h2.quiz-slider__title Где необходимо очистить воздух 4?
							label.quiz-radio
								input(type="radio",name="quiz-4").quiz-radio__input
								span.quiz-radio__indicator 
								span.quiz-radio__text Канализационные насосные станции и очистные сооружения
							label.quiz-radio
								input(type="radio",name="quiz-4").quiz-radio__input
								span.quiz-radio__indicator 
								span.quiz-radio__text Очистные сооружения
							label.quiz-radio
								input(type="radio",name="quiz-4").quiz-radio__input
								span.quiz-radio__indicator 
								span.quiz-radio__text Небольшая канализационная насосная станция
							button(type='submit',disabled).quiz-slider__next.btn-arrow  Далее
	.inner.block 
			.row._gap-22 
				.col-lg-6.card-arrow-link
					a(href="@").card-arrow-link__title  технология очистки
					p Базовая технология Салфокс — двухступенчатая очистка воздушных выбросов по схеме: скруббер + адсорбер.
					
				.col-lg-6.card-arrow-link
					a(href="@").card-arrow-link__title сертификаты
					p Оборудование и реагенты сертифицированы  и имеют всю необходимую разрешительную документацию.
	.block.front-about 
		.front-about__row
			.front-about__left
				.front-about__sub-title.h3 о компании
				.front-about__title.h2  
					color Салфокс — российская компания, 
					| которая 
					color разрабатывает и производит системы очистки воздуха 
					| от дурнопахнущих 
					| и токсичных веществ, таких 
					| как сероводород, меркаптаны, аммиак.
				a(href="@").btn._invert._big  Подробнее о компании
			.front-about__right
				.front-about__slider.swiper 
					.swiper-wrapper 
						.swiper-slide 
							+picture('g-1','jpg')
						.swiper-slide 
							+picture('g-2','jpg')
						.swiper-slide 
							+picture('g-3','jpg')
						.swiper-slide 
							+picture('g-4','jpg')
					.front-about__slider-nav
						.front-about__slider-prev
							<svg width="22" height="15" viewBox="0 0 22 15" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M2.30005 7.50003L8.43338 13.6334M2.30005 7.50003H21.4667M2.30005 7.50003L8.43338 1.3667" stroke="" stroke-width="2"/>
							</svg>
						.front-about__slider-next
							<svg width="21" height="15" viewBox="0 0 21 15" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M19.4668 7.49997L13.3335 1.36663M19.4668 7.49997L0.300131 7.49997M19.4668 7.49997L13.3335 13.6333" stroke="" stroke-width="2"/>
							</svg>

	.inner.block.news 
			.block__head
				h2 Новости и статьи 
				.news__filters
					button(type='button',data-slide='0')._white.news__filter.btn._active ВСЕ
					button(type='button',data-slide='1')._white.news__filter.btn КНС
					button(type='button',data-slide='2')._white.news__filter.btn Нефтепром
			.news-slider.swiper 
				.swiper-wrapper 
					.swiper-slide
						.news__row.row._gap-22
							.col-lg-6.news-item
								.news-item__img-wrap 
									+picture('news-1','jpg').news-item__img
									.news-item__tags 
										.news-item__tag КНС
								.news-item__head 
									a(href="#") НОВОСТИ
									span.news-item__divider
									| 13.09.2022
									span.news-item__divider
									| 10:34
								.news-item__title Почему он используется? 
								.news-item__body
									p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона
								a(href="#").news-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
							.col-lg-6.news-item
								.news-item__img-wrap 
									+picture('news-2','jpg').news-item__img
									.news-item__tags 
										.news-item__tag нефтепром
								.news-item__head 
									a(href="#") НОВОСТИ
									span.news-item__divider
									| 13.09.2022
									span.news-item__divider
									| 10:34
								.news-item__title Почему он используется? 
								.news-item__body
									p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона
								a(href="#").news-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
							.col-lg-4.article-item
								.article-item__head 
									a(href="#") статьи
									span.article-item__divider
									| 13.09.2022
									span.article-item__divider
									| 10:34
								.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
								a(href="#").article-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
							.col-lg-4.article-item
								.article-item__head 
									a(href="#") статьи
									span.article-item__divider
									| 13.09.2022
									span.article-item__divider
									| 10:34
								.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
								a(href="#").article-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
							.col-lg-4.article-item
								.article-item__head 
									a(href="#") статьи
									span.article-item__divider
									| 13.09.2022
									span.article-item__divider
									| 10:34
								.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
								a(href="#").article-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
						.news__btn-wrap 
							a(href="#")._white.btn._big Все новости 
							a(href="#")._white.btn._big Все статьи 
					.swiper-slide
						.news__row.row._gap-22
							.col-lg-6.news-item
								.news-item__img-wrap 
									+picture('news-1','jpg').news-item__img
									.news-item__tags 
										.news-item__tag КНС
								.news-item__head 
									a(href="#") НОВОСТИ
									span.news-item__divider
									| 13.09.2022
									span.news-item__divider
									| 10:34
								.news-item__title Почему он используется? 
								.news-item__body
									p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона
								a(href="#").news-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
							.col-lg-6.news-item
								.news-item__img-wrap 
									+picture('news-2','jpg').news-item__img
									.news-item__tags 
										.news-item__tag нефтепром
								.news-item__head 
									a(href="#") НОВОСТИ
									span.news-item__divider
									| 13.09.2022
									span.news-item__divider
									| 10:34
								.news-item__title Почему он используется? 
								.news-item__body
									p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона
								a(href="#").news-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
							.col-lg-4.article-item
								.article-item__head 
									a(href="#") статьи
									span.article-item__divider
									| 13.09.2022
									span.article-item__divider
									| 10:34
								.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
								a(href="#").article-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
							.col-lg-4.article-item
								.article-item__head 
									a(href="#") статьи
									span.article-item__divider
									| 13.09.2022
									span.article-item__divider
									| 10:34
								.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
								a(href="#").article-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
							.col-lg-4.article-item
								.article-item__head 
									a(href="#") статьи
									span.article-item__divider
									| 13.09.2022
									span.article-item__divider
									| 10:34
								.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
								a(href="#").article-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
						.news__btn-wrap 
							a(href="#")._white.btn._big Все новости 
							a(href="#")._white.btn._big Все статьи 
					.swiper-slide
						.news__row.row._gap-22
							.col-lg-6.news-item
								.news-item__img-wrap 
									+picture('news-1','jpg').news-item__img
									.news-item__tags 
										.news-item__tag КНС
								.news-item__head 
									a(href="#") НОВОСТИ
									span.news-item__divider
									| 13.09.2022
									span.news-item__divider
									| 10:34
								.news-item__title Почему он используется? 
								.news-item__body
									p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона
								a(href="#").news-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
							.col-lg-6.news-item
								.news-item__img-wrap 
									+picture('news-2','jpg').news-item__img
									.news-item__tags 
										.news-item__tag нефтепром
								.news-item__head 
									a(href="#") НОВОСТИ
									span.news-item__divider
									| 13.09.2022
									span.news-item__divider
									| 10:34
								.news-item__title Почему он используется? 
								.news-item__body
									p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона
								a(href="#").news-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
							.col-lg-4.article-item
								.article-item__head 
									a(href="#") статьи
									span.article-item__divider
									| 13.09.2022
									span.article-item__divider
									| 10:34
								.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
								a(href="#").article-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
							.col-lg-4.article-item
								.article-item__head 
									a(href="#") статьи
									span.article-item__divider
									| 13.09.2022
									span.article-item__divider
									| 10:34
								.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
								a(href="#").article-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
							.col-lg-4.article-item
								.article-item__head 
									a(href="#") статьи
									span.article-item__divider
									| 13.09.2022
									span.article-item__divider
									| 10:34
								.article-item__title Применение систем очистки  обеззараживания воздуха в музеях.
								a(href="#").article-item__more читать целиком 
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.21 1.40332V12.21M12.21 1.40332L1.40332 12.21M12.21 1.40332H1.40332"  stroke-width="2"/>
									</svg>
						.news__btn-wrap 
							a(href="#")._white.btn._big Все новости 
							a(href="#")._white.btn._big Все статьи 