.mobmenu 
	
		header.header 
			.inner 
				.header__row 
					.header__logo
						a(href="#")
							img(src="img/logo.svg", alt="") 
					
					button(type="button").header__mobmenu-close 
						span
		.inner.mobmenu__wrapper 
			.mobmenu__menu
				ul.mobmenu__menu-drop
					li.mobmenu__menu-li._about
						a.mobmenu__menu-drop-title(href="#") о компании
						.mobmenu__menu-drop-item
							ul
								li 
									a(href="#") Компания САЛФОКС
								li 
									a(href="#") Новости
								li 
									a(href="#") Статьи
								li 
									a(href="#") Каталоги и презентации
								li 
									a(href="#") Сервис
								li 
									a(href="#") Выполненные проект
								li 
									a(href="#") Видео
					li.mobmenu__menu-li
						a.mobmenu__menu-drop-title(href="#") для нефтепрома
						.mobmenu__menu-drop-item
							ul
								li 
									a(href="#") Преимущества
								li 
									a(href="#") Технологии очистки
								li 
									a(href="#") Сертификаты
								li 
									a(href="#") Каталог решений
					li.mobmenu__menu-li
						a.mobmenu__menu-drop-title(href="#") для кнс и ос
						.mobmenu__menu-drop-item
					
							ul
								li 
									a(href="#") Преимущества
								li 
									a(href="#") Технологии очистки
								li 
									a(href="#") Сертификаты
								li 
									a(href="#") Каталог решений
					li.mobmenu__menu-li
						a.mobmenu__menu-drop-title(href="#") Каталог решений
						.mobmenu__menu-drop-item
							ul
								li 
									a(href="#") Нефтепром

								li 
									a(href="#") КНС
				ul.mobmenu__links 
					li 
						a(href="#") ДОКУМЕНТАЦИЯ
					li 
						a(href="#") КОНТАКТЫ
					li 
						a(href="#")  Политика конфиденциальности
					li 
						a(href="#") Каталоги и презентации
				
			.mobmenu__footer 
				.mobmenu__contact
					a.mobmenu__phone(href="tel:+74959232720") +7 495 923 27 20
					a.mobmenu__mail(href="mailto:info@sulphox.ru") info@sulphox.ru
				button(type="button").mobmenu__feedback.btn Обратная связь


