.sertificate-gallery.swiper 
	.swiper-wrapper 
		.swiper-slide.sertificate-it
			.sertificate-it__img 
				+picture('s-1','jpg')
			a(href="#").sertificate-it__link Скачать
		.swiper-slide.sertificate-it
			.sertificate-it__img 
				+picture('s-2','jpg')
			a(href="#").sertificate-it__link Скачать
		.swiper-slide.sertificate-it
			.sertificate-it__img 
				+picture('s-3','jpg')
			a(href="#").sertificate-it__link Скачать
		.swiper-slide.sertificate-it
			.sertificate-it__img 
				+picture('s-4','jpg')
			a(href="#").sertificate-it__link Скачать
		.swiper-slide.sertificate-it
			.sertificate-it__img 
				+picture('s-1','jpg')
			a(href="#").sertificate-it__link Скачать
		.swiper-slide.sertificate-it
			.sertificate-it__img 
				+picture('s-2','jpg')
			a(href="#").sertificate-it__link Скачать
		.swiper-slide.sertificate-it
			.sertificate-it__img 
				+picture('s-3','jpg')
			a(href="#").sertificate-it__link Скачать
		.swiper-slide.sertificate-it
			.sertificate-it__img 
				+picture('s-4','jpg')
			a(href="#").sertificate-it__link Скачать
