.sertificate-gallery.swiper.slider-mp-gallery 
	.swiper-wrapper 
		.swiper-slide.sertificate-it
			a(href="img/s-1.jpg").mp.sertificate-it__img 
				+picture('s-1','jpg')
			a(href="#").sertificate-it__link Скачать
		.swiper-slide.sertificate-it
			a(href="img/s-2.jpg").mp.sertificate-it__img 
				+picture('s-2','jpg')
			a(href="#").sertificate-it__link Скачать
		.swiper-slide.sertificate-it
			a(href="img/s-3.jpg").mp.sertificate-it__img 
				+picture('s-3','jpg')
			a(href="#").sertificate-it__link Скачать
		.swiper-slide.sertificate-it
			a(href="img/s-4.jpg").mp.sertificate-it__img 
				+picture('s-4','jpg')
			a(href="#").sertificate-it__link Скачать
		.swiper-slide.sertificate-it
			a(href="img/s-1.jpg").mp.sertificate-it__img 
				+picture('s-1','jpg')
			a(href="#").sertificate-it__link Скачать
		.swiper-slide.sertificate-it
			a(href="img/s-2.jpg").mp.sertificate-it__img 
				+picture('s-2','jpg')
			a(href="#").sertificate-it__link Скачать
		.swiper-slide.sertificate-it
			a(href="img/s-3.jpg").mp.sertificate-it__img 
				+picture('s-3','jpg')
			a(href="#").sertificate-it__link Скачать
		.swiper-slide.sertificate-it
			a(href="img/s-4.jpg").mp.sertificate-it__img 
				+picture('s-4','jpg')
			a(href="#").sertificate-it__link Скачать
