@keyframes knsgearbig {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.svg-text {
	fill: $blue;
	transition: fill 0.3s;

}

@keyframes knsgearsmall {
	from {
		transform: rotate(360deg);
	}

	to {
		transform: rotate(0deg);
	}
}

@keyframes knstooth {
	from {
		transform: scale(1, 1);
	}

	to {
		transform: scale(-1, 1);
	}
}

@keyframes knsp1 {
	from {
		opacity: 0;
		top: 81%;
		margin-left: 0%;
	}

	8% {
		opacity: 1;
	}

	15% {
		margin-left: -0.66%;
	}

	25% {
		opacity: 1;
	}

	33% {
		top: 65%;
		margin-left: 0%;
		opacity: 0;
	}
}

@keyframes knsp2 {
	from {
		opacity: 0;
		top: 81%;
		margin-left: 0%;
	}

	8% {
		opacity: 1;
	}

	15% {
		margin-left: -1.7%;
	}

	25% {
		opacity: 1;
	}

	33% {
		top: 65%;
		opacity: 0;
		left: 37.66%;
	}
}

@keyframes knsp2 {
	from {
		opacity: 0;
		top: 81%;
		width: 0.8%;
		left: 37.66%;
	}

	1% {
		opacity: 0;
		top: 81%;
		left: 37.66%;
	}

	6% {
		opacity: 1;
	}

	9% {
		width: 1.3%;
	}

	20% {
		opacity: 1;
		left: 38.16%;
	}

	21% {
		top: 65%;
		opacity: 0;
	}

	to {}
}

@keyframes knsp3 {
	from {
		opacity: 0;
		top: 80%;
		width: 0.8%;
	}

	1% {
		opacity: 0;

	}

	6% {
		opacity: 1;
	}

	20% {
		opacity: 1;

	}

	21% {
		top: 65%;
		opacity: 0;
	}

	to {}
}


@keyframes knsp4 {
	from {
		opacity: 0;
		top: 81%;
		width: 0.8%;
		left: 37.66%;
	}

	10% {
		opacity: 0;
		top: 81%;
	}

	15% {
		opacity: 1;
	}

	12% {
		left: 36.66%;
	}

	25% {
		opacity: 1;

	}

	46% {
		top: 65%;
		opacity: 0;
		left: 37.66%;
	}

	to {
		top: 65%;
		opacity: 0;
		width: 0.8%;
	}
}

@keyframes knsp5 {
	from {
		opacity: 0;
		top: 81%;
		left: 37.66%;
	}

	26% {
		opacity: 0;
		top: 81%;
		left: 38.16%;
	}

	31% {
		opacity: 1;
	}

	37% {
		left: 37.8%;
	}

	45% {
		opacity: 1;
	}

	56% {
		top: 65%;
		left: 38.16%;
		opacity: 0;
	}

	to {
		top: 65%;
		left: 38.16%;
		opacity: 0;
	}
}

@keyframes nefteprom {
	from {
		transform: rotate(-10deg);
	}

	to {
		transform: rotate(10deg);
	}
}

@keyframes neftepromlb {
	from {
		height: 12%;
	}


	to {
		height: 17%;
	}
}

@keyframes neftepromrb {
	from {
		height: 17%;
	}


	to {
		height: 12%;
	}
}

@keyframes nefteproml {
	from {
		height: 64%;
	}

	to {
		height: 49%;
	}
}

@keyframes neftepromr {
	from {
		height: 68%;
	}

	to {
		height: 57%;
	}
}

.kns {
	position: relative;


	svg {
		position: relative;
		z-index: 3;
	}

	&__gear-small {
		position: absolute;
		animation: knsgearsmall 7s linear infinite;
		position: absolute;
		right: 4.45%;
		width: 6%;
		top: 6%;

	}

	&__gear-big {
		position: absolute;
		animation: knsgearbig 7s linear infinite;
		right: 4.91%;
		width: 13.1%;
		top: 23.5%;
	}

	&__tooth-1 {
		z-index: 10;
		width: 18.7%;
		left: 43.4%;
		bottom: 13%;
		position: absolute;
	}

	&__tooth-2 {
		position: absolute;
		z-index: 9;
		width: 26.2%;
		left: 39.6%;
		bottom: 13%;
		animation: knstooth 6s linear infinite;
	}

	&__p {
		position: absolute;
		z-index: 15;
		opacity: 0;

		&._del-05 {
			animation-delay: 0.5s;
		}

		&._del-1 {
			animation-delay: 1s;
		}

		&._del-15 {
			animation-delay: 1.5s;
		}

		&._del-2 {
			animation-delay: 2s;
		}

		&._del-25 {
			animation-delay: 2.5s;
		}

		&._del-3 {
			animation-delay: 3s;
		}

		&._del-35 {
			animation-delay: 3.5s;
		}

		&._del-4 {
			animation-delay: 4s;
		}

		&._del-45 {
			animation-delay: 4.5s;
		}

		&._del-5 {
			animation-delay: 5s;
		}

		&._del-55 {
			animation-delay: 5.5s;
		}

		&-1 {
			left: 40%;
			width: 1.3%;
			top: 70%;
			animation: knsp1 6s linear infinite;
		}

		&-2 {
			left: 41.66%;
			width: 1.3%;
			top: 75%;
			animation: knsp2 6s linear infinite;

		}

		&-3 {
			left: 37.66%;
			top: 81%;
			width: 0.8%;
			animation: knsp3 6s linear infinite;
		}

		&-4 {
			left: 40.66%;
			top: 81%;
			width: 0.8%;
			animation: knsp3 6s linear infinite;
			// animation: knsp4 5s linear infinite;
		}

		&-11 {
			left: 64%;
			width: 1.3%;
			top: 70%;
			animation: knsp1 6s linear infinite;
		}

		&-12 {
			left: 67%;
			width: 1.3%;
			top: 75%;
			animation: knsp2 6s linear infinite;

		}

		&-13 {
			left: 65%;
			top: 81%;
			width: 0.8%;
			animation: knsp3 6s linear infinite;
		}

		&-14 {
			left: 66%;
			top: 81%;
			width: 0.8%;
			animation: knsp3 6s linear infinite;
			// animation: knsp4 5s linear infinite;
		}

		&-15 {
			left: 36.66%;
			width: 1.3%;
			top: 70%;
			// animation: knsp5 5s linear infinite;
		}

		&-6 {
			left: 37.66%;
			top: 81%;
			width: 0.8%;
			// animation: knsp4 5s linear infinite;
			animation-delay: 3s;
		}

		&-7 {
			left: 36.66%;
			width: 1.3%;
			top: 70%;
			// animation: knsp1 5s linear infinite;
			animation-delay: 3s;
		}

		&-8 {
			left: 36.66%;
			top: 81%;
			width: 0.8%;
			// animation: knsp3 5s linear infinite;
			animation-delay: 3.5s;
		}

		&-9 {
			left: 37.66%;
			top: 81%;
			width: 0.8%;
			// animation: knsp4 5s linear infinite;
			animation-delay: 4s;
		}

		&-10 {
			left: 36.66%;
			width: 1.3%;
			top: 70%;
			// animation: knsp5 5s linear infinite;
			animation-delay: 4.3s;
		}

	}
}

.nefteprom {
	position: relative;

	&__anim {
		animation: nefteprom 2s linear infinite;
		animation-direction: alternate !important;
		position: absolute;
		width: 51%;
		transform: rotate(10deg);
		left: -1.6%;
		top: -1.2%;
		z-index: 10;
	}

	&__left {
		border: 1px solid $blue;
		width: 0.7%;
		height: 54%;
		position: absolute;
		left: 1.8%;
		bottom: 4%;
		animation: nefteproml 2s linear infinite;
		animation-direction: alternate !important;
		will-change: height;
	}

	&__leftb {
		background: $blue;
		left: 1.3%;
		bottom: 2%;
		position: absolute;
		width: 1.7%;
		height: 17%;
		animation: neftepromlb 2s linear infinite;
		animation-direction: alternate !important;
	}


	&__fire-state,
	&__fire {
		position: absolute;
		width: 18%;
		left: 52%;
		top: 9.5%;
	}

	&__right {
		border: 1px solid $blue;
		width: 0.7%;
		height: 54%;
		position: absolute;
		left: 43.4%;
		bottom: 4%;
		will-change: height;
		animation: neftepromr 2s linear infinite;
		animation-direction: alternate !important;
	}

	&__rightb {
		background: $blue;
		left: 42.8%;
		bottom: 9%;
		position: absolute;
		width: 1.7%;
		height: 17%;
		animation: neftepromrb 2s linear infinite;
		animation-direction: alternate !important;
	}

	svg {
		position: relative;
		z-index: 4;
	}

}

.front__column:hover {

	.kns,
	.nefteprom {
		* {
			animation-play-state: running !important;
		}
	}
}

.front {
	min-height: calc(var(--vh, 1vh)*100);
	display: flex;
	flex-direction: column;
	margin-top: -100px;
	padding-top: 130px;
	text-align: center;
	padding-bottom: 60px;
	align-items: center;
	position: relative;

	@media(max-height:900px) and (max-width:800px) {
		padding-bottom: 50px;
		padding-top: 80px;
	}

	&>.btn {}

	.nefteprom {
		&__fire-state {}

		&__fire {
			display: none;
		}

	}

	.front__column:hover {
		.nefteprom {
			.nefteprom__fire-state {
				display: none;
			}

			.nefteprom__fire {
				display: block;
			}
		}
	}

	.kns,
	.nefteprom {
		* {
			animation-play-state: paused;
		}


	}



	&__column-bg {
		position: absolute;
		bottom: 40px;

		&._nefteproms {
			right: 0;
		}

		&._kns {
			left: 10%;
		}
	}

	&__city-bg {
		position: absolute;
		left: 50%;
		max-width: initial;
		width: 140vw;
		transform: translateX(-50%);
		bottom: 150px;
		pointer-events: none;

		@media(max-width:992px) {
			display: none !important;
		}
	}

	&::before {
		background-image: url(../img/kns-main-air.svg);
		background-position: left;
		background-repeat: repeat-x;
		height: 307px;
		width: 100vw;
		left: 50%;
		content: '';
		top: -0px;
		position: absolute;
		pointer-events: none;
		transform: translateX(-50%);
		animation: animateAirfront 19s infinite linear;
	}

	&::after {
		background: #f6f9fc;
		height: 307px;
		width: 100vw;
		left: 50%;
		content: '';
		bottom: -156px;
		position: absolute;
		pointer-events: none;
		transform: translateX(-50%);
		z-index: -1;
	}

	.kns {
		pointer-events: none;

		&__bg {
			position: absolute;
			bottom: 6%;
			left: 10%;
			max-width: 120%;
			width: 120%;
			z-index: 2;

		}

		&__bg2 {
			position: absolute;
			bottom: 6%;
			left: 0;
			z-index: 1;
			max-width: initial
		}
	}

	.nefteprom {
		margin: 0 5%;
		margin-bottom: 6%;
		pointer-events: none;

		&__bg {
			position: absolute;
			bottom: 0;
			width: 130%;
			max-width: initial;
			left: 50%;
			transform: translateX(-50%);
			z-index: 2;
		}

		&__bg2 {
			z-index: 1;
			position: absolute;
			bottom: 7%;
			width: initial;
			max-width: initial;
			right: calc(-40px + 7%);

		}
	}

	&__column-wrap {
		margin-bottom: auto;
		max-width: 386px;
		margin-left: auto;
		margin-right: auto;

		p {
			opacity: 0;
			transition: opacity 0.3s;
		}

		.btn {
			opacity: 0;
			transition: opacity 0.3s;

			// &::after {
			//     position: absolute;
			//     left: 0;
			//     top: 0;
			//     width: 100%;
			//     height: 100%;
			//     display: block;
			//     content: '';
			// }
		}

		p {
			font-size: 14px;
		}
	}

	&__column {
		display: flex;
		flex-direction: column;
		position: relative;

		&-link {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 33;

		}

		.btn {
			&:hover {
				color: $orange;
				border-color: $orange;
				background: #fff;
			}
		}

		h2,
		.h2 {
			color: #90ADC6;
			transition: color 0.3s;
		}

		.kns,
		.nefteprom {
			opacity: 0.5;
			transition: opacity 0.3s;
		}



		&:hover {
			.svg-text {
				fill: $orange !important;

			}

			.kns,
			.nefteprom {
				opacity: 1;
			}

			h2,
			.h2 {
				color: $blue
			}

			p,
			.btn {
				opacity: 1;
			}
		}

		&-wrap {
			margin-bottom: auto;

		}
	}

	&__row {
		margin-top: auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 50px;
		margin-top: 46px;
		width: 100%;

		@media(max-height:800px) {
			margin-top: 10px;


			.front__column-wrap {
				z-index: 10;
			}

			.kns,
			.nefteprom {
				margin-top: -40px;
				// max-width: 450px;
				// margin-left: auto;
				// margin-right: auto;
				// width: 100%;
			}
		}

		@media(max-height:900px) and (max-width:800px) {
			max-width: 345px;
			margin-top: 20px;
			max-width: 100%;
			grid-template-columns: 1fr;


			margin-bottom: 30px !important;


			.front__column .h2,
			.front__column h2 {
				color: $orange;
				;
			}

			.front__column-wrap {
				margin-bottom: 0;
			}

			.front__column-wrap .btn,
			.front__column-wrap p {
				opacity: 1;
			}

			._nefteproms,
			._nefteprom,
			._kns,
			.kns,
			.nefteprom {
				display: none;
			}
		}
	}

	.nefteprom {
		@media(max-height:900px) and (min-width:800px) {
			max-width: 400px;
			margin-left: auto;
			margin-right: auto;
			width: 100%;
			margin-bottom: 30px;
		}
	}

	.kns {
		@media(max-height:900px) and (min-width:800px) {
			margin-bottom: 30px;
			max-width: 450px;
			margin-left: auto;
			margin-right: auto;
			width: 100%;
		}
	}
}