extends ../../layout/front
block title
	title Салфокс
block content
	.front
		h3 Системы озвучки воздуха
		.front__row
			img.front__city-bg(src="img/front-city.svg", alt="")
			.front__column
				.front__column-wrap
					h2 Нефтепром
					p Системы очистки воздуха от сероводорода и других дурнопахнущих токсичных веществ для нефтедобывающей и нефтеперерабатывающей отрасли
					a.btn._white(href="#") Подробнее
					a.front__column-link(href="#")
				img.front__column-bg._nefteproms(src="img/nefteprom-2.svg", alt="")
				.nefteprom
					//- img(src="img/nefteprom-2.svg", alt="").nefteprom__bg
					img(src="img/nefteprom-1.svg", alt="").nefteprom__anim
					img(src="img/fire.gif", alt="").nefteprom__fire
					img(src="img/frame_000_delay-0.02s.gif", alt="").nefteprom__fire-state
					.nefteprom__left
					.nefteprom__leftb
					.nefteprom__right
					.nefteprom__rightb
					<svg viewBox="0 0 970 520" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g clip-path="url(#clip0_736_5626)">
						<path d="M930.091 518.944H39.9087V499.852L116.442 491.688H854.43L930.11 499.852V518.944H930.091Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M645.869 518.907H460.37V491.559H645.869V518.907Z" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M115.886 518.944H0.927734V491.688H115.886V518.944Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M854.133 518.944H969.091V491.688H854.133V518.944V518.944Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M650.934 445.973V382.779C650.934 373.874 658.151 366.656 667.076 366.656H734.203C743.108 366.656 750.326 373.874 750.326 382.779V445.973C750.326 454.879 743.108 462.096 734.203 462.096H667.076C658.17 462.096 650.934 454.879 650.934 445.973Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M756.987 448.125L766.338 491.54L727.189 448.125" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M644.255 448.125L634.904 491.54L674.052 448.125" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M674.052 448.125L700.045 491.54L727.171 448.125" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M650.934 350.255V287.061C650.934 278.155 658.151 270.938 667.076 270.938H734.203C743.108 270.938 750.326 278.155 750.326 287.061V350.255C750.326 359.16 743.108 366.378 734.203 366.378H667.076C658.17 366.378 650.934 359.16 650.934 350.255Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M644.255 295.707V284.909H756.968V295.707H644.255Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M644.255 352.407V341.609H756.968V352.407H644.255Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M534.881 384.709H565.179V400.22H534.881V384.709V384.709Z" fill="#BED5E5"/>
						<path d="M576.571 232.606H544.511L546.515 184.979H574.586L576.59 232.606H576.571Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M574.568 184.979H546.496L548.055 147.909H573.009L574.568 184.979V184.979Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M582.935 384.709H538.11L541.821 296.041H579.206L582.935 384.709V384.709Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M579.224 296.041H541.839L544.511 232.606H576.571L579.224 296.041Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M590.895 400.22H530.188V384.709H590.895V400.22V400.22Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M544.511 154.273H576.571" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M544.511 162.808H576.571" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M510.354 468.756H610.71V491.558H510.354V468.756V468.756Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M508.739 414.654H612.324C616.406 414.654 619.708 417.957 619.708 422.038V461.353C619.708 465.435 616.406 468.738 612.324 468.738H508.739C504.658 468.738 501.355 465.435 501.355 461.353V422.038C501.355 417.957 504.658 414.654 508.739 414.654Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M510.354 414.654L534.789 400.201H586.275L610.71 414.654H510.354V414.654Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M629.968 447.104V462.133H592.564V447.104H629.968Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M586.405 463.765V444.655H592.305V463.765H586.405Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M629.709 463.765V444.655H635.609V463.765H629.709Z" fill="#0A2973" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M562.081 410.98V400.071C562.081 387.158 551.617 376.693 538.703 376.693H531.913C527.738 376.693 524.361 380.07 524.361 384.245C524.361 388.419 527.738 391.796 531.913 391.796H538.703C543.267 391.796 546.96 395.488 546.96 400.052V410.962" fill="white"/>
						<path d="M562.081 410.98V400.071C562.081 387.158 551.617 376.693 538.703 376.693H531.913C527.738 376.693 524.361 380.07 524.361 384.245C524.361 388.419 527.738 391.796 531.913 391.796H538.703C543.267 391.796 546.96 395.488 546.96 400.052V410.962" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M547.498 422.781V438.403C547.498 451.279 557.98 461.78 570.875 461.78H580.504V446.678H570.875C566.311 446.678 562.619 442.967 562.619 438.421V422.799" fill="white"/>
						<path d="M547.498 422.781V438.403C547.498 451.279 557.98 461.78 570.875 461.78H580.504V446.678H570.875C566.311 446.678 562.619 442.967 562.619 438.421V422.799" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M580.504 463.765V444.674H586.404V463.765H580.504Z" fill="#0A2973" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M564.345 422.78H545.253V416.88H564.345V422.78Z" fill="white"/>
						<path d="M674.516 485.659V470.036C674.516 457.16 664.033 446.659 651.138 446.659H641.509V461.762H651.138C655.702 461.762 659.394 465.472 659.394 470.018V485.64" fill="white"/>
						<path d="M674.516 485.659V470.036C674.516 457.16 664.033 446.659 651.138 446.659H641.509V461.762H651.138C655.702 461.762 659.394 465.472 659.394 470.018V485.64" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M641.508 444.655V463.765H635.608V444.655H641.508Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M657.669 485.659H676.779V491.559H657.669V485.659Z" fill="#0A2973" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M803.686 149.245H894.876V376.508H803.686V149.245Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M22.8262 482.839H150.122L199.939 242.533C197.694 242.087 195.987 239.694 195.987 237.338V210L261.722 209V237.319C261.722 239.694 260.164 242.069 257.937 242.514L307.939 482.82H396.199L401.078 446.585H415.346L429.391 446.604H444.104L448.984 482.839H539.432V491.707H7V482.839H22.8262Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M797.377 140.599H901.185V149.245H797.377V140.599Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M876.545 51.7642H822.054C811.923 51.7642 803.704 59.9834 803.704 70.1137V140.599H894.895V70.1137C894.895 59.9834 886.676 51.7642 876.545 51.7642Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M810.625 473.988H887.937V491.559H810.625V473.988Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M803.686 385.154H894.876V473.989H803.686V385.154Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M797.377 376.508H901.185V385.154H797.377V376.508Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M797.377 43.0999H901.185V51.7458H797.377V43.0999Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M201.993 316.246L218.635 300.865L207.466 290.512L201.993 316.265V316.246Z" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M197.521 340.829L232.087 383.094L264.314 343.687L264.147 342.926C263.962 342.777 263.795 342.648 263.628 342.481L229.693 311.088L197.521 340.829V340.829Z" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M242.755 242.532H217.708L211.084 273.61L229.675 290.679L249.193 272.812L242.755 242.532Z" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M252.83 289.659L240.714 300.865L258.748 317.545L252.83 289.659Z" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M782.924 213.237H767.896V47.9983H782.924V213.237Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M766.078 42.0979H785.169V47.9979H766.078V42.0979Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M766.078 213.236H785.169V219.136H766.078V213.236Z" fill="#0A2973" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M856.582 37.2001V26.2906C856.582 13.4144 846.099 2.91309 833.204 2.91309H818.862V18.0343H833.204C837.768 18.0343 841.461 21.745 841.461 26.2906V37.2001" fill="white"/>
						<path d="M268.674 364.263L242.662 396.045L286.894 450.129L268.674 364.263Z" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M283.963 472.485L232.068 409.032L180.192 472.485H283.963Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M221.474 396.045L192.568 360.681L172.289 456.214L221.474 396.045Z" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M856.582 37.2001V26.2906C856.582 13.4144 846.099 2.91309 833.204 2.91309H818.862V18.0343H833.204C837.768 18.0343 841.461 21.745 841.461 26.2906V37.2001" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M818.862 0.927734V20.0379H812.962V0.927734H818.862Z" fill="#0A2973" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M839.735 37.2H858.846V43.1H839.735V37.2Z" fill="#0A2973" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M807.063 3.19116H791.441C778.564 3.19116 768.063 13.6739 768.063 26.5687V36.198H783.166V26.5687C783.166 22.0045 786.876 18.3123 791.422 18.3123H807.044" fill="white"/>
						<path d="M807.063 3.19116H791.441C778.564 3.19116 768.063 13.6739 768.063 26.5687V36.198H783.166V26.5687C783.166 22.0045 786.876 18.3123 791.422 18.3123H807.044" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M766.078 36.198H785.169V42.098H766.078V36.198Z" fill="#0A2973" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M807.062 20.0379V0.927734H812.963V20.0379H807.062Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M625.608 438.848H759.825C772.701 438.848 783.203 428.365 783.203 415.47V402.075H768.1V415.47C768.1 420.035 764.389 423.727 759.844 423.727H625.627" fill="white"/>
						<path d="M625.608 438.848H759.825C772.701 438.848 783.203 428.365 783.203 415.47V402.075H768.1V415.47C768.1 420.035 764.389 423.727 759.844 423.727H625.627" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M785.188 402.075H766.096V396.175H785.188V402.075Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M625.609 422.02V441.13H619.708V422.02H625.609Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M782.924 390.275H767.896V225.036H782.924V390.275V390.275Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M766.078 219.136H785.169V225.037H766.078V219.136Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M766.078 390.275H785.169V396.175H766.078V390.275Z" fill="#BED5E5"/>
						<path d="M766.078 390.275H785.169V396.175H766.078V390.275Z" fill="#0A2973" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M924.934 380.645H939.943V215.407H924.934V380.645Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M941.762 215.407H922.67V209.507H941.762V215.407Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M941.762 386.545H922.67V380.645H941.762V386.545Z" fill="#0A2973" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M900.795 170.6H916.417C929.293 170.6 939.795 181.083 939.795 193.978V203.607H924.692V193.978C924.692 189.413 920.981 185.721 916.436 185.721H900.813" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M941.762 209.507H922.67V203.607H941.762V209.507Z" fill="#0A2973" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M894.895 187.447V168.337H900.795V187.447H894.895Z" fill="#0A2973" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M924.934 485.659H939.943V392.464H924.934V485.659Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M941.762 392.464H922.67V386.564H941.762V392.464Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M941.762 491.559H922.67V485.659H941.762V491.559Z" fill="#0A2973" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M822.647 446.918V461.947H785.243V446.918H822.647Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M779.343 463.765V444.674H785.243V463.765H779.343Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M822.666 463.765V444.674H828.566V463.765H822.666Z" fill="#0A2973" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M717.319 384.245H731.457C740.455 384.245 747.747 391.536 747.747 400.535L747.209 410.981H739.917V400.071C739.917 395.507 736.225 391.815 731.661 391.815H724.87C720.696 391.815 717.319 388.438 717.319 384.263V384.245Z" fill="white"/>
						<path d="M755.02 410.98V400.071C755.02 387.158 744.556 376.693 731.642 376.693H724.852C720.677 376.693 717.3 380.07 717.3 384.245C717.3 388.419 720.677 391.796 724.852 391.796H731.642C736.206 391.796 739.899 395.488 739.899 400.052V410.962" fill="white"/>
						<path d="M755.02 410.98V400.071C755.02 387.158 744.556 376.693 731.642 376.693H724.852C720.677 376.693 717.3 380.07 717.3 384.245C717.3 388.419 720.677 391.796 724.852 391.796H731.642C736.206 391.796 739.899 395.488 739.899 400.052V410.962" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M738.191 410.98H757.302V416.881H738.191V410.98Z" fill="#0A2973" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M740.455 422.781V438.403C740.455 451.279 750.938 461.78 763.833 461.78H773.462V446.678H763.833C759.268 446.678 755.576 442.967 755.576 438.421V422.799" fill="white"/>
						<path d="M740.455 422.781V438.403C740.455 451.279 750.938 461.78 763.833 461.78H773.462V446.678H763.833C759.268 446.678 755.576 442.967 755.576 438.421V422.799" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M773.443 463.765V444.674H779.343V463.765H773.443Z" fill="#0A2973" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M757.283 422.78H738.173V416.88H757.283V422.78Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M867.454 485.659V470.036C867.454 457.16 856.971 446.659 844.077 446.659H834.447V461.762H844.077C848.641 461.762 852.333 465.472 852.333 470.018V485.64" fill="white"/>
						<path d="M867.454 485.659V470.036C867.454 457.16 856.971 446.659 844.077 446.659H834.447V461.762H844.077C848.641 461.762 852.333 465.472 852.333 470.018V485.64" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M834.447 444.674V463.765H828.547V444.674H834.447Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M850.607 485.659H869.718V491.559H850.607V485.659Z" fill="#0A2973" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M545.253 410.98H564.345V416.881H545.253V410.98Z" fill="#0A2973" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M564.345 422.78H545.253V416.88H564.345V422.78Z" fill="white" stroke="#0A2973" stroke-width="1.85536" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M843.78 188.319V176.741H846.433V181.12H850.905V176.741H853.558V188.319H850.905V183.847H846.433V188.319H843.78ZM844.856 208.728V197.15H852.797V199.544H847.509V201.77H852.463V204.089H847.509V206.316H852.797V208.709H844.856V208.728ZM847.342 229.471V227.652C845.728 227.652 844.448 227.244 843.52 226.409C842.593 225.574 842.129 224.498 842.129 223.181C842.129 221.864 842.593 220.806 843.52 219.971C844.448 219.136 845.728 218.71 847.342 218.71V217.225H849.996V218.71C851.61 218.71 852.89 219.136 853.818 219.971C854.745 220.806 855.209 221.864 855.209 223.181C855.209 224.498 854.745 225.574 853.818 226.409C852.89 227.244 851.61 227.652 849.996 227.652V229.471H847.342ZM847.342 225.333V221.029C846.545 221.029 845.914 221.233 845.45 221.623C845.005 222.012 844.764 222.532 844.764 223.181C844.764 223.83 844.986 224.331 845.45 224.74C845.895 225.129 846.526 225.333 847.342 225.333ZM849.996 221.029V225.333C850.793 225.333 851.424 225.129 851.888 224.74C852.333 224.35 852.556 223.83 852.556 223.181C852.556 222.532 852.333 222.031 851.888 221.623C851.443 221.233 850.812 221.029 849.996 221.029ZM847.342 249.546V240.529H844.114V237.968H853.205V240.529H849.977V249.546H847.324H847.342ZM844.856 269.955V258.377H852.797V260.771H847.509V262.997H852.463V265.316H847.509V267.543H852.797V269.936H844.856V269.955ZM843.854 290.364V278.786H853.447V290.364H850.793V281.347H846.489V290.364H843.836H843.854ZM844.355 310.773V299.195H849.736C850.868 299.195 851.777 299.566 852.482 300.308C853.187 301.05 853.539 302.034 853.539 303.258C853.539 304.483 853.187 305.466 852.482 306.208C851.777 306.951 850.868 307.322 849.736 307.322H847.008V310.791H844.355V310.773ZM847.008 304.724H849.569C849.959 304.724 850.274 304.594 850.515 304.334C850.775 304.056 850.886 303.704 850.886 303.24C850.886 302.776 850.756 302.423 850.515 302.164C850.274 301.885 849.959 301.756 849.569 301.756H847.008V304.724V304.724ZM852.667 329.642C851.591 330.773 850.255 331.33 848.66 331.33C847.064 331.33 845.747 330.773 844.652 329.642C843.576 328.51 843.038 327.1 843.038 325.374C843.038 323.649 843.576 322.239 844.652 321.107C845.728 319.975 847.064 319.419 848.66 319.419C850.255 319.419 851.591 319.975 852.667 321.107C853.743 322.239 854.282 323.649 854.282 325.374C854.282 327.1 853.743 328.51 852.667 329.642ZM846.526 327.842C847.101 328.454 847.806 328.77 848.66 328.77C849.513 328.77 850.218 328.454 850.775 327.842C851.35 327.211 851.628 326.395 851.628 325.374C851.628 324.354 851.35 323.537 850.775 322.925C850.218 322.294 849.513 321.979 848.66 321.979C847.806 321.979 847.101 322.294 846.526 322.925C845.97 323.537 845.691 324.354 845.691 325.374C845.691 326.395 845.97 327.211 846.526 327.842ZM842.129 351.572V339.994H846.174L848.493 347.193H848.827L851.146 339.994H855.191V351.572H852.537V344.466H852.204L849.884 351.572H847.398L845.079 344.466H844.745V351.572H842.092H842.129Z"  class="svg-text "/>
						<circle cx="229" cy="203" r="10.07" fill="white" stroke="#0A2973" stroke-width="1.86"/>
						<circle cx="229" cy="203" r="4" fill="#0A2973"/>
						</g>
						<defs>
						<clipPath id="clip0_736_5626">
						<rect width="970" height="519.871" fill="white"/>
						</clipPath>
						</defs>
					</svg>
			
			.front__column
				.front__column-wrap
					h2 КНС и ос
					p Системы очистки воздуха от сероводорода и других дурнопахнущих токсичных веществ для канализационных насосных станций и очистных сооружений
					a.btn._white(href="#") Подробнее
					a.front__column-link(href="#")
				img.front__column-bg._kns(src="img/kns-2.svg", alt="")
				.kns
					
			
					img.kns__gear-big(src="img/kns-gear-big.svg", alt="")
					img.kns__gear-small(src="img/kns-gear-small.svg", alt="")
					img.kns__tooth-1(src="img/kns-tooth-1.svg", alt="")
					img.kns__tooth-2(src="img/kns-tooth-2.svg", alt="")
					img.kns__p.kns__p-1._del-15(src="img/kns-p.svg", alt="")
					img.kns__p.kns__p-2._del-2(src="img/kns-p.svg", alt="")
					img.kns__p.kns__p-3._del-15(src="img/kns-p.svg", alt="")
					img.kns__p.kns__p-4._del-45(src="img/kns-p.svg", alt="")
					img.kns__p.kns__p-1._del-3(src="img/kns-p.svg", alt="")
					img.kns__p.kns__p-2._del-35(src="img/kns-p.svg", alt="")
					img.kns__p.kns__p-3._del-4(src="img/kns-p.svg", alt="")
					img.kns__p.kns__p-4._del-4(src="img/kns-p.svg", alt="")
					img.kns__p.kns__p-11._del-3(src="img/kns-p.svg", alt="")
					img.kns__p.kns__p-12._del-35(src="img/kns-p.svg", alt="")
					img.kns__p.kns__p-13._del-3(src="img/kns-p.svg", alt="")
					img.kns__p.kns__p-14._del-25(src="img/kns-p.svg", alt="")
					img.kns__p.kns__p-11._del-2(src="img/kns-p.svg", alt="")
					img.kns__p.kns__p-12._del-15(src="img/kns-p.svg", alt="")
					img.kns__p.kns__p-13._del-2(src="img/kns-p.svg", alt="")
					img.kns__p.kns__p-14._del-3(src="img/kns-p.svg", alt="")
					img.kns__p.kns__p-4(src="img/kns-p.svg", alt="")
					img.kns__p.kns__p-5(src="img/kns-p.svg", alt="")
					img.kns__p.kns__p-6(src="img/kns-p.svg", alt="")
					img.kns__p.kns__p-7(src="img/kns-p.svg", alt="")
					img.kns__p.kns__p-8(src="img/kns-p.svg", alt="")
					img.kns__p.kns__p-9(src="img/kns-p.svg", alt="")
					img.kns__p.kns__p-10(src="img/kns-p.svg", alt="")
					<svg  viewBox="0 0 656 217" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M111.037 173.164H20.2037V93.2523L65.622 76.8104L111.037 93.2523V173.164Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M76.476 137.548H54.7681V173.016H76.476V137.548Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M45.8543 101.247H35.0004V120.767H45.8543V101.247Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M62.6152 101.247H51.7612V120.766H62.6152V101.247Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M79.376 101.247H68.5221V120.766H79.376V101.247Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M96.1369 101.247H85.283V120.766H96.1369V101.247Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M452.057 120.217H240.433V172.824H452.057V120.217Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M213.772 92.8033L183.118 97.1006V173.049H213.982V92.8329L213.772 92.8033Z" fill="#C5DDEF"/>
						<path d="M213.982 92.8329V173.049H226.239V94.5518L213.982 92.8329Z" fill="white"/>
						<path d="M243.073 96.9114L226.239 94.5516V173.049H243.073V96.9114Z" fill="url(#paint0_linear_239_907)"/>
						<path d="M166.159 99.4781V173.049H183.118V97.1006L166.159 99.4781Z" fill="#90ADC6"/>
						<path d="M261.385 99.4782L243.073 96.9116V173.049H261.385V99.4782Z" fill="#90ADC6"/>
						<path d="M261.385 99.4782L213.772 92.8033L166.159 99.4782V173.049H261.385V99.4782Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M478.715 92.3781L448.061 96.6753V172.623H478.925V92.4076L478.715 92.3781Z" fill="#C5DDEF"/>
						<path d="M478.925 92.4076V172.623H491.181V94.1236L478.925 92.4076Z" fill="white"/>
						<path d="M508.016 96.4833L491.181 94.1235V172.623H508.016V96.4833Z" fill="url(#paint1_linear_239_907)"/>
						<path d="M526.328 99.0529L508.016 96.4834V172.623H526.328V99.0529Z" fill="#90ADC6"/>
						<path d="M526.422 99.1467L478.724 92.4399L431.025 99.1467V173.069H526.422V99.1467Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M403.883 15.9999L346.244 1L288.604 15.9999V173.049H403.883V15.9999Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M394 97H298V152H394V97Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M346 47L298 55.7857V97H346V47Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M394 97H346V152H394V97Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M394 55.5034L346 47V97H394V55.5034Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M169.352 56.1156H203.538C209.888 56.1156 215.045 61.2723 215.045 67.6223V149.953H157.842V67.6223C157.842 61.2723 162.999 56.1156 169.349 56.1156H169.352Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M215.048 155.381H157.845V173.049H215.048V155.381Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M219.112 150.032H153.991V155.458H219.112V150.032Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M219.006 38.593H153.885V56.1155H219.006V38.593Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M201.941 38.5928V33.0049C201.941 31.0881 203.494 29.5345 205.411 29.5345C207.328 29.5345 208.881 31.0881 208.881 33.0049V164.227H198.839V33.0049C198.839 31.0881 197.286 29.5345 195.369 29.5345C193.452 29.5345 191.899 31.0881 191.899 33.0049V38.5928" fill="white"/>
						<path d="M201.941 38.5928V33.0049C201.941 31.0881 203.494 29.5345 205.411 29.5345C207.328 29.5345 208.881 31.0881 208.881 33.0049V164.227H198.839V33.0049C198.839 31.0881 197.286 29.5345 195.369 29.5345C193.452 29.5345 191.899 31.0881 191.899 33.0049V38.5928" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M219.006 50.6901H153.885V56.1156H219.006V50.6901Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M152.42 38.5928H220.47" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M219.006 50.69V38.5927" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M153.885 50.69V38.5927" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M471.222 192.013V196.355V201.435H574.156V196.355V192.013H471.222Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M577.857 202.575V190.593H574.156V202.575H577.857Z" fill="#0A2973" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M471.222 202.575V190.593H467.521V202.575H471.222Z" fill="#0A2973" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M602.258 176.865V186.665C602.258 194.748 595.684 201.323 587.6 201.323H581.557V191.845H587.6C590.456 191.845 592.783 189.521 592.783 186.662V176.862" fill="white"/>
						<path d="M602.258 176.865V186.665C602.258 194.748 595.684 201.323 587.6 201.323H581.557V191.845H587.6C590.456 191.845 592.783 189.521 592.783 186.662V176.862" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M581.557 202.575V190.593H577.857V202.575H581.557Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M591.697 176.865H603.679V173.165H591.697V176.865Z" fill="#0A2973" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M588.15 96.8136C588.15 100.76 584.91 103.959 580.914 103.959C576.917 103.959 573.678 100.76 573.678 96.8136C573.678 92.8674 580.914 85.6471 580.914 85.6471C580.914 85.6471 588.15 92.8674 588.15 96.8136Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M593.117 169.463V159.664C593.117 151.58 599.692 145.006 607.775 145.006H613.818V154.483H607.775C604.919 154.483 602.592 156.808 602.592 159.667V169.466" fill="white"/>
						<path d="M593.117 169.463V159.664C593.117 151.58 599.692 145.006 607.775 145.006H613.818V154.483H607.775C604.919 154.483 602.592 156.808 602.592 159.667V169.466" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M613.818 143.753V155.736H617.519V143.753H613.818Z" fill="#0A2973" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M603.679 169.463H591.697V173.164H603.679V169.463Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M621.219 145.171H631.019C639.102 145.171 645.677 151.746 645.677 159.829V169.121H636.199V159.829C636.199 156.973 633.875 154.646 631.016 154.646H621.216" fill="white"/>
						<path d="M621.219 145.171H631.019C639.102 145.171 645.677 151.746 645.677 159.829V169.121H636.199V159.829C636.199 156.973 633.875 154.646 631.016 154.646H621.216" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M646.929 169.124H634.947V172.824H646.929V169.124Z" fill="#0A2973" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M621.219 155.733V143.75H617.519V155.733H621.219Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M122.733 128.223V132.423V137.337H146.656V132.423V128.223H122.733Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M150.621 138.809V126.827H146.92V138.809H150.621Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M122.636 138.809V126.827H118.935V138.809H122.636Z" fill="#0A2973" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M165.881 105.698V98.8522C165.881 90.7568 172.444 84.1942 180.539 84.1942H184.798C187.415 84.1942 189.536 86.3148 189.536 88.9316C189.536 91.5483 187.415 93.6689 184.798 93.6689H180.539C177.678 93.6689 175.356 95.9903 175.356 98.8522V105.698" fill="white"/>
						<path d="M165.881 105.698V98.8522C165.881 90.7568 172.444 84.1942 180.539 84.1942H184.798C187.415 84.1942 189.536 86.3148 189.536 88.9316C189.536 91.5483 187.415 93.6689 184.798 93.6689H180.539C177.678 93.6689 175.356 95.9903 175.356 98.8522V105.698" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M176.443 105.698H164.461V109.399H176.443V105.698Z" fill="#0A2973" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M175.025 113.1V122.899C175.025 130.983 168.451 137.557 160.367 137.557H154.325V128.079H160.367C163.223 128.079 165.551 125.755 165.551 122.896V113.097" fill="white"/>
						<path d="M175.025 113.1V122.899C175.025 130.983 168.451 137.557 160.367 137.557H154.325V128.079H160.367C163.223 128.079 165.551 125.755 165.551 122.896V113.097" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M154.322 138.809V126.827H150.621V138.809H154.322Z" fill="#0A2973" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M164.464 113.099H176.446V109.399H164.464V113.099Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M94.531 169.372V142.737C94.531 134.654 101.105 128.079 109.189 128.079H115.232V137.557H109.189C106.333 137.557 104.006 139.881 104.006 142.74V169.375" fill="white"/>
						<path d="M94.531 169.372V142.737C94.531 134.654 101.105 128.079 109.189 128.079H115.232V137.557H109.189C106.333 137.557 104.006 139.881 104.006 142.74V169.375" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M115.235 126.827V138.809H118.935V126.827H115.235Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M105.095 169.372H93.1133V173.072H105.095V169.372Z" fill="#0A2973" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M1.00029 173.5C274.606 172.449 381.393 173.408 655 173" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M550.889 144.385V104.49C550.889 98.8642 546.328 94.3036 540.702 94.3036H498.326C492.7 94.3036 488.14 98.8642 488.14 104.49V144.385C488.14 150.011 492.7 154.572 498.326 154.572H540.702C546.328 154.572 550.889 150.011 550.889 144.385Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M555.097 109.945V103.126H483.931V109.945H555.097Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M483.931 145.75L478.024 173.164L502.741 145.75" fill="white"/>
						<path d="M483.931 145.75L478.024 173.164L502.741 145.75" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M555.097 145.75L561.004 173.164L536.284 145.75" fill="white"/>
						<path d="M555.097 145.75L561.004 173.164L536.284 145.75" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M536.999 145.75L519.872 173.164L502.741 145.75" fill="white"/>
						<path d="M536.999 145.75L519.872 173.164L502.741 145.75" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M550.889 83.9518V44.0566C550.889 38.4308 546.328 33.8701 540.702 33.8701H498.326C492.7 33.8701 488.14 38.4308 488.14 44.0566V83.9518C488.14 89.5777 492.7 94.1383 498.326 94.1383H540.702C546.328 94.1383 550.889 89.5777 550.889 83.9518Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M555.097 49.5115V42.692L483.931 42.692V49.5115L555.097 49.5115Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M555.097 85.3133V78.4938H483.931V85.3133H555.097Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M450.161 168.636C450.161 171.035 448.218 172.981 445.817 172.981H445.081C442.683 172.981 440.737 171.037 440.737 168.636V36.9358H450.158V168.636H450.161Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M439.599 36.9358H451.582V33.2351H439.599V36.9358Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M512.907 30.1693V23.3232C512.907 15.2396 506.333 8.66516 498.249 8.66516H489.253V18.1428H498.249C501.105 18.1428 503.432 20.4672 503.432 23.3261V30.1722" fill="white"/>
						<path d="M512.907 30.1693V23.3232C512.907 15.2396 506.333 8.66516 498.249 8.66516H489.253V18.1428H498.249C501.105 18.1428 503.432 20.4672 503.432 23.3261V30.1722" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M485.549 7.41315V19.3953H489.25V7.41315H485.549Z" fill="#0A2973" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M502.346 33.87H514.328V30.1693H502.346V33.87Z" fill="#0A2973" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M481.848 8.83069H455.51C447.426 8.83069 440.852 15.4051 440.852 23.4887V29.5315H450.329V23.4887C450.329 20.6327 452.654 18.3054 455.512 18.3054H481.851" fill="white"/>
						<path d="M481.848 8.83069H455.51C447.426 8.83069 440.852 15.4051 440.852 23.4887V29.5315H450.329V23.4887C450.329 20.6327 452.654 18.3054 455.512 18.3054H481.851" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M439.599 33.2351H451.582V29.5344H439.599V33.2351Z" fill="#0A2973" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M485.549 19.3952V7.41309H481.849V19.3952H485.549Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M457.633 190.536H234.857V206.526H457.633V190.536Z" fill="#0A2973" fill-opacity="0.5"/>
						<path d="M457.633 190.536V137.383C451.481 143.18 441.507 143.18 435.355 137.383C429.203 143.18 419.229 143.18 413.077 137.383C406.925 143.18 396.951 143.18 390.799 137.383C384.647 143.18 374.673 143.18 368.521 137.383C362.369 143.18 352.395 143.18 346.243 137.383C340.091 143.18 330.118 143.18 323.966 137.383C317.813 143.18 307.84 143.18 301.688 137.383C295.536 143.18 285.562 143.18 279.41 137.383C273.258 143.18 263.284 143.18 257.132 137.383C250.98 143.18 241.006 143.18 234.854 137.383V190.536H457.63H457.633Z" fill="url(#paint2_linear_239_907)"/>
						<path d="M457.633 190.536V137.383C451.481 143.18 441.507 143.18 435.355 137.383C429.203 143.18 419.229 143.18 413.077 137.383C406.925 143.18 396.951 143.18 390.799 137.383C384.647 143.18 374.673 143.18 368.521 137.383C362.369 143.18 352.395 143.18 346.243 137.383C340.091 143.18 330.118 143.18 323.966 137.383C317.813 143.18 307.84 143.18 301.688 137.383C295.536 143.18 285.562 143.18 279.41 137.383C273.258 143.18 263.284 143.18 257.132 137.383C250.98 143.18 241.006 143.18 234.854 137.383V190.536H457.63H457.633Z" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M457.633 198.144H234.857V206.526H457.633V198.144Z" fill="#0A2973"/>
						<path d="M457.633 122.772V206.526H234.857V122.772H224.969V206.526C224.969 211.987 229.396 216.414 234.857 216.414H457.633C463.094 216.414 467.521 211.987 467.521 206.526V122.772H457.633Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
					
						<path d="M555.097 145.747V138.927H483.931V145.747H555.097Z" fill="white" stroke="#0A2973" stroke-linecap="round" stroke-linejoin="round"/>
						
			
						<path class="svg-text"  d="M325.755 33.001L323.022 29.394H322.547V33.001H320.446V24.3102H322.547V27.6838H322.882L325.572 24.3102H328.199L324.851 28.4137L328.373 33.001H325.755Z" fill="black"/>
						<path class="svg-text" d="M328.901 33.001V24.3102H331.002V27.7984H334.426V24.3102H336.523V33.001H334.426V29.5086H331.002V33.001H328.901Z" fill="black"/>
						<path class="svg-text" d="M345.49 27.4589H343.368C343.34 27.2411 343.282 27.0445 343.194 26.8691C343.107 26.6937 342.991 26.5437 342.846 26.4193C342.702 26.2948 342.531 26.2 342.333 26.1349C342.138 26.067 341.921 26.0331 341.684 26.0331C341.262 26.0331 340.898 26.1364 340.593 26.3429C340.29 26.5494 340.057 26.8479 339.893 27.2383C339.731 27.6287 339.651 28.1011 339.651 28.6556C339.651 29.2327 339.733 29.7165 339.897 30.1069C340.064 30.4945 340.297 30.7873 340.597 30.9853C340.9 31.1805 341.258 31.2781 341.671 31.2781C341.903 31.2781 342.114 31.2484 342.303 31.189C342.495 31.1296 342.664 31.0433 342.808 30.9301C342.955 30.8141 343.075 30.6741 343.169 30.51C343.265 30.3431 343.331 30.155 343.368 29.9456L345.49 29.9584C345.453 30.3431 345.341 30.7222 345.155 31.0956C344.971 31.4691 344.718 31.81 344.395 32.1183C344.073 32.4239 343.679 32.6672 343.215 32.8482C342.754 33.0293 342.225 33.1198 341.628 33.1198C340.842 33.1198 340.137 32.9472 339.515 32.6021C338.896 32.2541 338.406 31.7477 338.047 31.0829C337.688 30.4181 337.508 29.609 337.508 28.6556C337.508 27.6994 337.69 26.8889 338.055 26.2241C338.42 25.5592 338.914 25.0543 339.536 24.7091C340.159 24.364 340.856 24.1914 341.628 24.1914C342.155 24.1914 342.641 24.265 343.088 24.4121C343.535 24.5563 343.928 24.7685 344.268 25.0486C344.607 25.3258 344.883 25.6667 345.095 26.0713C345.307 26.4758 345.439 26.9384 345.49 27.4589Z" fill="black"/>
						<path class="svg-text" d="M348.781 24.3102H350.878V29.3176H350.95L354.37 24.3102H356.178V33.001H354.077V27.9851H354.022L350.559 33.001H348.781V24.3102Z" fill="black"/>
						<path class="svg-text" d="M367.791 28.6556C367.791 29.6118 367.607 30.4223 367.239 31.0871C366.871 31.752 366.373 32.2569 365.745 32.6021C365.12 32.9472 364.418 33.1198 363.64 33.1198C362.86 33.1198 362.157 32.9458 361.531 32.5978C360.906 32.2499 360.41 31.7449 360.042 31.0829C359.677 30.4181 359.495 29.609 359.495 28.6556C359.495 27.6994 359.677 26.8889 360.042 26.2241C360.41 25.5592 360.906 25.0543 361.531 24.7091C362.157 24.364 362.86 24.1914 363.64 24.1914C364.418 24.1914 365.12 24.364 365.745 24.7091C366.373 25.0543 366.871 25.5592 367.239 26.2241C367.607 26.8889 367.791 27.6994 367.791 28.6556ZM365.643 28.6556C365.643 28.0898 365.563 27.6117 365.402 27.2213C365.243 26.8309 365.014 26.5352 364.714 26.3344C364.417 26.1335 364.059 26.0331 363.64 26.0331C363.225 26.0331 362.867 26.1335 362.567 26.3344C362.267 26.5352 362.036 26.8309 361.875 27.2213C361.717 27.6117 361.638 28.0898 361.638 28.6556C361.638 29.2214 361.717 29.6995 361.875 30.0899C362.036 30.4803 362.267 30.776 362.567 30.9768C362.867 31.1777 363.225 31.2781 363.64 31.2781C364.059 31.2781 364.417 31.1777 364.714 30.9768C365.014 30.776 365.243 30.4803 365.402 30.0899C365.563 29.6995 365.643 29.2214 365.643 28.6556Z" fill="black"/>
						<path class="svg-text" d="M376.667 27.4589H374.545C374.517 27.2411 374.459 27.0445 374.371 26.8691C374.283 26.6937 374.167 26.5437 374.023 26.4193C373.879 26.2948 373.708 26.2 373.51 26.1349C373.314 26.067 373.098 26.0331 372.86 26.0331C372.439 26.0331 372.075 26.1364 371.77 26.3429C371.467 26.5494 371.234 26.8479 371.07 27.2383C370.908 27.6287 370.828 28.1011 370.828 28.6556C370.828 29.2327 370.91 29.7165 371.074 30.1069C371.241 30.4945 371.474 30.7873 371.774 30.9853C372.077 31.1805 372.435 31.2781 372.848 31.2781C373.08 31.2781 373.29 31.2484 373.48 31.189C373.672 31.1296 373.841 31.0433 373.985 30.9301C374.132 30.8141 374.252 30.6741 374.346 30.51C374.442 30.3431 374.508 30.155 374.545 29.9456L376.667 29.9584C376.63 30.3431 376.518 30.7222 376.332 31.0956C376.148 31.4691 375.894 31.81 375.572 32.1183C375.249 32.4239 374.856 32.6672 374.392 32.8482C373.931 33.0293 373.402 33.1198 372.805 33.1198C372.019 33.1198 371.314 32.9472 370.692 32.6021C370.072 32.2541 369.583 31.7477 369.224 31.0829C368.864 30.4181 368.685 29.609 368.685 28.6556C368.685 27.6994 368.867 26.8889 369.232 26.2241C369.597 25.5592 370.091 25.0543 370.713 24.7091C371.335 24.364 372.033 24.1914 372.805 24.1914C373.331 24.1914 373.818 24.265 374.265 24.4121C374.712 24.5563 375.105 24.7685 375.445 25.0486C375.784 25.3258 376.06 25.6667 376.272 26.0713C376.484 26.4758 376.616 26.9384 376.667 27.4589Z" fill="black"/>

						<defs>
						<linearGradient id="paint0_linear_239_907" x1="234.381" y1="146.4" x2="235.563" y2="92.056" gradientUnits="userSpaceOnUse">
						<stop stop-color="#C5DDEF"/>
						<stop offset="0.95" stop-color="white"/>
						</linearGradient>
						<linearGradient id="paint1_linear_239_907" x1="499.324" y1="145.974" x2="500.505" y2="91.6308" gradientUnits="userSpaceOnUse">
						<stop stop-color="#C5DDEF"/>
						<stop offset="0.95" stop-color="white"/>
						</linearGradient>
						<linearGradient id="paint2_linear_239_907" x1="346.243" y1="135.891" x2="346.243" y2="191.824" gradientUnits="userSpaceOnUse">
						<stop stop-color="#D4D8E2"/>
						<stop offset="1" stop-color="white"/>
						</linearGradient>
						</defs>
					</svg>
		a(href="#",data-popup="#popup-quiz").btn._big._orange Подобрать решения 
