extends ../../layout/layout
block title
	title Салфокс
block content
	+breadcrumb(['Главная','О компании','Новости и статьи'], 'Почему он используется?')
	.news-detail
		.news-detail__row 
			.news-detail__content
				.news-detail__top
					//- +picture('news-detail','jpg').news-detail__top-img
					.news-detail__top-content
						.news-detail__top-date 13.09.2022
							span._divider
							| 10:34
						.news-detail__top-title.h2 Почему он используется?
				.text
					p
						big Методов очистки воздуха довольно много, но не все они приносят желаемый результат. Ответить  на вопрос: «Как сделать воздух в помещении чистым?» – можно, только имея четкое представление о природе загрязнения и его концентрации.
					p Загрязнители воздуха делятся на газообразные, аэрозольные и микробиологические. Все они либо сами являются источниками запахов, либо способны переносить (распространять) как запахи, так и токсичные вещества.
					p Например: запах табачного дыма – аэрозольное загрязнение, запах пепельницы с потухшими окурками – газовое загрязнение, а запах плесени – биоаэрозоль с адсорбированными молекулами запаха. Чтобы очистить воздух от всех классов загрязнителей, в современных воздухоочистителях, как правило, применяются несколько типов фильтров.
					.full-img
						+picture('news-detail','jpg')
					p
						big Методов очистки воздуха довольно много, но не все они приносят желаемый результат. Ответить  на вопрос: «Как сделать воздух в помещении чистым?» – можно, только имея четкое представление о природе загрязнения и его концентрации.
					p Загрязнители воздуха делятся на газообразные, аэрозольные и микробиологические. Все они либо сами являются источниками запахов, либо способны переносить (распространять) как запахи, так и токсичные вещества.
					p Например: запах табачного дыма – аэрозольное загрязнение, запах пепельницы с потухшими окурками – газовое загрязнение, а запах плесени – биоаэрозоль с адсорбированными молекулами запаха. Чтобы очистить воздух от всех классов загрязнителей, в современных воздухоочистителях, как правило, применяются несколько типов фильтров.
			.news-detail__aside
				h5 Другие новости
				.another-news-list
					.another-news
						.another-news__date 13.09.2022
						a.h4.another-news__link(href="#")  Почему он используется?
					.another-news
						.another-news__date 13.09.2022
						a.h4.another-news__link(href="#")  Как сделать воздух в&nbsp;помещении чистым?
					.another-news
						.another-news__date 13.09.2022
						a.h4.another-news__link(href="#") Почему он используется?
				a(href="#").btn.all-news._orange-inv  ВСЕ НОВОСТИ