body {
	font-family: 'Muller';
	font-style: normal;
	font-weight: 100;
	font-size: 16px;
	line-height: 150%;
	color: $blue;
	letter-spacing: -0.02em;
	font-weight: 300;

	&._no-scroll {
		overflow: hidden;
	}
}

._d-none {
	display: none !important;
}

img {
	max-width: 100%;
}

* {
	-webkit-box-decoration-break: clone;
	isolation: isolate;
}

@media (min-width: 992px) {
	._v-mob {
		display: none;
	}
}

@media (max-width: 992px) {
	._v-desc {
		display: none;
	}
}

.page {
	padding-top: 100px;
	position: relative;

}

.inner {
	padding: 0 50px;
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;

	.inner {
		padding: 0;
		max-width: 1164px;
	}

	@media(max-width:1300px) {
		padding: 0 25px;
	}
}

.container {
	max-width: 1368px;
	padding: 0px 35px;
	margin-left: auto;
	margin-right: auto;

	@media (max-width: 1200px) {
		padding: 0px 20px;
	}

	@media (max-width: 992px) {
		padding: 0px 10px;
	}
}

._hidden {
	display: none !important;
}

.block {
	margin-bottom: 130px;

	@media (max-width: 992px) {
		margin-bottom: 80px;
	}

	&__desc {
		.block__head+& {
			margin-top: -30px;
		}

		p {
			max-width: 584px;
		}
	}

	&__head {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 20px;
		margin-bottom: 40px;

		&-left {
			margin-right: auto;
		}


		h2,
		.h2,
		h1,
		.h1 {
			margin: 0;
			margin-right: AUTO;
		}
	}
}

.center {
	text-align: center;
}

.page {
	overflow: hidden;
}

.page-inner {}

._m-0 {
	margin: 0;
}