extends ../../layout/layout
block title
	title Салфокс
block content
	+breadcrumb(['Главная','О компании '], 'Сервис')
	a(href="#").back-link Назад
	.inner.block
		h1 Сервис
		p 
			big Мы уделяем первостепенное внимание техническому сопровождению нашего оборудования, предоставляя гарантию на все системы воздухоочистки, а также осуществляем постгарантийный ремонт и поддержку
	.inner.block.service-block
	
		.service-block__row.row._gap-18
			.col-lg-5.service-block__item
				h4 Комплексное
					br
					| обследование объектов
				p Комплексное обследование объекта — необходимая процедура, так как позволяет определиться с выбором модели Аэролайф, а также заранее решить возможные проблемы с монтажом системы очистки воздуха и её дальнейшей эксплуатацией. Этот этап позволяет гарантировать высокое качество всей дальнейшей работы
			.col-lg-7.service-block__item._orange
				h4  производство
				p Каждая система очистки воздуха Аэролайф для кухни производится индивидуально, с учётом пожеланий заказчика и места размещения. Системы очистки воздуха Аэролайф КФК и КФК-М имеют модульную компоновку, что позволяет подобрать оптимальный вариант по высоте и ширине для каждой задачи. 
				p В случае, если стандартные варианты не подходят, мы всегда готовы изготовить оборудование с учётом имеющегося пространства и условий эксплуатации.
			.col-lg-7.service-block__item._orange
				h4 Шеф-монтажи пуско-наладка
				p Мы хотим, что бы наше оборудование стабильно и эффективно работало с первого дня эксплуатации, поэтому всегда готовы направить на объект инженеров, которые будут курировать монтаж  и обеспечивать запуск систем очистки воздуха.
				p Вне зависимости  от сложности объекта, монтаж систем Аэролайф проводится в полном соответствии со строительными и вентиляционными нормами Российского законодательства.
			.col-lg-5.service-block__item
				h4  проектирование
				p Опытные инженеры-проектировщики подберут оптимальный вариант модели оборудования и сделают проект, исходя из требований к системе очистки воздуха, а также имеющихся коммуникаций и пространства в системе технологической вытяжной вентиляции ресторана.
			.col-lg-6.service-block__item
				h4  Обучение 
					br
					| сервисных специалистов 
				p Мы хотим, что бы наше оборудование стабильно и эффективно работало с первого дня эксплуатации, поэтому всегда готовы направить на объект инженеров, которые будут курировать монтаж  и обеспечивать запуск систем очистки воздуха. Вне зависимости  от сложности объекта, монтаж систем Аэролайф проводится в полном соответствии со строительными и вентиляционными нормами Российского законодательства.
			.col-lg-6.service-block__item._orange
				h4 Модернизация и ремонт
					br
					| систем очистки воздуха 
				p Мы всегда готовы предложить разнообразные работы по модернизации или ремонту оборудования. Изменение производительности установок очистки, увеличение эффективности фильтрации, дооснащение дополнительными секциями и фильтрующими элементами, работы по автоматизации и диспетчеризации, обследование и ремонт любой сложности.
			.col-12.service-block__contact
				.service-block__contact-head
					h3  служба поддержки 
					a(href="#").btn._big оставить заявку
				.service-block__contact-row
					.service-block__contact-it
						.service-block__contact-it-head Время работы:
						.service-block__contact-it-body 10:00–18:00 по рабочим дням
					.service-block__contact-it
						.service-block__contact-it-head Телефон:
						.service-block__contact-it-body
							a(href="tel:+74959232720")  +7 495 923-27-20
					.service-block__contact-it
						.service-block__contact-it-head Электронная почта:
						.service-block__contact-it-body
							a(href="mailto:info@airlife.ru") info@airlife.ru
	.block.service-slider 
		.inner
			h2 Сервис газоочистных установок Cалфокс
			.service-slider__btns
				button.service-slider__tab.btn._white._active(type='button',data-slide='0') Обслуживание скруббера
				button.service-slider__tab.btn._white(type='button',data-slide='1') Обслуживание адсорберов
		.service-slider__wrap
			.swiper.service-slider__slide
				.swiper-wrapper
					.swiper-slide
						.service-slider__row
							.service-slider__left
								.service-slider__it В процессе работы происходит накопление суспензии элементарной серы с отработанным катализатором
								.service-slider__it  Отработанный катализатор содержит элементарную серу
								.service-slider__it  Данную суспензию необходимо утилизировать
								.service-slider__it  Отработанный раствор относится  к IV классу опасности и может быть утилизирован путем слива в обычную канализацию
							.service-slider__right
								h4 как эксплуатировать
								ul.service-slider__steps
									li Для слива необходимо открыть кран слива поддона скруббера
									li Смыть водой из шланга серу с поддона скруббера
									li Для заливки свежего катализатора необходимо открыть люк поддона скруббера и залить свежий раствор катализатора Салфокс «К» из канистр или из еврокуба при помощи бочкового насоса (бочковой насос может быть включен в комплект поставки на скрубберах с производительностью начиная от 3000 м3/ч)
					.swiper-slide
						.service-slider__row
							.service-slider__left
								.service-slider__it  В адсорберах используется сорбент на основе активированного угля, который со временем насыщается нелетучими уловленными продуктами, в том числе от остаточных концентраций сероводорода после скруббера
								.service-slider__it  Его необходимо менять
								.service-slider__it  Данную суспензию необходимо утилизировать
								.service-slider__it  Отработанный раствор относится  к IV классу опасности и может быть утилизирован путем слива в обычную канализацию
							.service-slider__right
								h4 как эксплуатировать
								ul.service-slider__steps
									li Для слива необходимо открыть кран слива поддона скруббера
									li Смыть водой из шланга серу с поддона скруббера
									li Для заливки свежего катализатора необходимо открыть люк поддона скруббера и залить свежий раствор катализатора Салфокс «К» из канистр или из еврокуба при помощи бочкового насоса (бочковой насос может быть включен в комплект поставки на скрубберах с производительностью начиная от 3000 м3/ч)
