.service-block {

    &__row {}

    &__item {
        background: #F6F8FA;
        border-radius: 30px;
        padding: 30px;

        &._orange {
            background: rgba(243, 95, 66, 0.05);

            h4,
            .h4 {
                color: #F35F42;
            }
        }

        h4,
        .h4 {
            margin-bottom: 10px;
        }
    }

    &__contact {
        padding: 40px 50px;
        background: #F6F8FA;
        border-radius: 30px;
    }

    &__contact-head {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 40px;
        gap: 20px;
        flex-wrap: nowrap;

        h3,
        .h3 {
            margin: 0;
            margin-right: auto;
        }
    }

    &__contact-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 80px;
    }

    &__contact-it {}

    &__contact-it-head {
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        /* identical to box height, or 157% */

        letter-spacing: -0.02em;
        text-transform: uppercase;
        margin-bottom: 8px;
        color: #627197;
    }

    &__contact-it-body {
        font-weight: 700;
        font-size: 20px;
        line-height: 34px;
        /* identical to box height, or 170% */

        letter-spacing: -0.02em;
        text-transform: uppercase;

        a {
            text-decoration: none;
        }
    }
}

.service-slider {
    &__btns {
        display: flex;
        gap: 17px;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }

    &__wrap {
        background: #F6F8FA;
        border-radius: 30px;
        padding: 42px;
    }

    &__row {
        display: grid;
        grid-template-columns: 40% auto;
        grid-gap: 22px;
    }

    &__right {
        background: $blue;
        padding: 32px;
        border-radius: 30px;
        color: #fff;

        ul {
            overflow: hidden;
            counter-reset: section;
            position: relative;
            overflow: hidden;


            li {
                padding-left: 50px;
                padding-top: 10px;
                font-weight: 500;
                font-size: 15px;
                line-height: 133%;
                letter-spacing: -0.04em;
                margin-bottom: 34px;
                position: relative;

                &:last-child {
                    margin-bottom: 0;

                    &::before {
                        background-image: url("data:image/svg+xml,%3Csvg width='3' height='1058' viewBox='0 0 3 1058' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 0L1.00001 1058' stroke='white' stroke-dasharray='1 4'/%3E%3C/svg%3E%0A");
                        width: 1px;
                        height: 1000px;
                        content: '';
                        left: 17px;
                        bottom: 100%;
                        display: block;
                        position: absolute;
                    }
                }

                &::after {
                    counter-increment: section;
                    width: 34px;
                    height: 34px;
                    background: #fff;
                    border-radius: 50%;
                    display: block;
                    content: '0' counter(section);
                    left: 0;
                    top: 0;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 12px;
                    /* identical to box height */
                    color: $orange;
                    text-align: center;
                    letter-spacing: -0.04em;
                    position: absolute;
                }
            }
        }
    }

    &__it {
        background: #FFFFFF;
        border: 1px solid #DFE5EE;
        border-radius: 20px;
        margin-bottom: 10px;
        padding: 33px;
        padding-left: 72px;
        position: relative;
        font-weight: 300;
        font-size: 15px;
        line-height: 20px;

        &::after {
            position: absolute;
            width: 34px;
            height: 34px;
            background-color: #F6F8FA;
            display: block;
            content: '';
            position: absolute;
            top: 25px;
            left: 25px;
            border-radius: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg width='11' height='9' viewBox='0 0 11 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.61538 8L9 4.5M9 4.5L5.61538 1M9 4.5H0' stroke='%23F35F42' stroke-width='2'/%3E%3C/svg%3E%0A");
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}