extends ../../layout/layout
block title
	title Салфокс
block content
	+breadcrumb(['Главная'], 'Каталог решений')
	.catalog
		.catalog-aside
			.catalog-aside__head
				.catalog-aside__title Каталог решений
				a(href="#").catalog-aside__all-product Все товары
			ul.catalog-aside__menu
				li
					a(href="#") Нефтепром 
					ul.catalog-aside__sub-menu
						li 
							a(href="#") КНС и очистные сооружения
						li 
							a(href="#") Очистные сооружения
						li 
							a(href="#") Мини кнс
						li 
							a(href="#") Расходные материалы
				li._active
					a(href="#") Для КНС и ОС 
					ul.catalog-aside__sub-menu
						li 
							a(href="#") КНС и очистные сооружения
						li 
							a(href="#") Очистные сооружения
						li 
							a(href="#") Мини кнс
						li 
							a(href="#")._active Расходные материалы
			a(href="#").btn Подобрать решение 
		.catalog__space
		.catalog__content
			h1 Расходные материалы
			.catalog__row.row._gap-22
				.col-lg-4.catalog-2
					.catalog-2__img._contain
						+picture('c-1','png')
					.catalog-2__content 
						.catalog-2__title эффективные материалы по удалению сероводорода
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img
						+picture('c-2','jpg')
					.catalog-2__content 
						.catalog-2__title эффективные материалы
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img._contain
						+picture('c-3','png')
					.catalog-2__content 
						.catalog-2__title эффективные материалы по удалению сероводорода
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 


				.col-lg-4.catalog-2
					.catalog-2__img
						+picture('c-2','jpg')
					.catalog-2__content 
						.catalog-2__title эффективные материалы
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img._contain
						+picture('c-3','png')
					.catalog-2__content 
						.catalog-2__title эффективные материалы по удалению сероводорода
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img._contain
						+picture('c-1','png')
					.catalog-2__content 
						.catalog-2__title эффективные материалы по удалению сероводорода
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img
						+picture('c-2','jpg')
					.catalog-2__content 
						.catalog-2__title эффективные материалы
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img._contain
						+picture('c-3','png')
					.catalog-2__content 
						.catalog-2__title эффективные материалы по удалению сероводорода
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img._contain
						+picture('c-1','png')
					.catalog-2__content 
						.catalog-2__title эффективные материалы по удалению сероводорода
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img
						+picture('c-2','jpg')
					.catalog-2__content 
						.catalog-2__title эффективные материалы
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img._contain
						+picture('c-3','png')
					.catalog-2__content 
						.catalog-2__title эффективные материалы по удалению сероводорода
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img._contain
						+picture('c-1','png')
					.catalog-2__content 
						.catalog-2__title эффективные материалы по удалению сероводорода
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img
						+picture('c-2','jpg')
					.catalog-2__content 
						.catalog-2__title эффективные материалы
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img._contain
						+picture('c-3','png')
					.catalog-2__content 
						.catalog-2__title эффективные материалы по удалению сероводорода
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img._contain
						+picture('c-1','png')
					.catalog-2__content 
						.catalog-2__title эффективные материалы по удалению сероводорода
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img
						+picture('c-2','jpg')
					.catalog-2__content 
						.catalog-2__title эффективные материалы
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img._contain
						+picture('c-3','png')
					.catalog-2__content 
						.catalog-2__title эффективные материалы по удалению сероводорода
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img._contain
						+picture('c-1','png')
					.catalog-2__content 
						.catalog-2__title эффективные материалы по удалению сероводорода
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img
						+picture('c-2','jpg')
					.catalog-2__content 
						.catalog-2__title эффективные материалы
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img._contain
						+picture('c-3','png')
					.catalog-2__content 
						.catalog-2__title эффективные материалы по удалению сероводорода
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img._contain
						+picture('c-1','png')
					.catalog-2__content 
						.catalog-2__title эффективные материалы по удалению сероводорода
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img
						+picture('c-2','jpg')
					.catalog-2__content 
						.catalog-2__title эффективные материалы
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img._contain
						+picture('c-3','png')
					.catalog-2__content 
						.catalog-2__title эффективные материалы по удалению сероводорода
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img._contain
						+picture('c-1','png')
					.catalog-2__content 
						.catalog-2__title эффективные материалы по удалению сероводорода
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img
						+picture('c-2','jpg')
					.catalog-2__content 
						.catalog-2__title эффективные материалы
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img._contain
						+picture('c-3','png')
					.catalog-2__content 
						.catalog-2__title эффективные материалы по удалению сероводорода
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img._contain
						+picture('c-1','png')
					.catalog-2__content 
						.catalog-2__title эффективные материалы по удалению сероводорода
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img
						+picture('c-2','jpg')
					.catalog-2__content 
						.catalog-2__title эффективные материалы
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img._contain
						+picture('c-3','png')
					.catalog-2__content 
						.catalog-2__title эффективные материалы по удалению сероводорода
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img._contain
						+picture('c-1','png')
					.catalog-2__content 
						.catalog-2__title эффективные материалы по удалению сероводорода
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img
						+picture('c-2','jpg')
					.catalog-2__content 
						.catalog-2__title эффективные материалы
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img._contain
						+picture('c-3','png')
					.catalog-2__content 
						.catalog-2__title эффективные материалы по удалению сероводорода
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img._contain
						+picture('c-1','png')
					.catalog-2__content 
						.catalog-2__title эффективные материалы по удалению сероводорода
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img
						+picture('c-2','jpg')
					.catalog-2__content 
						.catalog-2__title эффективные материалы
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img._contain
						+picture('c-3','png')
					.catalog-2__content 
						.catalog-2__title эффективные материалы по удалению сероводорода
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img._contain
						+picture('c-1','png')
					.catalog-2__content 
						.catalog-2__title эффективные материалы по удалению сероводорода
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img
						+picture('c-2','jpg')
					.catalog-2__content 
						.catalog-2__title эффективные материалы
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img._contain
						+picture('c-3','png')
					.catalog-2__content 
						.catalog-2__title эффективные материалы по удалению сероводорода
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img._contain
						+picture('c-1','png')
					.catalog-2__content 
						.catalog-2__title эффективные материалы по удалению сероводорода
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img
						+picture('c-2','jpg')
					.catalog-2__content 
						.catalog-2__title эффективные материалы
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img._contain
						+picture('c-3','png')
					.catalog-2__content 
						.catalog-2__title эффективные материалы по удалению сероводорода
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img._contain
						+picture('c-1','png')
					.catalog-2__content 
						.catalog-2__title эффективные материалы по удалению сероводорода
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img
						+picture('c-2','jpg')
					.catalog-2__content 
						.catalog-2__title эффективные материалы
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 
			
				.col-lg-4.catalog-2
					.catalog-2__img._contain
						+picture('c-3','png')
					.catalog-2__content 
						.catalog-2__title эффективные материалы по удалению сероводорода
						p Хемосорбционный окислительный скруббер.
					a(href="@").catalog-2__link.btn._white Подробнее 

			
			.catalog__more(data-pagelenght='9')
				span
					<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M9 0V18M0 9H18" stroke="#0A2973" stroke-width="2"/>
					</svg>
					| Показать еще
