.cleaning-method {
	padding: 30px;
	padding-top: 50px;
	padding-bottom: 93px;
	background: #F6F8FA;
	border-radius: 30px;

	@media(max-width:992px) {
		padding-left: 20px;
		padding-right: 20px;
		margin-left: -20px;
		margin-right: -20px;
		border-radius: 0;
		padding-bottom: 50px;
	}

	&__btns {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 20px;
		margin-bottom: 52px;

		@media(max-width:992px) {
			margin-bottom: 25px;
		}
	}

	&__row {
		display: grid;
		grid-gap: 20px;
		min-height: 560px;
		grid-template-columns: 1fr 2fr;

		@media(max-width:992px) {
			grid-template-columns: 1fr;
		}
	}

	&__left {
		display: grid;
		grid-gap: 20px;
		grid-template-rows: 1fr 1fr;

		@media(max-width:992px) {
			grid-template-columns: 1fr;
			grid-template-rows: initial;

		}
	}
}

.cleaning-method-it {
	background: #FFFFFF;
	border: 1px solid #DFE5EE;
	border-radius: 30px;
	padding: 30px;
	display: flex;
	flex-direction: column;

	img {
		margin: auto 0;
	}

	&._full {
		border-color: $orange;

		h4 {
			color: $orange;
		}
	}
}


.efficiency {
	background: $blue;
	border-radius: 30px;
	color: #fff;
	padding: 84px 20px 60px;

	@media(max-width:992px) {
		padding: 30px;
	}

	blockquote {
		font-size: 16px;
		line-height: 28px;

		margin-bottom: 29px;

		@media(max-width:992px) {
			margin-bottom: 0px;
			margin-top: 29px;
		}
	}

	&__img-scroll {
		// max-width: 571px;

	}

	@media(max-height:800px) and(min-width:800px) {
		padding-top: 40px;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 30px;
		max-width: 880px;
		max-width: 880px;
		margin-left: auto;
		margin-right: auto;

		.efficiency__legend {
			line-height: 1;
			font-size: 12px;
		}

		.efficiency__row {
			grid-template-columns: auto 329px;
			gap: 0 20px;
		}



		.h2 {
			font-size: 22px;
			margin: 0;
			margin-bottom: 4px;
		}

		p {
			line-height: 1;
			font-size: 12px;
		}
	}

	@media(max-width:992px) {

		margin-left: -20px;
		margin-right: -20px;
		border-radius: 0;
	}

	&__left {

		.h2,
		h2 {
			margin-top: 9px;
		}

		.h3,
		h3 {
			@media(min-width:990px) {
				font-size: 32px;
			}

			margin-bottom: 0;
		}
	}

	&__img-scroll {
		// @media(max-width:992px) {
		// 	overflow: auto;
		// 	max-width: calc(100vw - 20px);

		// 	img {
		// 		min-width: 768px;
		// 		width: 100%;
		// 	}
		// }
	}

	.h2,
	h2 {
		font-weight: 500;
		line-height: 130%;
		text-transform: none;
		/* or  */



		color: #FFFFFF;
	}

	.h2,
	h2,
	h4,
	h3,
	.h3,
	.h4 {
		color: #fff
	}

	&__right {
		display: flex;
		flex-direction: column;
	}

	&__legend {
		display: flex;
		flex-direction: row;
		max-width: 240px;
		line-height: 100%;

		&-color {
			width: 45px;
			height: 4px;
			margin-right: 11px;
			position: relative;
			top: 6px;
		}
	}

	&__legends {
		gap: 20px;
		display: flex;
		flex-direction: column;
		margin-top: auto;

		@media(max-width:992px) {
			order: -1;
			margin-bottom: 15px;
		}
	}

	&__row-2 {
		display: grid;
		grid-template-columns: auto 390px;
		grid-gap: 25px 50px;

		margin-right: -50px;

		@media(max-width:1440px) {
			margin-right: calc(-1 * ((100vw - 1164px)/2) + 90px);
		}

		@media(max-width:1300px) {
			margin-right: calc(-1 * ((100vw - 1164px)/2) + 60px);
		}

		@media(max-width:1200px) {
			margin-right: 0px;
		}

		@media(max-width:992px) {
			grid-template-columns: 1fr;
			grid-gap: 20px;
		}
	}

	&__row {
		display: grid;
		grid-template-columns: auto 343px;
		grid-gap: 25px 50px;

		@media(max-width:992px) {
			grid-template-columns: 1fr;
			grid-gap: 20px;
		}
	}
}