header.header 
	.inner 
		.header__row 
			.header__logo
				a(href="#")
					img(src="img/logo.svg", alt="") 
			.header__menu-wrap
				ul.header__menu
					li.header__menu-item._has-dropdown
						a.header__menu-item-link(href="#") о компании
							span.header__menu-item-icon
								span
						ul.header__menu-dropdown
							li 
								a(href="#" ) Технологии очистки НЕФТЯНКИ
							li 
								a(href="#" )  Каталог решений
					li.header__menu-item._has-dropdown
						a.header__menu-item-link(href="#") Для нефтепрома
							span.header__menu-item-icon
								span
						ul.header__menu-dropdown
							li 
								a(href="#" ) Технологии очистки НЕФТЯНКИ
							li 
								a(href="#" )  Каталог решений
					li.header__menu-item._has-dropdown
						a.header__menu-item-link(href="#") Для КНС и ОС
							span.header__menu-item-icon
								span
						ul.header__menu-dropdown
							li 
								a(href="#" ) Технологии очистки НЕФТЯНКИ
							li 
								a(href="#" )  Каталог решений
					li.header__menu-item._has-dropdown
						a.header__menu-item-link(href="#") каталог решений
							span.header__menu-item-icon
								span
						ul.header__menu-dropdown
							li 
								a(href="#" ) Технологии очистки НЕФТЯНКИ
							li 
								a(href="#" )  Каталог решений
					li.header__menu-item
						a.header__menu-item-link(href="#") сертификаты
					li.header__menu-item
						a.header__menu-item-link(href="#") контакты
			button(type="button").header__feedback.btn Обратная связь
			.header__contact
				a.header__phone(href="tel:+74959232720") +7 495 923 27 20
				a.header__mail(href="mailto:info@sulphox.ru") info@sulphox.ru
			button(type="button").header__mobmenu 
				span