.presentation {
	border-radius: 30px;
	padding: 45px 30px;
	position: relative;
	min-height: 320px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height, or 150% */
	text-transform: uppercase;

	transition: filter 0.3s;

	@media(max-width:768px) {
		min-height: 180px;
		padding: 15px 20px;
	}

	&:hover {
		filter: drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.25));
	}

	&._bg-blue {
		background-color: $blue ;
	}

	&._bg-orange {
		background-color: $orange;
	}

	&__download {
		background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.6279 19.5518L7.07024 13.3776M13.6279 19.5518L19.6811 13.3776M13.6279 19.5518V0M25.7343 12.3485V25.7261H1.52148V12.3485' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
		width: 27px;
		height: 27px;
		position: absolute;
		right: 30px;
		top: 40px;
		background-position: center;
		background-size: contain;

		@media(max-width:768px) {
			height: 17px;
			width: 17px;

			top: 23px;
			right: 20px;
		}
	}

	&__text {
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		text-transform: none;
	}

	&__link {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		font-size: 20px;

	}

	&__logo {
		width: 138px;
		height: 16px;
		position: absolute;
		left: 30px;
		background-image: url("data:image/svg+xml,%3Csvg width='138' height='16' viewBox='0 0 138 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M116.972 0.400391H120.8L115.621 8.41523L120.8 15.9795H116.95L112.808 9.9035H107.046V15.9795H103.601V0.400391H107.046V6.7267H112.944L116.972 0.400391Z' fill='white'/%3E%3Cpath d='M37.8838 15.9749H34.1517L32.5133 12.7572H22.9828L21.3444 15.9749H17.6123L25.9412 0.400391H29.5595L37.8838 15.9749ZM27.7617 3.66367L24.4666 9.83068H31.0614L27.7617 3.66367Z' fill='white'/%3E%3Cpath d='M93.7747 0.400391C95.0627 0.400391 96.2096 0.582443 97.22 0.951098C98.2304 1.31975 99.0906 1.8386 99.7915 2.51674C100.492 3.19944 101.029 4.01412 101.398 4.97445C101.767 5.93477 101.949 6.99977 101.949 8.16946V8.19222C101.949 9.37555 101.762 10.4497 101.398 11.4054C101.029 12.3612 100.492 13.1804 99.7915 13.8631C99.0906 14.5458 98.2304 15.0647 97.22 15.4288C96.2096 15.7929 95.0582 15.9795 93.7747 15.9795H90.2929C89.0049 15.9795 87.858 15.7974 86.8476 15.4288C85.8372 15.0601 84.977 14.5413 84.2761 13.8631C83.5752 13.1804 83.0382 12.3658 82.6695 11.4054C82.3009 10.4497 82.1143 9.37555 82.1143 8.19222V8.16946C82.1143 6.99977 82.2963 5.93477 82.6695 4.97445C83.0382 4.01867 83.5752 3.19489 84.2761 2.51674C84.977 1.83405 85.8372 1.3152 86.8476 0.951098C87.858 0.586994 89.0095 0.400391 90.2929 0.400391H93.7747V0.400391ZM93.7747 12.9119C95.3403 12.9119 96.5373 12.4841 97.3566 11.6284C98.1758 10.7728 98.5854 9.62587 98.5854 8.19677V8.17401C98.5854 6.754 98.1758 5.61618 97.3566 4.76054C96.5328 3.90489 95.3403 3.47707 93.7747 3.47707H90.2929C88.741 3.47707 87.5485 3.90489 86.7247 4.76054C85.8964 5.61618 85.4822 6.754 85.4822 8.17401V8.19677C85.4822 9.63043 85.8964 10.7774 86.7247 11.6284C87.5531 12.4841 88.7455 12.9119 90.2929 12.9119H93.7747Z' fill='white'/%3E%3Cpath d='M39.6738 12.8436C40.1108 12.8436 40.4885 12.7435 40.8117 12.5296C41.1348 12.3202 41.4124 11.9288 41.6491 11.3463C41.8858 10.7637 42.0724 9.94902 42.2271 8.89767C42.3773 7.84632 42.4956 6.37625 42.5867 4.69227L42.8142 0.400391H57.4558V15.9749H53.9786V3.53624H46.1412L46.0775 4.78784C45.9728 6.96336 45.7862 8.87036 45.5132 10.2995C45.2446 11.7286 44.8623 12.8664 44.3753 13.7084C43.8838 14.5504 43.2603 15.142 42.5002 15.4743C41.7401 15.8111 40.8026 15.9795 39.6875 15.9795H39.1914V12.8527H39.6829L39.6738 12.8436Z' fill='white'/%3E%3Cpath d='M67.2729 2.08892H68.2833V0.400391H71.674V2.08892H72.6662C73.9724 2.08892 75.1148 2.24367 76.0934 2.54405C77.0719 2.84899 77.8866 3.27226 78.5374 3.80931C79.1882 4.34637 79.6843 4.98355 80.012 5.72541C80.3443 6.46727 80.5081 7.2774 80.5081 8.16491C80.5081 9.05241 80.3443 9.87164 80.012 10.6272C79.6798 11.3827 79.1882 12.0335 78.5374 12.566C77.8866 13.1031 77.0673 13.5263 76.0934 13.8313C75.1148 14.1362 73.9724 14.2864 72.6662 14.2864H71.674V15.9749H68.2833V14.2864H67.2729C65.9804 14.2864 64.8471 14.1317 63.8686 13.8313C62.89 13.5263 62.0754 13.1031 61.4245 12.566C60.7737 12.029 60.2821 11.3827 59.959 10.6272C59.6359 9.87164 59.4766 9.05241 59.4766 8.16491C59.4766 7.2774 59.6359 6.46272 59.959 5.72541C60.2821 4.98355 60.7737 4.34637 61.4245 3.80931C62.0754 3.27226 62.8946 2.84899 63.8686 2.54405C64.8471 2.23912 65.9804 2.08892 67.2729 2.08892ZM67.2729 11.4874H68.3516V4.89707H67.2729C66.4492 4.89707 65.7483 4.97445 65.1702 5.13374C64.5877 5.29304 64.1098 5.5206 63.7366 5.81188C63.3634 6.10317 63.0857 6.44452 62.9082 6.84958C62.7353 7.25009 62.6443 7.69157 62.6443 8.16946C62.6443 8.64734 62.7353 9.09337 62.9082 9.49844C63.0812 9.9035 63.3588 10.2585 63.7366 10.5589C64.1098 10.8593 64.5877 11.0868 65.1702 11.2461C65.7528 11.4054 66.4537 11.4828 67.2729 11.4828V11.4874ZM72.6708 11.4874C73.4946 11.4874 74.2 11.41 74.7871 11.2507C75.3742 11.0914 75.8567 10.8638 76.2299 10.5634C76.6031 10.2631 76.8807 9.9126 77.0582 9.50299C77.2357 9.09792 77.3222 8.65189 77.3222 8.17401C77.3222 7.69612 77.2312 7.25465 77.0582 6.85413C76.8853 6.45362 76.6077 6.10772 76.2299 5.81644C75.8567 5.52515 75.3742 5.29759 74.7871 5.13829C74.2 4.979 73.4946 4.90163 72.6708 4.90163H71.6103V11.4874H72.6708Z' fill='white'/%3E%3Cpath d='M11.6559 12.912H8.17413C6.62214 12.912 5.43425 12.4842 4.60591 11.6286C3.77758 10.7729 3.36341 9.63055 3.36341 8.19689V8.17413C3.36341 6.75868 3.77758 5.62085 4.60591 4.76066C5.4297 3.90501 6.62214 3.47719 8.17413 3.47719H11.6559C13.2079 3.47719 14.3958 3.90046 15.215 4.74245L17.5498 2.40764C16.8717 1.78411 16.057 1.29712 15.1058 0.95122C14.0954 0.587116 12.9439 0.400513 11.6604 0.400513H8.17868C6.89522 0.400513 5.74374 0.582565 4.73335 0.95122C3.72296 1.31532 2.86277 1.83872 2.16187 2.51687C1.46097 3.19501 0.923914 4.01424 0.555259 4.97457C0.182052 5.93034 0 6.9999 0 8.16958V8.19234C0 9.37568 0.186603 10.4498 0.555259 11.4056C0.923914 12.3613 1.46097 13.1806 2.16187 13.8633C2.86277 14.5414 3.72296 15.0648 4.73335 15.4289C5.74374 15.793 6.89522 15.9796 8.17868 15.9796H11.6604C12.9439 15.9796 14.0954 15.7976 15.1058 15.4289C15.7111 15.2104 16.2572 14.9283 16.7533 14.596L14.4231 12.2657C13.6903 12.6936 12.7709 12.912 11.6604 12.912H11.6559Z' fill='white'/%3E%3Cpath d='M132.106 12.9119H128.624C127.072 12.9119 125.884 12.4841 125.056 11.6284C124.228 10.7728 123.814 9.63043 123.814 8.19677V8.17401C123.814 6.75856 124.228 5.62073 125.056 4.76054C125.88 3.90489 127.072 3.47707 128.624 3.47707H132.106C133.658 3.47707 134.846 3.90034 135.665 4.74233L138 2.40751C137.322 1.78399 136.507 1.297 135.556 0.951098C134.546 0.586994 133.394 0.400391 132.111 0.400391H128.629C127.345 0.400391 126.194 0.582443 125.184 0.951098C124.173 1.3152 123.313 1.8386 122.612 2.51674C121.911 3.19489 121.374 4.01412 121.005 4.97445C120.632 5.93022 120.45 6.99977 120.45 8.16946V8.19222C120.45 9.37555 120.637 10.4497 121.005 11.4054C121.374 12.3612 121.911 13.1804 122.612 13.8631C123.313 14.5413 124.173 15.0647 125.184 15.4288C126.194 15.7929 127.345 15.9795 128.629 15.9795H132.111C133.394 15.9795 134.546 15.7974 135.556 15.4288C136.161 15.2103 136.707 14.9281 137.204 14.5959L134.873 12.2656C134.14 12.6934 133.221 12.9119 132.111 12.9119H132.106Z' fill='white'/%3E%3C/svg%3E%0A");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		top: 45px;

		@media(max-width:768px) {
			width: 81px;
			top: 26px;
			left: 20px;
		}
	}
}

.presentations {
	&__slider {
		margin: -40px;

		&-btns {
			margin-top: 50px;
			text-align: center;
		}

		.swiper-slide {
			padding: 40px;
		}
	}

	&__filters {
		gap: 10px;
		display: flex;
		flex-direction: row;
		margin-bottom: 36px;
	}
}