extends ../../layout/404
block title
	title Салфокс
block content
	.p404
		img(src="img/404.svg", alt="").p404__bg
		.p404__air
		.p404__content
			.p404__title.h3 Ошибка 404
			.p404__title2.h2 К сожалению, такой страницы не существует.
				br
				| Вы можете 
				a(href="/") вернуться на главную
				| страницу.