extends ../../layout/layout
block title
	title Салфокс
block content
	+breadcrumb(['Главная'], 'Видео')

	.inner.block.video-page
		h1 Видео
		.video-its.row._gap-22
			.col-lg-6.video-it
				.video-it__img-wrap
					+picture('video-1','jpg').video-it__img
				.video-it__date 13.09.2022
				.video-it__title Технология очистки воздуха
				a.video-it__link(href="http://www.youtube.com/watch?v=NpEaa2P7qZI")
			.col-lg-6.video-it
				.video-it__img-wrap
					+picture('video-2','jpg').video-it__img
				.video-it__date 13.09.2022
				.video-it__title о компании
				a.video-it__link(href="http://www.youtube.com/watch?v=NpEaa2P7qZI")
			.col-lg-6.video-it
				.video-it__img-wrap
					+picture('video-3','jpg').video-it__img
				.video-it__date 13.09.2022
				.video-it__title Выставка ПИР-2019
				a.video-it__link(href="http://www.youtube.com/watch?v=NpEaa2P7qZI")
			.col-lg-6.video-it
				.video-it__img-wrap
					+picture('video-4','jpg').video-it__img
				.video-it__date 13.09.2022
				.video-it__title Выставка Здравоохранение-2018
				a.video-it__link(href="http://www.youtube.com/watch?v=NpEaa2P7qZI") 
			.col-lg-6.video-it
				.video-it__img-wrap
					+picture('video-1','jpg').video-it__img
				.video-it__date 13.09.2022
				.video-it__title Технология очистки воздуха
				a.video-it__link(href="http://www.youtube.com/watch?v=NpEaa2P7qZI")
			.col-lg-6.video-it
				.video-it__img-wrap
					+picture('video-2','jpg').video-it__img
				.video-it__date 13.09.2022
				.video-it__title о компании
				a.video-it__link(href="http://www.youtube.com/watch?v=NpEaa2P7qZI")
			.col-lg-6.video-it
				.video-it__img-wrap
					+picture('video-3','jpg').video-it__img
				.video-it__date 13.09.2022
				.video-it__title Выставка ПИР-2019
				a.video-it__link(href="http://www.youtube.com/watch?v=NpEaa2P7qZI")
			.col-lg-6.video-it
				.video-it__img-wrap
					+picture('video-4','jpg').video-it__img
				.video-it__date 13.09.2022
				.video-it__title Выставка Здравоохранение-2018
				a.video-it__link(href="http://www.youtube.com/watch?v=NpEaa2P7qZI") 
		.video-page__more(data-pagelenght='4')
				span
					<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M9 0V18M0 9H18" stroke="#0A2973" stroke-width="2"/>
					</svg>
					| Показать еще

